<template>
    <div>
        <heading-view
            heading-icon="mdi-clipboard-text-clock-outline"
            heading-text="Historial caja chica"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <petty-cash-list/>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
import PettyCashList from "../../../components/PettyCash/PettyCashList";
export default {
    name: "PettyCashIndex",
    components:{
        HeadingView,
        PettyCashList,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Caja chica',
                disabled: false,
                href: 'pettyCashHistories.menu',
            },
            {
                text: 'Historial caja chica',
                disabled: true,
                href: 'pettyCashHistories.view',
            }
        ],
    }),
    methods:{
    }
}
</script>

<style scoped>

</style>
