<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="wallet"
            heading-text="Caja chica"
            use-support-text
            suport-text="Estas son las opciones relacionadas con la caja chica del negocio."
        />
        <v-row class="mt-4">
            <v-col cols="12" sm="6" md="4" lg="3" xl="3" v-for="menu in menus" :key="menu.name" >
                <v-card
                    outlined
                    color="white"
                    max-width="350"
                    class="mx-auto"
                    @click="gotoRoute(menu.url)"
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-subtitle class="font-weight-bold header--text" v-text="menu.name"></v-card-subtitle>
                        </div>
                        <v-avatar
                            class="ma-3"
                            size="95"
                            tile
                        >
                            <v-icon
                                color="primary"
                                x-large
                            > mdi-{{menu.icon}}</v-icon>
                        </v-avatar>
                    </div>
                </v-card>
            </v-col>
        </v-row>

        <petty-cash-pending
            :open="openPending"
            @close="closePending"
            @dialog-pending="( val ) => ( openPending = val )"
        />

    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
import PettyCashPending from "../../../components/PettyCash/PettyCashPending";
export default {
    name: "PettyCashIndex",
    components:{
        HeadingView,
        PettyCashPending,
    },
    data: () => ({
        menus: [],
        openPending: false,
        dialogHRC: false,
        loadingGoToCR: false,
        loadingCheckCR: false,
        availableToDaily : false,
        pendingRoutes: {},
    }),
    methods:{
        closePending(){
            this.openPending= false;
        },
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        handelMenu(){
            this.menus = [
                {
                    icon: 'cash-multiple',
                    name: "Caja chica diaria",
                    url: "pettyCashHistories.dailyView",
                },
                {
                    icon: 'clipboard-text-clock-outline',
                    name: "Historial de caja chica",
                    url: "pettyCashHistories.view",
                },
                {
                    icon: 'cash-plus',
                    name: "Historial de igresos",
                    url: "dailyIncomes.view",
                },
                {
                    icon: 'cash-minus',
                    name: "Historial de retiros",
                    url: "dailySpends.view",
                },
            ];
        },

    },
    mounted() {
        this.handelMenu();
    },
}
</script>

<style scoped>

</style>
