<template>
    <div>
        <heading-view
            heading-icon="mdi-cash-multiple"
            heading-text="Caja chica diaria"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <daily></daily>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import Daily from "../../../components/PettyCash/Daily";
export default {
    name: "PettyCashDaily",
    components:{
        HeadingView,
        Daily,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Caja chica',
                disabled: false,
                href: 'pettyCashHistories.menu',
            },
            {
                text: 'registros diarios',
                disabled: true,
                href: 'pettyCashHistories.dailyView',
            }
        ],
    }),
    methods:{

    }
}
</script>

<style scoped>

</style>
