<template>
    <div>
        <heading-view
            heading-icon="mdi-calendar-sync-outline"
            heading-text="Refinanciamientos de prestamos"
            use-support-text
            suport-text="Vea directamente los prestamos que son un refinanciamiento de OTRO."
        />
        <v-row>
            <v-col cols="12">
                <refinanced-loan-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RefinancedLoanList from "../../../components/RefinancedLoan/RefinancedLoanList";
export default {
    name: "RefinancedLoanIndex",
    components:{
        HeadingView,
        RefinancedLoanList
    }
}
</script>

<style scoped>

</style>
