<template>
    <div>
        <heading-view
            heading-icon="mdi-calendar-sync-outline"
            :heading-text="`Editar refinanciamiento:  ${loand.correlative}`"
            use-support-text
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row>
            <v-col cols="12">
                <form-loand
                    :loand-param="loand"
                    :customer-param="customer"
                    :refinanced="true"
                    @formLoandSubmit="updateLoand"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormLoand from "../../../components/Settings/Loands/FormLoand";
export default {
    name: "RefinancedLoanEdit",
    props: {
        loand: Object,
        customer: Object,
    },
    components:{
        HeadingView,
        FormLoand,
    },
    data:  () => ({
        breadCrums: [
            {
                text: 'Refinanciamientos',
                disabled: false,
                href: 'refinancedLoands.view',
            },
            {
                text: 'Crear refinanciamiento',
                disabled: true,
                href: 'refinancedLoands.create',
            }
        ],
        item:{
            correlative : "",
            customer_id : " ",
            type : "",
            state : "",
            dues : "",
            interest_percentage : "",
            loan_purpose : "",
            late_fee : "",
            borrowed_amount : "",
            interest_amount : "",
            total_amount : "",
            fixed_fee : "",
        },
    }),
    methods: {
        updateLoand(data){
            this.$inertia.put(
                this.route('loands.update', this.loand),
                data.item
            )
        }
    }
}
</script>

<style scoped>

</style>
