<template>
    <v-dialog v-model="dialog" max-width="480px" persistent>
        <v-card class="pa-2">
            <v-card-title class="text-h6 primary--text">
                <v-icon large color="hederColor" class="pr-2">
                    mdi-alert-circle-outline</v-icon
                >
                {{ title }}
            </v-card-title>
            <v-card-text v-if="text">
                <p>
                    {{ text }}
                </p>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    @click="closeDelete"
                    color="support"
                    text
                    :disabled="loadingDelete"
                >
                    {{ textBtnCancel || "volver" }}
                </v-btn>
                <v-btn
                    @click="handleConfirm"
                    :loading="loadingDelete"
                    outlined
                    color="primary"
                >
                    {{ textBtnAcept || "si, continuar" }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "DialogDelete",
    props: {
        title: String,
        text: String,
        textBtnAcept: String,
        textBtnCancel: String,
        loadingDelete: Boolean,
        dialogDelete: Boolean,
    },
    data: () => ({
        dialog: false,
    }),
    methods: {
        handleConfirm() {
            this.$emit("handle-confirm");
        },
        closeDelete() {
            this.$emit("close-delete");
        },
    },
    watch: {
        dialog(value) {
            this.$emit("dialog-delete", value);
        },
        dialogDelete(val) {
            this.dialog = val;
        },
    },
}
</script>

<style scoped>

</style>
