<template>
 <div>
     <v-row class="my-2">
         <v-col cols="12" sm="12" md="6">
             <h2 class="font-weight-bold header--text d-flex align-end">
                 <box-icon
                     v-if="bxIcon"
                     :name="headingIcon"
                     size="md"
                     class="bx-right"
                     :color="'#37474f'"
                 />
                 <v-icon v-else color="blue-grey darken-3" large left>
                     {{ headingIcon }}
                 </v-icon>
                 <span class="">{{ headingText }}</span>
             </h2>
         </v-col>
         <v-col v-if="useBreadCrumbs" cols="12" sm="12" md="6" class="d-flex justify-md-end">
             <BreadCrumbs :items-bread-crumbs="itemsBreadcrumbs" ></BreadCrumbs>
         </v-col>
         <v-col v-if="useSupportText" cols="12" class="">
                <span class="support--text font-weight-medium">
                   <p>{{ suportText }}</p>
                </span>
         </v-col>
     </v-row>
 </div>
</template>

<script>
import BreadCrumbs from "../BreadCrumbs";
export default {
    name: "HeadingView",
    components:{
        BreadCrumbs
    },
    props: {
        bxIcon: Boolean,
        headingIcon: String,
        headingText: String,
        useSupportText : Boolean,
        suportText : String,
        useBreadCrumbs : Boolean,
        itemsBreadcrumbs: Array
    }
}
</script>

<style scoped>
 p{
     font-size: 0.9rem;
 }
 .bx-right{
     margin-right: 8px;
 }
</style>
