<template>
    <div>
        <v-card v-if="loadingCheck" flat >
            <v-card-text class="py-15">
                <v-row class="py-15" no-gutters>
                    <v-col cols="12" class="pt-15 no-gutters" align="center" justify="center">
                        <v-progress-circular
                            class="pt-15"
                            indeterminate
                            color="primary"
                        ></v-progress-circular>
                    </v-col>
                    <v-col
                        cols="12"
                        class="p-0 grey--text text--darken-3"
                        align="center"
                        justify="center"
                    >
                        <h2>Un momento por favor...</h2>
                        <small class="font-weight-medium">estamos obteniendo la información.</small>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-card v-else flat class="pa-5">
            <v-row>
                <v-col
                    cols="12"
                    :align="$vuetify.breakpoint.xs?'':'right'"
                    order="2"
                    order-sm="1"
                >
                    <v-btn
                        @click="openPettyCashClose"
                        :block="$vuetify.breakpoint.xs"
                        color="primary"
                        elevation="0"
                        :disabled="!pettyCashDaily || pettyCashDaily.state==='CERRADA'"
                    >
                        Guardar en historico
                    </v-btn>
                </v-col>
                <v-col
                    cols="12"
                    order="1"
                    order-sm="2"
                >
                    <v-row v-if="pettyCashDaily.id">
                        <v-col cols="12" v-if="$vuetify.breakpoint.smAndUp">
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12">
                            <v-card flat>
                                <v-card-title class="text-h6 secondary--text font-weight-bold">
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-icon large color="primary" class="pr-2">
                                                mdi-cash
                                            </v-icon>
                                            {{pettyCashDaily.correlative}}
                                        </v-col>
                                        <v-col cols="12" md="6" align="right">
                                            <span class="font-weight-medium pr-4">
                                                <small>
                                                    {{pettyCashDaily.date}}
                                                </small>
                                            </span>
                                            <v-chip
                                                class="ma-1"
                                                :color="pettyCashDaily.state==='ABIERTA'? 'primary':'secondary'"
                                                text-color="white"
                                                small
                                            >
                                                {{ pettyCashDaily.state }}
                                            </v-chip>
                                        </v-col>
                                    </v-row>

                                </v-card-title>
                                <v-card-text>
                                    <v-row class="pt-5">
                                        <v-col cols="12" md="6" class="offset-md-3">
                                            <v-row>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4>
                                                                Saldo Inicial diario:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4>
                                                                {{formatCurrencyGT(pettyCashDaily.initial_balance)}}
                                                            </h4>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4>
                                                                + Ingresos diarios:
                                                            </h4>
                                                        </v-col>
                                                        <v-col ols="12" sm="5" align="right">
                                                            <h4>
                                                                {{formatCurrencyGT(total_daily_income)}}
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="1">
                                                            <v-btn
                                                                @click="openDailyIncomeForm"
                                                                :block="$vuetify.breakpoint.xs"
                                                                :x-small="!$vuetify.breakpoint.xs"
                                                                elevation="0"
                                                                color="primary"
                                                                :disabled="!pettyCashDaily || pettyCashDaily.state==='CERRADA'"
                                                            >
                                                                <v-icon
                                                                    small
                                                                    :left="$vuetify.breakpoint.xs"
                                                                >
                                                                    mdi-plus
                                                                </v-icon>
                                                                <span v-if="$vuetify.breakpoint.xs">
                                                                    agregar ingreso
                                                                </span>
                                                            </v-btn>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4>
                                                                + Cobros de cuota diarios:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4>
                                                                {{formatCurrencyGT(total_fees_collected)}}
                                                            </h4>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-divider> </v-divider>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4 class="font-weight-bold primary--text">
                                                                Subtotal:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4 class="font-weight-bold primary--text">
                                                                {{formatCurrencyGT(subtotal)}}
                                                            </h4>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4>
                                                                - Retiros diarios:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4>
                                                                {{formatCurrencyGT(total_daily_withdrawals)}}
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="1">
                                                            <v-btn
                                                                @click="openDailySpendForm"
                                                                :block="$vuetify.breakpoint.xs"
                                                                :x-small="!$vuetify.breakpoint.xs"
                                                                elevation="0"
                                                                color="primary"
                                                                :disabled="!pettyCashDaily || pettyCashDaily.state==='CERRADA'"
                                                            >
                                                                <v-icon
                                                                    small
                                                                    :left="$vuetify.breakpoint.xs"
                                                                >
                                                                    mdi-plus
                                                                </v-icon>
                                                                <span v-if="$vuetify.breakpoint.xs">
                                                                    agregar retiro
                                                                </span>
                                                            </v-btn>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4>
                                                                - Prestamos diarios Otorgados:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4>
                                                                {{formatCurrencyGT(total_loans_granted)}}
                                                            </h4>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                                <v-col cols="12">
                                                    <v-divider> </v-divider>
                                                </v-col>
                                                <v-col cols="12" class="">
                                                    <v-row class="px-sm-10 px-2">
                                                        <v-col cols="12" sm="6" align="">
                                                            <h4 class="font-weight-bold primary--text">
                                                                Total:
                                                            </h4>
                                                        </v-col>
                                                        <v-col cols="12" sm="5" align="right">
                                                            <h4 class="font-weight-bold primary--text">
                                                                {{formatCurrencyGT(total)}}
                                                            </h4>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row v-else align="center">
                        <v-col cols="12" align="center">
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" align="center" class="pt-15">
                            <data-empty
                                text="Aún no se ha creado la caja chica diaria"
                            />
                            <v-btn
                                class="mb-10"
                                elevation="0"
                                color="primary"
                                @click="openPettyCashDailyForm"
                            >
                                crear
                            </v-btn>
                        </v-col>
                    </v-row>

                </v-col>
            </v-row>
        </v-card>
        <petty-cash-form-create
            :petty-cash-daily-prev-param="pettyCashDailyPrev"
            v-if="dialogPettyCashDailyForm"
            @close="closePettyCashDailyForm"
            @refresh-petty-cash="refresh"
        />
        <daily-income-form
            :petty-cash-daily-param="pettyCashDaily"
            v-if="dialogDailyIncomeForm"
            @close="closeDailyIncomeForm"
            @refresh-daily-income="getTotalDailyIncome"
        />
        <daily-spend-form
            :petty-cash-daily-param="pettyCashDaily"
            v-if="dialogDailySpendForm"
            @close="closeDailySpendForm"
            @refresh-daily-spend="getTotalDailySpend"
        />
        <petty-cash-pending
            no-back
            :open="openPending"
            @close="closePending"
            @dialog-pending="( val ) => ( openPending = val )"
            @make-check="makeCheck"
        />
        <petty-cash-close
            :open="openPettyCashCloseForm"
            :item="pettyCashDaily"
            @close="closePettyCashClose"
        />

        <v-dialog v-model="dialogHRC" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Rutas sin cuadrar
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <p>
                            No puedes cerrar caja chica sin antes cuadrar la ruta diaria.
                        </p>
                        <small>( no importa si tienen valor 0, se debe guardar registro).</small>
                        <p class="pt-5">
                            <Strong>Rutas pendientes: </Strong>
                        </p>
                        <ul>
                            <li v-for="(item, index) in pendingRoutes">
                                {{item}}
                            </li>
                        </ul>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogHRC=false" :disabled="loadingGoToCR"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="gotoCR()" :loading="loadingGoToCR">
                        cuadrar rutas
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {EventBus} from "../../EventBus";
import PettyCashFormCreate from "./PettyCashFormCreate";
import DataEmpty from "../ui/DataTable/DataEmpty";
import {formatCurrencyGT} from "../../utils/formats";
import DailyIncomeForm from "../DailyIncome/DailyIncomeForm";
import DailySpendForm from "../DailySpend/DailySpendForm";
import PettyCashPending from "./PettyCashPending";
import PettyCashClose from "./PettyCashClose";
export default {
    name: "Daily",
    components:{
      DailySpendForm,
      PettyCashFormCreate,
      DataEmpty,
      DailyIncomeForm,
      PettyCashPending,
      PettyCashClose,
    },
    data: () => ({
        pettyCashDaily : {},
        pettyCashDailyPrev : {},
        loadingCheck : false,
        dialogPettyCashDailyForm: false,
        dialogDailyIncomeForm: false,
        dialogDailySpendForm: false,
        total_daily_income : 0,
        total_fees_collected : 0,
        total_daily_withdrawals : 0,
        total_loans_granted : 0,
        openPending: false,
        openPettyCashCloseForm: false,

        dialogHRC: false,
        loadingGoToCR: false,
        loadingCheckCR: false,
        availableToDaily : false,
        pendingRoutes: {},
    }),
    computed:{
        subtotal(){
            return parseFloat(this.total_daily_income) +
                parseFloat(this.total_fees_collected) +
                parseFloat(this.pettyCashDaily.initial_balance ? this.pettyCashDaily.initial_balance : 0);
        },
        total(){
            let ingresos = parseFloat(this.total_daily_income) +
                parseFloat(this.total_fees_collected) +
                parseFloat(this.pettyCashDaily.initial_balance ? this.pettyCashDaily.initial_balance : 0);
            let retiros = parseFloat(this.total_daily_withdrawals) +
                parseFloat(this.total_loans_granted);

            return ingresos - retiros;
        }
    },
    watch:{
        openPending(val){
            if(val===false){
                this.checkPettyCashDaily();
            }
        },
    },
    methods:{
        gotoCR(){
            this.loadingGoToCR=true;
            this.$inertia.get(route('routeCheckHistories.routesAvailables'));
            this.dialogHRC= false;
            this.loadingGoToCR=false;
        },
        closePending(){
            this.openPending= false;
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value)
        },
        async checkPettyCashDaily(){
            this.loadingCheck = true;
            try {
                const response = await axios.get(route('pettyCashHistories.check'))
                let exist = response.data.exist;
                if(response.data.pettyCashDaily){
                    this.pettyCashDaily = response.data.pettyCashDaily;
                }
                this.pettyCashDailyPrev = response.data.pettyCashDailyPrev;
                if(!exist){
                    this.openPettyCashDailyForm();
                }
                this.loadingCheck = false;
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento comprobar la caja chica diaria, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        async getTotalDailyIncome(){
            try {
                const response = await axios.get(route('dailyIncomes.totalDaily'))
                this.total_daily_income = response.data.totalDailyIncome;
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento obtener el total de ingresos, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        async getTotalDailySpend(){
            try {
                const response = await axios.get(route('dailySpends.totalDaily'))
                this.total_daily_withdrawals = response.data.totalDailySpend;
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento obtener el total de retiros, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        async getTotalDailyGranted(){
            try {
                const response = await axios.get(route('loands.totalDailyGranted'))
                this.total_loans_granted = response.data.total_loans_granted;
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento obtener el total de prestamos otorgados, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        async getTotalFeesCollected(){
            try {
                const response = await axios.get(route('payments.totalDailyCollected'))
                this.total_fees_collected = response.data.total_fees_collected;
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento obtener el total de cuotas cobradas, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        openPettyCashDailyForm(){
            this.dialogPettyCashDailyForm = true;
        },
        closePettyCashDailyForm(){
            this.dialogPettyCashDailyForm = false;
        },
        openDailyIncomeForm(){
            this.dialogDailyIncomeForm = true;
        },
        closeDailyIncomeForm(){
            this.dialogDailyIncomeForm = false;
        },
        openDailySpendForm(){
            this.dialogDailySpendForm = true;
        },
        closeDailySpendForm(){
            this.dialogDailySpendForm = false;
        },
        refresh(){
          this.checkPettyCashDaily();
        },
        makeCheck(val){
            if(val === true){
                this.checkPettyCashDaily();
            }
        },
        async openPettyCashClose(item) {
            this.loadingCheckCR = true;
            const response = await axios.get(route('routeCheckHistories.checkDailyHistories'));
            this.availableToDaily = response.data.exist;
            this.pendingRoutes = response.data.pendingRoutes;
            this.loadingCheckCR = false;
            if(!this.availableToDaily){
                this.dialogHRC = true;
                return;
            }
            this.openPettyCashCloseForm = true;
        },
        closePettyCashClose(){
            this.openPettyCashCloseForm = false;
        },
    },
    mounted() {
        this.getTotalDailyGranted();
        this.getTotalFeesCollected()
        this.getTotalDailyIncome();
        this.getTotalDailySpend();
    },
}
</script>

<style scoped>

</style>
