<template>
    <v-dialog v-model="dialog" max-width="480px" persistent>
        <v-card class="pa-2">
            <v-card-title class="text-h6 primary--text">
                <v-icon large color="hederColor" class="pr-2">
                    mdi-alert-circle-outline</v-icon
                >
                Caja chica pendiente de cierre
            </v-card-title>
            <v-card-text>
                <p>
                    Existe una caja chica con fecha anterior a la actual que no se ha cerrado, por favor realiza el cierre de caja.
                </p>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn color="support" v-if="!noBack" text @click="close" :disabled="loadingSave"> volver </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="goToHistory" :loading="loadingSave"> ir al historial de caja chica </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {EventBus} from "../../EventBus";
export default {
    name: "PettyCashPending",
    props:{
        open: Boolean,
        noBack: Boolean,
    },
    data(){
        return {
            dialog: false,
            loadingSave: false,
        };
    },
    watch:{
        open(val) {
            this.dialog = val;
        },
        dialog(value) {
            this.$emit("dialog-pending", value);
        },
    },
    methods: {
        close() {
            this.$emit("close");
        },
        async checkPending(){
            try {
                const response = await axios.get(route('pettyCashHistories.checkPending'))
                let exist = response.data.exist;
                if(exist){
                    this.dialog = true;
                }else{
                    this.$emit("make-check", true);
                }
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento comprobar las cajas chicas pendientes, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
        goToHistory(){
            this.$inertia.get(route('pettyCashHistories.view'))
        }
    },
    mounted() {
        this.checkPending()
    }
}
</script>

<style scoped>

</style>
