<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <v-icon color="primary" class="pr-2" large>
                    mdi-cash-lock
                </v-icon>
                Cerrar : {{item.correlative || ""}}
            </v-card-title>
            <v-card-text>
                <v-form ref="form" lazy-validation>
                    <v-row class="pt-5">
                        <v-col cols="12">
                            <div class="pt-md-2">
                                <p>
                                    <Strong>Nota: </Strong>Al cerrar la caja diaria, se tomarán los siguientes valores en el sistema correspondientes a la fecha.
                                </p>
                                <ul>
                                    <li>Cobros realizados</li>
                                    <li>Prestamos otorgados</li>
                                    <li>Ingresos y Retiros</li>
                                </ul>
                            </div>
                            <p class="pt-4">
                                <Strong class="primary--text">¡POR HOY!, </Strong> ya no se podran aprobar prestamos, realizar cobros, ingresos o retiros.
                                <span class="secondary--text font-weight-medium">se cerrarán operaciones.</span>
                            </p>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                            <v-text-field
                                :value.sync="computedDateFormatted"
                                label="Fecha de caja chica"
                                prepend-inner-icon="mdi-calendar"
                                readonly
                                outlined
                                dense
                                hint="no editable"
                                persistent-hint
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn color="support"  text @click="close" :disabled="loadingSave"> volver </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="save" :loading="loadingSave"> si, cerrar </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {EventBus} from "../../EventBus";
export default {
    name: "PettyCashClose",
    props:{
        item: Object,
        open: Boolean,
    },
    data(){
        return {
            dialog: this.open,
            loadingSave: false,
        };
    },
    computed:{
        computedDateFormatted () {
            return this.formatDateCustom(this.item.date)
        },
    },
    watch:{
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods: {
        formatDateCustom (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatDateReverse (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${year}-${month}-${day}`
        },
        close() {
            this.$emit("close");
        },
        save(){
            this.loadingSave = true;
            let data = {
                date: this.formatDateReverse(this.item.date)
            };
            this.$inertia.post(this.route('pettyCashHistories.close',{
                    pettyCashHistory:this.item.id,
                }),data,{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.$emit("refresh-petty-cash-list");
                        this.close();
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de cerrar la caja diaria.",
                            type: "error",
                        });
                    },
                }
            );
        }
    }
}
</script>

<style scoped>

</style>
