<template>
    <v-dialog v-model="dialog" max-width="460px" persistent>
        <v-card class="pa-2">
            <v-card-title>
                <span class="text-h6 support--text font-weight-bold">Crear caja chica diaria</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <p>
                        <Strong>Nota: </Strong>Al abrir la caja diaria, se tomarán los siguientes valores en el sistema correspondientes a la fecha actual.
                    </p>
                    <ul>
                        <li>Cobros realizados</li>
                        <li>Prestamos otorgados</li>
                        <li>Ingresos y Retiros</li>
                    </ul>
                    <v-form ref="pettyCashCreateForm" lazy-validation>
                        <v-row>
                            <v-col cols="12" class="pt-10">
                                <v-text-field
                                    label="Monto inicial"
                                    v-model="initial_balance"
                                    :readonly="!!pettyCashDailyPrev.id"
                                    :hint="labelInitialAmount"
                                    :rules="[rules.required, rules.float]"
                                    @keypress="onlyNumberFloat($event)"
                                    persistent-hint
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="pt-10">
                                <v-text-field
                                    :value.sync="computedDateFormatted"
                                    label="Fecha de la caja"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    hint="no editable"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>

                <v-btn @click="close" :disabled="loadingSave" text color="support">
                    Volver
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    @click="save"
                    elevation="0"
                    :loading="loadingSave"
                    color="primary"
                >
                    Abrir caja diaria
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {EventBus} from "../../EventBus";

export default {
    name: "PettyCashFormCreate",
    props:{
        pettyCashDailyPrevParam: Object,
    },
    data: () => ({
        pettyCashDailyPrev: {},
        loadingSave : false,
        dialog: true,
        initial_balance:"",
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            float:
                value => /^[0-9]*$|^[0-9]*\.?[0-9]+?$/.test(value)
                    || "Ingresa un numero valido.",
        },
    }),
    computed: {
        computedDateFormatted () {
            return this.formatDate(this.today)
        },
        labelInitialAmount(){
            return this.pettyCashDailyPrev !== null ? `Corresponde al monto de cierre en fecha ${this.pettyCashDailyPrev?.date} (no editable)` : "Ingrese la cantidad con la que empezará la caja chica.";
        }
    },
    methods:{
        onlyNumberFloat: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9.]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        save(){
            if (!this.$refs.pettyCashCreateForm.validate()) return;
            this.loadingSave = true;
            this.$inertia.post(this.route('pettyCashHistories.store'), {
                initial_balance:this.initial_balance
                },{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.close();
                        this.$emit("refresh-petty-cash");
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de abrir la caja chica.",
                            type: "error",
                        });
                    },
                }
            );
        },
        close() {
            this.$refs.pettyCashCreateForm.resetValidation();
            this.$emit("close");
        },
        setLastAmount(){
            if(this.pettyCashDailyPrevParam !== null ){
                this.pettyCashDailyPrev = this.pettyCashDailyPrevParam;
                this.initial_balance = this.pettyCashDailyPrev.ending_balance;
            }
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
    },
    mounted() {
        this.setLastAmount();
    }
}
</script>

<style scoped>

</style>
