<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :search="searchFilter"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Cajas chicas por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateFrom"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateFromFormatted"
                                    label="Fecha inicial"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateFrom"
                                @input="menuDateFrom = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateTo"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateToFormatted"
                                    label="Fecha final"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateTo"
                                @input="menuDateTo = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="3"
                        md="2"
                    >
                        <v-btn block color="primary" elevation="0" class="py-5" @click="getItems">
                            filtrar
                        </v-btn>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-text-field
                            append-icon="mdi-magnify"
                            label="Buscar"
                            single-line
                            outlined
                            dense
                            v-model="searchFilter"
                            clearable
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total de ingresos
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(totalIngresos || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total de cobros
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(totalCobros || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total de retiros
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(totalRetiros || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total de <span >{{ $vuetify.breakpoint.xs || $vuetify.breakpoint.lgAndUp ?"prestamos":"prest."}}</span>
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(totalPrestamos || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos cajas chicas en el rango de fechas."
                />
            </template>
            <template v-slot:item.initial_balance="{item}">
                <span>{{ formatCurrencyGT(item.initial_balance || 0) }}</span>
            </template>
            <template v-slot:item.total_daily_income="{item}">
                <span>{{ formatCurrencyGT(item.total_daily_income || 0) }}</span>
            </template>
            <template v-slot:item.total_fees_collected="{item}">
                <span>{{ formatCurrencyGT(item.total_fees_collected|| 0) }}</span>
            </template>
            <template v-slot:item.total_daily_withdrawals="{item}">
                <span>{{ formatCurrencyGT(item.total_daily_withdrawals || 0) }}</span>
            </template>
            <template v-slot:item.total_loans_granted="{item}">
                <span>{{ formatCurrencyGT(item.total_loans_granted || 0) }}</span>
            </template>
            <template v-slot:item.ending_balance="{item}">
                <span>{{ formatCurrencyGT(item.ending_balance || 0) }}</span>
            </template>
            <template v-slot:item.open_by_name="{item}">
                <span>{{ item.open_by_name || "---" }}</span>
            </template>
            <template v-slot:item.closed_by_name="{item}">
                <span>{{ item.closed_by_name || "---" }}</span>
            </template>
            <template v-slot:item.state="{item}">
                <v-chip
                    class="ma-1"
                    :color="colorState(item)"
                    text-color="white"
                    small
                >
                    <strong>{{ item.state }}</strong>
                </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <ui-table-actions
                    :item="item"
                >
                    <template v-slot:preActions>
                        <v-list-item  @click="openPettyCashClose(item)" v-if="availableToReversion(item)">
                            <v-list-item-icon>
                                <v-icon color="primary" small right>
                                    mdi-cash-lock
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>
                                    cerrar caja
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </ui-table-actions>
            </template>
        </v-data-table>
        <petty-cash-close
            :open="openPettyCashCloseForm"
            :item="tempItem"
            @close="closePettyCashClose"
            @refresh-petty-cash-list="getItems"
        />
    </div>
</template>
<script>
import {formatCurrencyGT} from "../../utils/formats";
import UiTableActions from "../ui/DataTable/UiTableActions";
import moment from "moment";
import {EventBus} from "../../EventBus";
import DataEmpty from "../ui/DataTable/DataEmpty";
import PettyCashClose from "./PettyCashClose";
export default {
    name: "PettyCashList",
    components:{
        UiTableActions,
        DataEmpty,
        PettyCashClose,
    },
    data: ()  => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha',
                value: 'date',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Saldo inicial",
                value: "initial_balance"
            },
            {
                text: 'Ingresos',
                value: 'total_daily_income',
            },
            {
                text: 'Cobros en ruta',
                value: 'total_fees_collected',
            },
            {
                text: 'Retiros',
                value: 'total_daily_withdrawals',
            },
            {
                text: 'Prestamos',
                value: 'total_loans_granted',
            },
            {
                text: 'Total al cierre',
                value: 'ending_balance',
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: 'Creado por',
                value: 'open_by_name',
            },
            {
                text: 'Cerrado por',
                value: 'closed_by_name',
            },
            {
                text: "Acciones",
                value: "actions",
                sortable: false
            },
        ],
        tempItem: {},
        openShow: false,
        openPettyCashCloseForm: false,
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        },
        totalIngresos(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ total_daily_income }) => sum + total_daily_income, 0)
            }
            return 0;
        },
        totalCobros(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,item) => sum + item.total_fees_collected, 0)
            }
            return 0;
        },
        totalRetiros(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ total_daily_withdrawals }) => sum + total_daily_withdrawals, 0)
            }
            return 0;
        },
        totalPrestamos(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ total_loans_granted }) => sum + total_loans_granted, 0)
            }
            return 0;
        },
    },
    methods:{
        availableToReversion(item){
            // REVERSION CAJA
            return this.todayFormatedDB > item.date && item.state === "ABIERTA";
            //return true;
        },
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        colorState(item){
            return item.state=== "ABIERTA" ? "primary" : "secondary";
        },
        viewItem(item) {
            this.tempItem = Object.assign({}, { ...item});
            this.openShow = true;
        },
        closeViewItem(){
            this.openShow = false;
            this.tempItem = Object.assign({}, {});
        },
        openPettyCashClose(item) {
            this.tempItem = Object.assign({}, { ...item});
            this.openPettyCashCloseForm = true;
        },
        closePettyCashClose(){
            this.openPettyCashCloseForm = false;
            this.tempItem = Object.assign({}, {});
        },
        async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('pettyCashHistories.index'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },
        cancelItem(item){

        },
        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },

    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>

</style>
