<template>
    <v-card
        flat
        :loading="loading"
    >
        <v-list-item three-line>
            <v-list-item-content>
                <div class="text-overline font-weight-bold mb-1" style="width: 100%">
                    <h4>Monto diario global a cobrar en rutas</h4>
                    <span class="pl-5 reload-button">
                      <v-btn
                          @click="getInfo"
                          text
                          icon
                          x-small
                      >
                        <v-icon dense >mdi-reload</v-icon>
                      </v-btn>
                    </span>
                </div>
                <div class="mb-2">
                    <small>Se toman en cuenta las cuotas de hoy, las atrasadas y los montos de mora que tienen los prestamos para cada cuota atrasada.</small>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                    <v-progress-circular
                        v-if="loading"
                        indeterminate
                        color="primary"
                    ></v-progress-circular>
                    <span v-else>
                        {{ formatCurrencyGT(total) }}
                    </span>
                </v-list-item-title>
            </v-list-item-content>
            <v-list-item-avatar
                class="mt-5"
                tile
                size="80"
                color="white"
            >
                <v-icon x-large color="primary">
                    mdi-motorbike
                </v-icon>
            </v-list-item-avatar>
        </v-list-item>
    </v-card>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";
export default {
    name: "dailyRouteAmount",
    data: () => ({
        total : "",
        loading:false,
    }),
    methods:{
        async getInfo(){
            this.loading = true;
            const response = await axios.get(route('kpi.dailyRouteAmount'))
            this.total = response.data.total;
            this.loading = false;
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        }
    },
    computed:{
        colorIcon(){
            return this.$vuetify.theme.themes.light.primary;
        }
    },
    mounted() {
        this.getInfo()
    }
}
</script>

<style scoped>
.reload-button{
  position: absolute;
  right: 13px;
  top: 0px;
  z-index: 1;
}
</style>
