<template>
    <v-card
        flat
        :loading="loading"
    >
        <v-list-item three-line>
            <v-list-item-content>
                <div class="text-overline font-weight-bold mb-4" style="width: 100%">
                    <h4>Prestamos por aprobar</h4>
                    <span class="pl-5 reload-button">
                      <v-btn
                          @click="getInfo"
                          text
                          icon
                          x-small
                      >
                        <v-icon dense >mdi-reload</v-icon>
                      </v-btn>
                    </span>
                </div>
                <v-list-item-title class="text-h5 mb-1">
                    <v-progress-circular
                        v-if="loading"
                        indeterminate
                        color="primary"
                    ></v-progress-circular>
                    <span v-else>
                        {{ total }}
                    </span>
                </v-list-item-title>
            </v-list-item-content>
            <v-list-item-avatar
                class="mt-5"
                tile
                size="80"
                color="white"
            >
                <box-icon
                    name="time"
                    size="lg"
                    :color="colorIcon"
                />
            </v-list-item-avatar>
        </v-list-item>
    </v-card>
</template>

<script>
export default {
    name: "loanToApprove",
    data: () => ({
        total : "",
        loading:false,
    }),
    methods:{
        async getInfo(){
            this.loading = true;
            const response = await axios.get(route('kpi.loanToApprove'))
            this.total = response.data.total;
            this.loading = false;
        }
    },
    computed:{
        colorIcon(){
            return this.$vuetify.theme.themes.light.primary;
        }
    },
    mounted() {
        this.getInfo()
    }
}
</script>

<style scoped>
.reload-button{
    position: absolute;
    right: 13px;
    top: 0px;
    z-index: 1;
}
</style>
