<template>
  <v-card flat max-height="">
    <v-card-text>
      <v-row class="pt-0 px-0">
        <v-col
          cols="12"
          sm="5"
          align="right"
          class="d-sm-flex align-sm-center justify-sm-end"
        >
          <h1 class="pa-5 interlineado">
            ¡ Nos alegra que estes de vuelta
            <span class="primary--text">{{ firstName}}</span> !
          </h1>
        </v-col>
        <v-col
          cols="12"
          sm="7"
          align="right"
          class="d-sm-flex pb-0 justify-sm-end align-sm-end px-0"
        >
          <img src="/images/saludo.png" alt="alt" width="120" class="" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "welcome",
  computed: {
    firstName() {
      return this.$page.props.auth.user.firstName.split(" ")[0];
    },
  },
};
</script>

<style scoped>
.interlineado {
  line-height: 1.2em;
}
</style>
