<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :search="searchFilter"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Prestamo por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">

                    <v-col cols="12" md="6">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Fecha Actual:
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{todayFormatedDB}}
                            </h4>
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Creditos activos
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ total_creditos || 0 }} creditos(s)
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12">
                        <small class="grey--text text--darken-3">
                            <strong>Nota:</strong>
                            Tomar en cuenta la diferencia que puede ser causada por las moras aplicadas a las cuotas atrasadas.
                        </small>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto total prestado
                            </h3>
                            <h4 class="support--text text--lighten-2 ">
                                {{ formatCurrencyGT(total_montoPrestado) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto total cobrado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_montoCobrado) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto total por cobrar
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_montoxCobrar) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Capital cobrado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_capitalCobrado) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Interés cobrado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_interesCobrado) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Mora cobrada
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_moraCobrada) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Capital por cobrar
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_capitalxCobrar) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Interés por cobrar
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_interesxCobrar) }}
                            </h4>
                        </v-card>
                    </v-col>


                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos diarios
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3" align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ daily_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.montoPrestado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.montoCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.montoxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.capitalCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.interesCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Mora cobrada
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.moraCobrada)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.capitalxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_loans.interesxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos semanales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3" align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ weekly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.montoPrestado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.montoCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.montoxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.capitalCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.interesCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Mora cobrada
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.moraCobrada)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.capitalxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_loans.interesxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos quincenales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3" align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ biweekly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.montoPrestado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.montoCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.montoxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.capitalCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.interesCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Mora cobrada
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.moraCobrada)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.capitalxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_loans.interesxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos mensuales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3" align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ monthly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.montoPrestado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.montoCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Monto por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.montoxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.capitalCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.interesCobrado)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Mora cobrada
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.moraCobrada)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Capital por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.capitalxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                    <v-row no-gutters>
                                        <v-col cols="7">
                                            <h5 class="primary--text text--darken-1">
                                                Interés por cobrar
                                            </h5>
                                        </v-col>
                                        <v-col cols="5" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_loans.interesxCobrar)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos prestamos aprobados en el rango de fechas"
                />
            </template>
            <template v-slot:item.correlative="{item}">
                <span class="primary--text click-item" @click="toshowLoand(item)">{{ item.correlative }}</span>
            </template>
            <template v-slot:item.montoPrestado="{item}">
                <span>{{ formatCurrencyGT(item.montoPrestado || 0) }}</span>
            </template>
            <template v-slot:item.montoCobrado="{item}">
                <span>{{ formatCurrencyGT(item.montoCobrado || 0) }}</span>
            </template>
            <template v-slot:item.montoxCobrar="{item}">
                <span>{{ formatCurrencyGT(item.montoxCobrar || 0) }}</span>
            </template>
            <template v-slot:item.capitalCobrado="{item}">
                <span>{{ formatCurrencyGT(item.capitalCobrado || 0) }}</span>
            </template>
            <template v-slot:item.interesCobrado="{item}">
                <span>{{ formatCurrencyGT(item.interesCobrado || 0) }}</span>
            </template>
            <template v-slot:item.moraCobrada="{item}">
                <span>{{ formatCurrencyGT(item.moraCobrada || 0) }}</span>
            </template>
            <template v-slot:item.capitalxCobrar="{item}">
                <span>{{ formatCurrencyGT(item.capitalxCobrar || 0) }}</span>
            </template>
            <template v-slot:item.interesxCobrar="{item}">
                <span>{{ formatCurrencyGT(item.interesxCobrar || 0) }}</span>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import DataEmpty from "../ui/DataTable/DataEmpty";
import {EventBus} from "../../EventBus";
import {formatCurrencyGT} from "../../utils/formats";
import moment from "moment";
export default {
    name: "ApprovedLoansList",
    components:{
        DataEmpty,
    },
    data : () => ({
        searchFilter: "",
        dateFrom : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha de creación',
                value: 'created_at',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Cliente",
                value: "customer"
            },
            {
                text: 'Tipo',
                value: 'type',
            },
            {
                text: 'Monto prestado',
                value: 'montoPrestado',
            },
            {
                text: 'Monto cobrado',
                value: 'montoCobrado',
            },
            {
                text: 'Monto x cobrar',
                value: 'montoxCobrar',
            },
            {
                text: 'Capital cobrado',
                value: 'capitalCobrado',
            },
            {
                text: 'interés cobrado',
                value: 'interesCobrado',
            },
            {
                text: 'Mora cobrada',
                value: 'moraCobrada',
            },
            {
                text: 'Capital x Cobrar',
                value: 'capitalxCobrar',
            },
            {
                text: 'interés x Cobrar',
                value: 'interesxCobrar',
            },
        ],
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        },
        total_creditos(){
            if(this.items.length>0){
                return this.items.length;
            }
            return 0;
        },
        total_montoPrestado(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ montoPrestado }) => sum + montoPrestado, 0)
            }
            return 0;
        },
        total_montoCobrado(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ montoCobrado }) => sum + montoCobrado, 0)
            }
            return 0;
        },
        total_montoxCobrar(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ montoxCobrar }) => sum + montoxCobrar, 0)
            }
            return 0;
        },
        total_capitalCobrado(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ capitalCobrado }) => sum + capitalCobrado, 0)
            }
            return 0;
        },
        total_interesCobrado(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ interesCobrado }) => sum + interesCobrado, 0)
            }
            return 0;
        },
        total_moraCobrada(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ moraCobrada }) => sum + moraCobrada, 0)
            }
            return 0;
        },
        total_capitalxCobrar(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ capitalxCobrar }) => sum + capitalxCobrar, 0)
            }
            return 0;
        },
        total_interesxCobrar(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ interesxCobrar }) => sum + interesxCobrar, 0)
            }
            return 0;
        },
        daily_loans(){
            let obj = {
                'number': 0,
                'montoPrestado' : 0,
                'montoCobrado': 0,
                'montoxCobrar' : 0,
                'capitalCobrado' : 0,
                'interesCobrado' : 0,
                'moraCobrada' : 0,
                'capitalxCobrar' : 0,
                'interesxCobrar' : 0,
            }
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "DIARIO"
                    )
                });
                obj.number = dataFiltered.length;
                obj.montoPrestado = dataFiltered.slice().reduce((sum,{ montoPrestado }) => sum + montoPrestado, 0);
                obj.montoCobrado = dataFiltered.slice().reduce((sum,{ montoCobrado }) => sum + montoCobrado, 0);
                obj.montoxCobrar = dataFiltered.slice().reduce((sum,{ montoxCobrar }) => sum + montoxCobrar, 0);
                obj.capitalCobrado = dataFiltered.slice().reduce((sum,{ capitalCobrado }) => sum + capitalCobrado, 0);
                obj.interesCobrado = dataFiltered.slice().reduce((sum,{ interesCobrado }) => sum + interesCobrado, 0);
                obj.moraCobrada = dataFiltered.slice().reduce((sum,{ moraCobrada }) => sum + moraCobrada, 0);
                obj.capitalxCobrar = dataFiltered.slice().reduce((sum,{ capitalxCobrar }) => sum + capitalxCobrar, 0);
                obj.interesxCobrar = dataFiltered.slice().reduce((sum,{ interesxCobrar }) => sum + interesxCobrar, 0);
            }
            return obj;
        },
        weekly_loans(){
            //SEMANAL
            let obj = {
                'number': 0,
                'montoPrestado' : 0,
                'montoCobrado': 0,
                'montoxCobrar' : 0,
                'capitalCobrado' : 0,
                'interesCobrado' : 0,
                'moraCobrada' : 0,
                'capitalxCobrar' : 0,
                'interesxCobrar' : 0,
            }
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "SEMANAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.montoPrestado = dataFiltered.slice().reduce((sum,{ montoPrestado }) => sum + montoPrestado, 0);
                obj.montoCobrado = dataFiltered.slice().reduce((sum,{ montoCobrado }) => sum + montoCobrado, 0);
                obj.montoxCobrar = dataFiltered.slice().reduce((sum,{ montoxCobrar }) => sum + montoxCobrar, 0);
                obj.capitalCobrado = dataFiltered.slice().reduce((sum,{ capitalCobrado }) => sum + capitalCobrado, 0);
                obj.interesCobrado = dataFiltered.slice().reduce((sum,{ interesCobrado }) => sum + interesCobrado, 0);
                obj.moraCobrada = dataFiltered.slice().reduce((sum,{ moraCobrada }) => sum + moraCobrada, 0);
                obj.capitalxCobrar = dataFiltered.slice().reduce((sum,{ capitalxCobrar }) => sum + capitalxCobrar, 0);
                obj.interesxCobrar = dataFiltered.slice().reduce((sum,{ interesxCobrar }) => sum + interesxCobrar, 0);
            }
            return obj;
        },
        biweekly_loans(){
            //QUINCENAL
            let obj = {
                'number': 0,
                'montoPrestado' : 0,
                'montoCobrado': 0,
                'montoxCobrar' : 0,
                'capitalCobrado' : 0,
                'interesCobrado' : 0,
                'moraCobrada' : 0,
                'capitalxCobrar' : 0,
                'interesxCobrar' : 0,
            }
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "QUINCENAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.montoPrestado = dataFiltered.slice().reduce((sum,{ montoPrestado }) => sum + montoPrestado, 0);
                obj.montoCobrado = dataFiltered.slice().reduce((sum,{ montoCobrado }) => sum + montoCobrado, 0);
                obj.montoxCobrar = dataFiltered.slice().reduce((sum,{ montoxCobrar }) => sum + montoxCobrar, 0);
                obj.capitalCobrado = dataFiltered.slice().reduce((sum,{ capitalCobrado }) => sum + capitalCobrado, 0);
                obj.interesCobrado = dataFiltered.slice().reduce((sum,{ interesCobrado }) => sum + interesCobrado, 0);
                obj.moraCobrada = dataFiltered.slice().reduce((sum,{ moraCobrada }) => sum + moraCobrada, 0);
                obj.capitalxCobrar = dataFiltered.slice().reduce((sum,{ capitalxCobrar }) => sum + capitalxCobrar, 0);
                obj.interesxCobrar = dataFiltered.slice().reduce((sum,{ interesxCobrar }) => sum + interesxCobrar, 0);
            }
            return obj;
        },
        monthly_loans(){
            //MENSUAL
            let obj = {
                'number': 0,
                'montoPrestado' : 0,
                'montoCobrado': 0,
                'montoxCobrar' : 0,
                'capitalCobrado' : 0,
                'interesCobrado' : 0,
                'moraCobrada' : 0,
                'capitalxCobrar' : 0,
                'interesxCobrar' : 0,
            }
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "MENSUAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.montoPrestado = dataFiltered.slice().reduce((sum,{ montoPrestado }) => sum + montoPrestado, 0);
                obj.montoCobrado = dataFiltered.slice().reduce((sum,{ montoCobrado }) => sum + montoCobrado, 0);
                obj.montoxCobrar = dataFiltered.slice().reduce((sum,{ montoxCobrar }) => sum + montoxCobrar, 0);
                obj.capitalCobrado = dataFiltered.slice().reduce((sum,{ capitalCobrado }) => sum + capitalCobrado, 0);
                obj.interesCobrado = dataFiltered.slice().reduce((sum,{ interesCobrado }) => sum + interesCobrado, 0);
                obj.moraCobrada = dataFiltered.slice().reduce((sum,{ moraCobrada }) => sum + moraCobrada, 0);
                obj.capitalxCobrar = dataFiltered.slice().reduce((sum,{ capitalxCobrar }) => sum + capitalxCobrar, 0);
                obj.interesxCobrar = dataFiltered.slice().reduce((sum,{ interesxCobrar }) => sum + interesxCobrar, 0);
            }
            return obj;
        },

    },
    methods: {
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.id))
        },
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async getItems() {
            try {
                this.loadingData = true
                const response = await axios.get(route('reports.activeLoans.list'));
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },

        async firstData() {
            this.dateFrom = this.today;
        },

    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>
.click-item{
    cursor: pointer !important;
}
</style>
