<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :search="searchFilter"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Prestamo por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateFrom"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateFromFormatted"
                                    label="Fecha inicial"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateFrom"
                                @input="menuDateFrom = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateTo"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateToFormatted"
                                    label="Fecha final"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateTo"
                                @input="menuDateTo = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="3"
                        md="2"
                    >
                        <v-btn block color="primary" elevation="0" class="py-5" @click="getItems">
                            filtrar
                        </v-btn>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-text-field
                            append-icon="mdi-magnify"
                            label="Buscar"
                            single-line
                            outlined
                            dense
                            v-model="searchFilter"
                            clearable
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <small class="grey--text text--darken-3">
                            <strong>Nota:</strong>
                            Tomar en cuenta que algunos prestamos aprobados en el rango de fecha seleccionado, puede que esten pagados, activos o ANULADOS.
                        </small>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total prestamos aprobados
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ items.length || 0 }} prestamo(s)
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total monto prestado neto
                            </h3>
                            <h4 class="support--text text--lighten-2 ">
                                {{ formatCurrencyGT(total_borrowed_amount) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total monto prest. con interés
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(all_total_amount) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total recolectado a la fecha
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_collected_amount) }}
                            </h4>
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos diarios
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ daily_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado sin interés
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(daily_loans.total_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado a la fecha
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(daily_loans.collected_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos semanales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ weekly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado sin interés
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(weekly_loans.total_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado a la fecha
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(weekly_loans.collected_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos quincenales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ biweekly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado sin interés
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(biweekly_loans.total_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado a la fecha
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(biweekly_loans.collected_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos mensuales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ monthly_loans.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado sin interés
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(monthly_loans.total_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado a la fecha
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(monthly_loans.collected_amount)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos prestamos aprobados en el rango de fechas"
                />
            </template>
            <template v-slot:item.correlative="{item}">
                <span class="primary--text click-item" @click="toshowLoand(item)">{{ item.correlative }}</span>
            </template>
            <template v-slot:item.dues="{item}">
                <span>{{ item.dues_paid_out+" / "+item.dues }}</span>
            </template>
            <template v-slot:item.borrowed_amount="{item}">
                <span>{{ formatCurrencyGT(item.borrowed_amount || 0) }}</span>
            </template>
            <template v-slot:item.fixed_fee="{item}">
                <span>{{ formatCurrencyGT(item.fixed_fee || 0) }}</span>
            </template>
            <template v-slot:item.total_amount="{item}">
                <span>{{ formatCurrencyGT(item.total_amount || 0) }}</span>
            </template>
            <template v-slot:item.interest_amount="{item}">
                <span>{{ formatCurrencyGT(item.interest_amount|| 0) }}</span>
            </template>
            <template v-slot:item.collected_amount="{item}">
                <span>{{ formatCurrencyGT(item.collected_amount|| 0) }}</span>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import DataEmpty from "../ui/DataTable/DataEmpty";
import {EventBus} from "../../EventBus";
import {formatCurrencyGT} from "../../utils/formats";
import moment from "moment";
export default {
    name: "ApprovedLoansList",
    components:{
        DataEmpty,
    },
    data : () => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha de creación',
                value: 'created_at',
            },
            {
                text: 'Fecha de aprobación',
                value: 'confirmed_at',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Cliente",
                value: "customer"
            },
            {
                text: 'Tipo',
                value: 'type',
            },{
                text: 'Cuota fija',
                value: 'fixed_fee',
            },
            {
                text: 'Cuotas',
                value: 'dues',
                sortable: false,
            },
            {
                text: '% interés',
                value: 'interest_percentage',
            },
            {
                text: 'Monto prestado',
                value: 'borrowed_amount',
            },
            {
                text: 'Monto total',
                value: 'total_amount',
            },
            {
                text: 'Ganancia estimada',
                value: 'interest_amount',
            },
            {
                text: 'Monto recolectado',
                value: 'collected_amount',
            },
            {
                text: 'Estado Actual',
                value: 'state',
            },
        ],
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        },
        total_borrowed_amount(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ borrowed_amount }) => sum + borrowed_amount, 0)
            }
            return 0;
        },
        all_total_amount(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return 0;
        },
        total_collected_amount(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ collected_amount }) => sum + collected_amount, 0)
            }
            return 0;
        },
        daily_loans(){
            let obj = { 'number': 0,'total_amount' : 0, 'collected_amount': 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "DIARIO"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ borrowed_amount }) => sum + borrowed_amount, 0)
                obj.collected_amount = dataFiltered.slice().reduce((sum,{ collected_amount }) => sum + collected_amount, 0)
            }
            return obj;
        },
        weekly_loans(){
            let obj = { 'number': 0,'total_amount' : 0, 'collected_amount': 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "SEMANAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ borrowed_amount }) => sum + borrowed_amount, 0)
                obj.collected_amount = dataFiltered.slice().reduce((sum,{ collected_amount }) => sum + collected_amount, 0)
            }
            return obj;
        },
        biweekly_loans(){
            let obj = { 'number': 0,'total_amount' : 0, 'collected_amount': 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "QUINCENAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ borrowed_amount }) => sum + borrowed_amount, 0)
                obj.collected_amount = dataFiltered.slice().reduce((sum,{ collected_amount }) => sum + collected_amount, 0)
            }
            return obj;
        },
        monthly_loans(){
            let obj = { 'number': 0,'total_amount' : 0, 'collected_amount': 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((loan) => {
                    return (
                        loan.type === "MENSUAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ borrowed_amount }) => sum + borrowed_amount, 0)
                obj.collected_amount = dataFiltered.slice().reduce((sum,{ collected_amount }) => sum + collected_amount, 0)
            }
            return obj;
        },

    },
    methods: {
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.id))
        },
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('reports.approvedLoans.list'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },

        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },

    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>
.click-item{
    cursor: pointer !important;
}
</style>
