<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :items-per-page=10
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Cuotas por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">
                    <v-col cols="12" class="pt-5 d-flex justify-center" >
                        <h4 class="support--text text--lighten-2">
                            <span class="primary--text">fecha actual:</span> {{todayFormated}}</h4>
                    </v-col>
                    <v-col cols="12" md="4"  class="offset-md-2" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Cuotas atrasadas
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                <v-progress-circular
                                    v-if="loadingData"
                                    indeterminate
                                    color="primary"
                                ></v-progress-circular>
                                <span v-else class="support--text text--lighten-2">
                                    {{items.length}}
                                </span>
                                cuotas
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto total atrasado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(all_total_amount || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row class="pb-0">
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        Cuotas diarias
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3"  align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ daily_fees.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row class="pt-0">
                                <v-col cols="12" md="12" class="pt-0">
                                    <v-row no-gutters>
                                        <v-col cols="6">
                                            <h5 class="primary--text text--darken-1">
                                                Monto:
                                            </h5>
                                        </v-col>
                                        <v-col cols="6" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(daily_fees.total_amount || 0 )}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row class="pb-0">
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        Cuotas semanales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3"  align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ weekly_fees.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row class="pt-0">
                                <v-col cols="12" md="12" class="pt-0">
                                    <v-row no-gutters>
                                        <v-col cols="6">
                                            <h5 class="primary--text text--darken-1">
                                                Monto:
                                            </h5>
                                        </v-col>
                                        <v-col cols="6" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(weekly_fees.total_amount || 0 )}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row class="pb-0">
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        Cuotas quicenales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3"  align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ biweekly_fees.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row class="pt-0">
                                <v-col cols="12" md="12" class="pt-0">
                                    <v-row no-gutters>
                                        <v-col cols="6">
                                            <h5 class="primary--text text--darken-1">
                                                Monto:
                                            </h5>
                                        </v-col>
                                        <v-col cols="6" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(biweekly_fees.total_amount || 0 )}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row class="pb-0">
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        Cuotas mensuales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3"  align="right">
                                    <h4 class="support--text text--lighten-2">
                                        {{ monthly_fees.number }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row class="pt-0">
                                <v-col cols="12" md="12" class="pt-0">
                                    <v-row no-gutters>
                                        <v-col cols="6">
                                            <h5 class="primary--text text--darken-1">
                                                Monto total:
                                            </h5>
                                        </v-col>
                                        <v-col cols="6" align="right">
                                            <h5 class="support--text text--lighten-2">
                                                {{formatCurrencyGT(monthly_fees.total_amount || 0 )}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos cuotas atrasadas"
                />
            </template>
            <template v-slot:item.loan_correlative="{item}">
                <span class="primary--text click-item" @click="toshowLoand(item)">{{ item.loan_correlative }}</span>
            </template>
            <template v-slot:item.total_payment="{item}">
                <span>{{ formatCurrencyGT(item.total_payment || 0) }}</span>
            </template>
            <template v-slot:item.loan_late_fee="{item}">
                <span>{{ formatCurrencyGT(item.loan_late_fee || 0) }}</span>
            </template>
            <template v-slot:item.total_amount="{item}">
                <span>{{ formatCurrencyGT(item.total_amount || 0) }}</span>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import DataEmpty from "../ui/DataTable/DataEmpty";
import {EventBus} from "../../EventBus";
import {formatCurrencyGT} from "../../utils/formats";
import moment from "moment";
export default {
    name: "ArrearsFeesList",
    components:{
        DataEmpty,
    },
    data : () => ({
        date : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha estimada de pago',
                value: 'estimated_payment_date',
            },
            {
                text: "Correlativo",
                value: "loan_correlative"
            },
            {
                text: "Cliente",
                value: "customer"
            },
            {
                text: 'Tipo',
                value: 'loan_type',
            },
            {
                text: 'cuota pendiente',
                value: 'number_late_fee',
                sortable: false,
            },
            {
                text: 'Neto a cobrar',
                value: 'total_payment',
            },
            {
                text: 'Mora establecida',
                value: 'loan_late_fee',
            },
            {
                text: 'Total a cobrar',
                value: 'total_amount',
            },
            {
                text: 'atraso',
                value: 'late',
                sortable: false,
            },
        ],
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed:{
        todayFormated(){
            return moment(this.today).format("DD-MM-YYYY");
        },
        all_total_amount(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return 0;
        },
        daily_fees(){
            let obj = { 'number': 0,'total_amount' : 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((fee) => {
                    return (
                        fee.loan_type === "DIARIO"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return obj;
        },
        weekly_fees(){
            let obj = { 'number': 0,'total_amount' : 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((fee) => {
                    return (
                        fee.loan_type === "SEMANAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return obj;
        },
        biweekly_fees(){
            let obj = { 'number': 0,'total_amount' : 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((fee) => {
                    return (
                        fee.loan_type === "QUINCENAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return obj;
        },
        monthly_fees(){
            let obj = { 'number': 0,'total_amount' : 0}
            if(this.items.length>0){
                let dataFiltered = this.items.slice().filter((fee) => {
                    return (
                        fee.loan_type === "MENSUAL"
                    )
                });
                obj.number = dataFiltered.length;
                obj.total_amount = dataFiltered.slice().reduce((sum,{ total_amount }) => sum + total_amount, 0)
            }
            return obj;
        },
    },
    methods: {
        calculateLateDays(estimated_payment_date){
            var a = moment(this.today);
            var b = moment(this.formatDateReverse(estimated_payment_date));
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "dia actual"
            }
            if(diff <0){
                return "extraordinario"
            }
            if(diff >0){
                return `atraso ${diff} dia(s)`
            }
        },
        formatDateReverse (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${year}-${month}-${day}`
        },
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.loand_id))
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async getItems() {
            try {
                this.loadingData = true
                const response = await axios.get(route('reports.arrearsFees.list'))
                if(response.data.items.length>0){
                    this.items  = response.data.items.slice().map((item) => ({
                        ...item,
                        late: this.calculateLateDays(item.estimated_payment_date),
                    }));
                }
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
                EventBus.$emit("snackbar", {
                    text: "Ocurrio un error al momento de traer las cuotas atrasadas.",
                    type: "error",
                });
            }
        },
        async firstData() {
            this.date = this.today;
        },
    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>
.click-item{
    cursor: pointer !important;
}
</style>
