<template>
    <div>
        <v-data-table
                fixed-header
                :headers="headers"
                :items="items"
                :search="searchFilter"
                :items-per-page=5
                :loading=loadingData
                loading-text="Un momento por favor..."
                :header-props="{'sort-by-text':'Ordenar por'}"
                :footer-props="{'items-per-page-text':'Prestamo por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">
                    <v-col
                            cols="12"
                            sm="4"
                            md="3"
                    >
                        <v-menu
                                v-model="menuDateFrom"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                        :value.sync="computedDateFromFormatted"
                                        label="Fecha inicial"
                                        prepend-inner-icon="mdi-calendar"
                                        readonly
                                        outlined
                                        :dense="!$vuetify.breakpoint.xs"
                                        v-bind="attrs"
                                        v-on="on"
                                        persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                    header-color="secondary"
                                    color="primary"
                                    locale="es-Es"
                                    v-model="dateFrom"
                                    @input="menuDateFrom = false"
                                    :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                            cols="12"
                            sm="4"
                            md="3"
                    >
                        <v-menu
                                v-model="menuDateTo"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                        :value.sync="computedDateToFormatted"
                                        label="Fecha final"
                                        prepend-inner-icon="mdi-calendar"
                                        readonly
                                        outlined
                                        :dense="!$vuetify.breakpoint.xs"
                                        v-bind="attrs"
                                        v-on="on"
                                        persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                    header-color="secondary"
                                    color="primary"
                                    locale="es-Es"
                                    v-model="dateTo"
                                    @input="menuDateTo = false"
                                    :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                            cols="12"
                            sm="3"
                            md="2"
                    >
                        <v-btn block color="primary" elevation="0" class="py-5" @click="getItems">
                            filtrar
                        </v-btn>
                    </v-col>
                    <v-col
                            cols="12"
                            sm="4"
                            md="4"
                    >
                        <v-text-field
                                append-icon="mdi-magnify"
                                label="Buscar"
                                single-line
                                outlined
                                dense
                                v-model="searchFilter"
                                clearable
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Prestamos totales
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ total_loans }} prestamo(s)
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto  total prestado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_borrowed) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Cobrado a la fecha
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_gain) }}
                            </h4>
                        </v-card>
                    </v-col>

                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos diarios
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ count_daily_loans }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_borrowed_daily_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_gain_daily_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos semanales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ count_weekly_loans }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_borrowed_weekly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_gain_weekly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos quincenales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ count_biweekly_loans }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_borrowed_biweekly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_gain_biweekly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="6" lg="3">
                        <v-card outlined class="pa-5">
                            <v-row>
                                <v-col cols="8" md="8" lg="9">
                                    <h4 class="primary--text">
                                        creditos mensuales
                                    </h4>
                                </v-col>
                                <v-col cols="4" md="4" lg="3">
                                    <h4 class="support--text text--lighten-2">
                                        {{ count_monthly_loans }}
                                    </h4>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Prestado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_borrowed_monthly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="2">
                                    <v-divider vertical></v-divider>
                                </v-col>
                                <v-col cols="5" md="5" align="">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h5 class="primary--text text--darken-1">
                                                Cobrado
                                            </h5>
                                        </v-col>
                                        <v-col cols="12">
                                            <h5 class="support--text text--lighten-2 pt-2">
                                                {{formatCurrencyGT(total_gain_monthly_loans)}}
                                            </h5>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                        text="No encontramos prestamos en el rango de fechas"
                />
            </template>
            <template v-slot:item.correlative="{item}">
                <span class="primary--text click-item" @click="toshowLoand(item)">{{ item.correlative }}</span>
            </template>
            <template v-slot:item.dues="{item}">
                <span>{{ item.dues_paid_out+" / "+item.dues }}</span>
            </template>
            <template v-slot:item.borrowed_amount="{item}">
                <span class="font-weight-bold">{{ formatCurrencyGT(item.borrowed_amount || 0) }}</span>
            </template>
            <template v-slot:item.fixed_fee="{item}">
                <span>{{ formatCurrencyGT(item.fixed_fee || 0) }}</span>
            </template>
            <template v-slot:item.total_amount="{item}">
                <span>{{ formatCurrencyGT(item.total_amount || 0) }}</span>
            </template>
            <template v-slot:item.late_fee_amount="{item}">
                <span>{{ formatCurrencyGT(item.late_fee_amount || 0) }}</span>
            </template>
            <template v-slot:item.interest_amount="{item}">
                <span>{{ formatCurrencyGT(item.interest_amount|| 0) }}</span>
            </template>
            <template v-slot:item.collected_amount="{item}">
                <span class="font-weight-bold primary--text">{{ formatCurrencyGT(item.collected_amount|| 0) }}</span>
            </template>
            <template v-slot:item.gain="{item}">
                <span class="font-weight-bold primary--text">{{ formatCurrencyGT(item.gain|| 0) }}</span>
            </template>
        </v-data-table>
    </div>
</template>

<script>

import DataEmpty from "../ui/DataTable/DataEmpty";
import {formatCurrencyGT} from "../../utils/formats";
import moment from "moment";
import {EventBus} from "../../EventBus";

export default {
    name: "TypeLoansList",
    components:{
        DataEmpty,
    },
    data : () => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fech. creación',
                value: 'created_at',
            },
            {
                text: 'Fech. primer pago',
                value: 'first_payment_date',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Cliente",
                value: "customer"
            },
            {
                text: 'Tipo',
                value: 'type',
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: 'Mnt. prestado',
                value: 'borrowed_amount',
            },
            {
                text: 'Mnt. cobrado',
                value: 'collected_amount',
            },
        ],
        total_loans : "",
        total_borrowed : "",
        total_gain : "",

        count_daily_loans : "",
        total_borrowed_daily_loans : "",
        total_gain_daily_loans : "",

        count_weekly_loans : "",
        total_borrowed_weekly_loans : "",
        total_gain_weekly_loans : "",

        count_biweekly_loans : "",
        total_borrowed_biweekly_loans : "",
        total_gain_biweekly_loans : "",

        count_monthly_loans : "",
        total_borrowed_monthly_loans : "",
        total_gain_monthly_loans : "",

        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        }
    },
    methods: {
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.id))
        },
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('reports.typeLoans.list'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.total_loans  = response.data.total_loans
                this.total_borrowed  = response.data.total_borrowed
                this.total_gain  = response.data.total_gain

                this.count_daily_loans  = response.data.count_daily_loans
                this.total_borrowed_daily_loans  = response.data.total_borrowed_daily_loans
                this.total_gain_daily_loans  = response.data.total_gain_daily_loans

                this.count_weekly_loans  = response.data.count_weekly_loans
                this.total_borrowed_weekly_loans  = response.data.total_borrowed_weekly_loans
                this.total_gain_weekly_loans  = response.data.total_gain_weekly_loans

                this.count_biweekly_loans  = response.data.count_biweekly_loans
                this.total_borrowed_biweekly_loans  = response.data.total_borrowed_biweekly_loans
                this.total_gain_biweekly_loans  = response.data.total_gain_biweekly_loans

                this.count_monthly_loans  = response.data.count_monthly_loans
                this.total_borrowed_monthly_loans  = response.data.total_borrowed_monthly_loans
                this.total_gain_monthly_loans  = response.data.total_gain_monthly_loans

                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },

        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },

    },
    mounted() {
        this.firstData()
        this.getItems()
    }

}
</script>

<style scoped>

</style>
