<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="group"
            heading-text="Clientes"
        />
        <v-row>
            <v-col cols="12">
                <customer-list></customer-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import CustomerList from "../../../components/Settings/Customers/CustomerList";
export default {
    name: "CustomerIndex",
    components:{
        HeadingView,
        CustomerList,
    }
}
</script>

<style scoped>

</style>
