<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="group"
            :heading-text="`Cliente ${customer.correlative}`"
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-card flat class="pa-5">
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="3">
                        <v-img
                            :src="customer.image_url"
                            class=""
                        />
                        <div class="d-flex justify-center pt-3">
                            <v-rating
                                small
                                readonly
                                length="5"
                                :value=customer.rating
                                color="primary"
                                background-color="primary"
                            ></v-rating>
                            <div class="pl-10">
                                <v-chip
                                    class="float-right"
                                    :color="customer.active?'primary': 'blue-grey lighten-2'"
                                    text-color="white"
                                >
                                    <span>{{customer.active ?'Activo': 'Inactivo' }}</span>
                                </v-chip>
                            </div>
                        </div>
                    </v-col>
                    <v-col cols="12" md="9">
                        <h2 class="font-weight-bold support--text">{{customer.firstName}} {{customer.lastName}}</h2>
                        <h3 class="pt-3">{{customer.identificationNumber}}</h3>
                        <v-row class="pt-10">
                            <v-col cols="12" sm="6">
                                <v-row>
                                    <v-col cols="12" sm="4" class="support--text"  >
                                        <h4>Telefonos:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.phoneOne}}
                                            <span v-if="customer.phoneTwo">
                                        ,{{ customer.phoneTwo}}
                                    </span>
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="4" class="support--text">
                                        <h4>Departamento:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.departamentoName}}
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="4" class="support--text">
                                        <h4>Municipio:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.municipioName}}
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="4" class="support--text">
                                        <h4>Sector:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.sectorName}}
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="4" class="support--text">
                                        <h4>Creado por:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.created_by_name}}
                                        </h4>
                                    </v-col>
                                    <v-col  v-show="!customer.active" cols="12" sm="4" class="support--text">
                                        <h4>Desactivado por:</h4>
                                    </v-col>
                                    <v-col v-show="!customer.active" cols="12" sm="8">
                                        <h4>
                                            {{customer.deactivated_by_name}}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-row>
                                    <v-col cols="12" sm="12" class="support--text">
                                        <h4>Dirección exacta:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <h4>
                                            {{customer.address}}
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="12" class="support--text">
                                        <h4>Dirección referencia:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <h4>
                                            {{customer.referenceAddress}}
                                        </h4>
                                    </v-col>
                                    <v-col cols="12" sm="4" class="support--text">
                                        <h4>creado el:</h4>
                                    </v-col>
                                    <v-col cols="12" sm="8">
                                        <h4>
                                            {{customer.created_at}}
                                        </h4>
                                    </v-col>
                                    <v-col  v-show="!customer.active" cols="12" sm="4" class="support--text">
                                        <h4>Desactivado el:</h4>
                                    </v-col>
                                    <v-col v-show="!customer.active" cols="12" sm="8">
                                        <h4>
                                            {{customer.deactivated_at}}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" sm="12" v-show="!customer.active">
                                <v-row>
                                    <v-col cols="12" sm="12" class="support--text">
                                        <h4> Motivo de desactivación: </h4>
                                    </v-col>
                                    <v-col cols="12" sm="12">
                                        <h4>
                                            {{ customer.deactivation_note}}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" align="right">
                        <v-btn
                            @click="editState(customer)"
                            color="primary"
                            outlined
                            small
                            elevation="0"
                            class="mt-3"
                        >
                            {{ customer.active? 'desactivar' : 'activar' }}
                        </v-btn>
                        <v-btn
                            @click="editItem(customer)"
                            color="primary"
                            small
                            elevation="0"
                            class="mt-3"
                        >
                            editar
                        </v-btn>
                        <v-btn
                            v-if="$page.props.auth.user.permission.includes('customers.destroy')"
                            @click="dialogDelete=true"
                            color="secondary"
                            small
                            elevation="0"
                            class="mt-3"
                        >
                            eliminar
                        </v-btn>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-divider/>
                        <h3 class="pt-5">
                            Historial de prestamos
                        </h3>
                    </v-col>
                    <v-col cols="12">
                        <customer-loand-list
                            :loands="customer.loands"
                        />
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialogState" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    {{dialogStateTitle}}
                </v-card-title>
                <v-card-text>
                  <span v-if="!state">
                      El usuario estará disponible para asignarle nuevos prestamos.
                  </span>
                    <v-row v-else>
                      <v-col cols="12">
                          <v-form ref="formCustomerState" lazy-validation>
                              <p class="pb-3">
                                  Si desactiva el cliente no aparecerá en las busquedas para nuevos prestamos.
                              </p>
                              <v-textarea
                                  outlined
                                  v-model="deactivation_note"
                                  label="Nota:"
                                  hint="Escribe el motivo de la desactivación"
                                  :rules="[rules.required]"
                              ></v-textarea>
                          </v-form>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogState=false" :disabled="loadingDialogState"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="handleState()" :loading="loadingDialogState">
                        {{ !state ?
                        'Si, activalo' :
                        'Si, desactivalo'
                        }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Eliminar cliente
                </v-card-title>
                <v-card-text>
                    Este cliente no posee creditos, será eliminado del sistema definitivamente.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogDelete=false" :disabled="loadingDialogDelete"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="handleDelete()" :loading="loadingDialogDelete">
                        Si, eliminalo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import {EventBus} from "../../../EventBus";
import CustomerLoandList from "../../../components/Settings/Customers/CustomerLoandList";
export default {
    name: "CustomerShow",
    props:{
        customer : Object
    },
    components:{
        HeadingView,
        CustomerLoandList,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Clientes',
                disabled: false,
                href: 'customers.view',
            },
            {
                text: 'ver cliente',
                disabled: true,
                href: 'customers.create',
            }
        ],
        state: 0,
        deactivation_note: "",
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
        dialogState: false,
        loadingDialogState: false,
        dialogDelete: false,
        loadingDialogDelete: false,
    }),
    computed:{
        dialogStateTitle() {
            return this.state === 0 ? "Activar el usuario" : "Desactivar el usuario";
        },
    },
    methods:{
        editItem ( item ) {
            this.$inertia.get(this.route('customers.edit',item))
        },
        editState ( item ) {
            item.active ? this.state = 1 : this.state = 0
            this.dialogState = true;
        },
        handleState(){
            if(this.state === 1 ) {
                if(!this.$refs.formCustomerState.validate()){
                    EventBus.$emit("snackbar", {
                        text: "Por favor, ingresa una nota de desactivación.",
                        type: "info",
                    });
                    return
                }
            }
            this.loadingDialogState = true;
            let data = {
                'deactivation_note' : this.deactivation_note,
                'active' : !this.state,
            }
            this.$inertia.put(
                this.route(
                    'customers.state',
                    this.customer.id
                ),
                data
            )
        },
        handleDelete(){
            this.$inertia.delete(
                this.route(
                    'customers.destroy',
                    this.customer.id
                )
            )
        }
    }
}
</script>

<style scoped>

</style>
