<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="group"
            heading-text="Nuevo cliente"
            use-support-text
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row>
            <v-col cols="12">
                <form-customer
                    :customer-param="item"
                    @formCustomerSubmit="storeCustomer"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormCustomer from "../../../components/Settings/Customers/FormCustomer";
export default {
    name: "CustomerCreate",
    components:{
        HeadingView,
        FormCustomer,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Clientes',
                disabled: false,
                href: 'customers.view',
            },
            {
                text: 'Crear cliente',
                disabled: true,
                href: 'customers.create',
            }
        ],
        item:{
            correlative : "",
            identificationNumber : "",
            firstName : "",
            lastName : "",
            phoneOne : "",
            phoneTwo : "",
            gender : "",
            departamento_id : "",
            municipio_id : "",
            sector_id : "",
            rating : 5,
            address : "",
            referenceAddress : "",
            image_url : "",
            active: "1",
        },
    }),
    methods:{
        storeCustomer(data){
            var bodyFormData = new FormData();
            bodyFormData.append('image', data.image);
            bodyFormData.append('changeExistImage',data.changeExistImage);
            for (var key in data.item){
                bodyFormData.append(key,data.item[key]);
            }
            this.$inertia.post(this.route('customers.store'), bodyFormData,
                { forceFormData: true}
            )
        },
    }
}
</script>

<style scoped>

</style>
