<template>
    <div>
        <heading-view
            heading-icon="mdi-motorbike"
            heading-text="Crea una nueva ruta"
            use-bread-crumbs
            :items-breadcrumbs="breadCrums"
        />
        <v-row>
            <v-col cols="12">
                <form-route
                    :routeParam="routeObject"
                    @formRouteSubmit="storeRoute"
                />
            </v-col>
        </v-row>
    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormRoute from "../../../components/Settings/Routes/FormRoute";
export default {
    name: "RouteCreate",
    components:{
        HeadingView,
        FormRoute,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Rutas',
                disabled: false,
                href: 'routes.view',
            },
            {
                text: 'Nueva ruta',
                disabled: true,
                href: 'routes.create',
            }
        ],
        routeObject:{
            correlative: '',
            name: '',
            departamento_id: '',
            municipio_id: '',
            sectores: [],
            cobrador_id: '',
        },
    }),
    methods:{
        storeRoute(data){
            this.$inertia.post(this.route('routes.store'), data)
        }
    }
}
</script>

<style scoped>

</style>
