<template>
    <div>
        <heading-view
            heading-icon="mdi-motorbike"
            :heading-text="`Ordenar prestamos de ruta : ${routeParam.correlative}`"
            use-support-text
            suport-text="Este es el orden que verá el cobrador con esta ruta asignada."
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row no-gutters>
            <v-col cols="12" align="">
                <v-card flat class="pa-5">
                    <v-card-text>
                        <v-row class="px-lg-10 px-md-5">
                            <v-col cols="12" md="5" lg="3" class="offset-md-2 offset-lg-3">
                                <h3>Nombre:
                                    <span class="primary--text">
                                        {{routeParam.name}}
                                    </span>
                                </h3>
                            </v-col>
                            <v-col cols="12" md="4" lg="3">
                                <h3>Prestamos:
                                    <span class="primary--text">
                                        {{loansCount}}
                                    </span>
                                </h3>
                            </v-col>
                        </v-row>
                        <v-row class="px-md-7">
                            <v-col cols="12" md="12" align="">
                                Nota: Si no te aparece un prestamo en ruta recuerda debe de estar en estado
                                <strong>ACTIVO</strong>.
                            </v-col>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="12">
                <r-sort :loans="loans" :route-param="routeParam"></r-sort>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RSort from "../../../components/Settings/Routes/RSort";
export default {
    name: "RouteSort",
    props: {
        routeParam: Object,
        loans: Array,
        loansCount: Number,
    },
    components:{
        HeadingView,
        RSort,
    },
    data:  () => ({
        breadCrums: [
            {
                text: 'Ruta diaria',
                disabled: false,
                href: 'routes.view',
            },
            {
                text: 'Ordenar',
                disabled: true,
                href: 'routes.sort',
            }
        ],
    }),
}
</script>

<style scoped>

</style>
