<template>
  <div>
      <heading-view
          heading-icon="mdi-motorbike"
          heading-text="Editar ruta"
          use-bread-crumbs
          :items-breadcrumbs="breadCrums"
      />
      <v-row>
          <v-col cols="12">
              <form-route
                  :routeParam="routeParam"
                  @formRouteSubmit="updateRoute"
              />
          </v-col>
      </v-row>
  </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormRoute from "../../../components/Settings/Routes/FormRoute";
export default {
    name: "RouteEdit",
    props:{
        routeParam : Object
    },
    components:{
        HeadingView,
        FormRoute
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Rutas',
                disabled: false,
                href: 'routes.view',
            },
            {
                text: 'Editar ruta',
                disabled: true,
                href: 'routes.edit',
            }
        ],
    }),
    methods:{
        updateRoute(data){
            delete data.created_at
            delete data.updated_at
            this.$inertia.put(
                this.route('routes.update', this.routeParam),
                data
            )
        },
    }
}
</script>

<style scoped>

</style>
