<template>
  <div>
      <heading-view
          heading-icon="mdi-motorbike"
          :heading-text="`ruta : ${routeParam.correlative}`"
          use-support-text
          suport-text="Este es el orden sugerido para cobrar los prestamos"
          :items-breadcrumbs="breadCrums"
          use-bread-crumbs
      />
      <v-row class="px-0">
          <v-col cols="12">
              <v-card flat>
                  <v-stepper  v-model="step" flat elevation="0">
                      <v-stepper-header>
                          <v-stepper-step
                              :complete="step > 1"
                              step="1"
                          >
                              Prestamo
                          </v-stepper-step>

                          <v-divider></v-divider>

                          <v-stepper-step
                              :complete="step > 2"
                              step="2"
                          >
                              Cobrar
                          </v-stepper-step>

                          <v-divider></v-divider>

                          <v-stepper-step step="3">
                             Marcar
                          </v-stepper-step>
                      </v-stepper-header>

                      <v-stepper-items>
                          <v-stepper-content step="1">
                                <route-collect-loans
                                    :items="loans"
                                    @handle-selection="loanSelection"
                                />
                          </v-stepper-content>

                          <v-stepper-content step="2">
                              <route-collect-payments
                                  v-if="loanSelected.id"
                                  :loand="loanSelected"
                                  @back="prevStep"
                                  @next="nextStep"
                              />
                          </v-stepper-content>

                          <v-stepper-content step="3">
                              <v-card flat class="pa-5">
                                  <v-row class="py-15">
                                      <v-col cols="12" align="center">
                                          <h2 class="">Prestamo cobrado</h2>
                                      </v-col>
                                      <v-col cols="12" align="center">
                                          <box-icon
                                              name='home-smile'
                                              size="lg"
                                              :color="'#26c6da'"
                                              class="icon-custom"
                                          ></box-icon>
                                      </v-col>
                                      <v-col cols="12" class="pb-0 pl-4">
                                          <p>
                                              <strong>Nota:</strong>
                                              marcalo como visitado para continuar con los prestamos en ruta.
                                          </p>
                                      </v-col>
                                      <v-col cols="12" align="center" class="py-10">
                                          <v-btn
                                              @click="checkLoand"
                                              block
                                              elevation="0"
                                              color="primary"
                                          >
                                              visitado
                                          </v-btn>
                                      </v-col>
                                      <v-col cols="12" align="center" class="pb-15">
                                          <v-btn
                                              @click="prevStep"
                                              block
                                              elevation="0"
                                              color="support"
                                              outlined
                                          >
                                              <v-icon left>
                                                  mdi-arrow-left
                                              </v-icon>
                                              otro pago
                                          </v-btn>
                                      </v-col>
                                  </v-row>
                              </v-card>
                          </v-stepper-content>
                      </v-stepper-items>
                  </v-stepper>
              </v-card>
          </v-col>
      </v-row>
  </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RouteCollectLoans from "../../../components/Settings/Routes/RouteCollectLoans";
import RouteCollectPayments from "../../../components/Settings/Routes/RouteCollectPayments";
import {EventBus} from "../../../EventBus";
export default {
    name: "RouteCollect",
    props: {
        loans: Array,
        loansCount: Number,
        routeParam: Object,
    },
    components:{
        HeadingView,
        RouteCollectLoans,
        RouteCollectPayments,
    },
    data:  () => ({
        step: 1,
        breadCrums: [
            {
                text: 'Mis rutas',
                disabled: false,
                href: 'routes.routeCobrador',
            },
            {
                text: 'Prestamos',
                disabled: true,
                href: 'routes.collect',
            }
        ],
        loanSelected: {},
    }),
    methods:{
        loanSelection(loan){
            this.loanSelected = Object.assign({}, { ...loan});
            this.step=2;
        },
        prevStep() {
            if(this.step === 2){
                this.loanSelected = Object.assign({}, {});
            }
            this.step--;
        },
        nextStep(){
            this.step++;
        },
        checkLoand(){
            this.$inertia.post(this.route('payments.checkRouteLoand',{
                route: this.routeParam.id,
                loand: this.loanSelected.id,
            }),{},{
                onSuccess: () => {
                    this.loadingSave = false;
                    this.step = 1
                },
                onError: (errors) => {
                    console.log(errors);
                    this.loadingSave = false;
                    this.close();
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de marcar el prestamo como visitado.",
                        type: "error",
                    });
                },

            });
        }
    }
}
</script>

<style scoped>
.loans_container {
    min-height: 350px;
    max-height: 350px;
}
.loans_container-mobile {
    min-height: 600px;
    max-height: 600px;
}

.v-stepper__content {
    padding: 10px 15px 20px !important;
}
.v-stepper__header {
    box-shadow: none !important;
}
</style>
