<template>
    <div>
        <heading-view
            heading-icon="mdi-motorbike"
            heading-text="Mis rutas asignadas"
            suport-text="Pulsa las rutas para gestionar las cuotas."
            use-support-text
        />
        <v-col cols="12" class=" pa-md-15">
            <v-row v-if="pettyCashClose">
                <v-col cols="12" class="py-10" align="center">
                    <v-card flat class="pa-10">
                        <v-card-text>
                            <h3 class="font-weight-bold primary--text pb-5">SE CERRO CAJA CHICA</h3>
                            <small class="">no se puede aprobar prestamos o realizar pagos a las cuotas.</small>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
            <v-row class="pb-10" v-else>
                <v-col cols="12" sm="6" md="6" v-for="item in availableRoutes" :key="item.id" >
                    <v-card
                        flat
                        class="mx-auto"
                        @click="consultRoute(item)"
                    >
                        <v-card-text>
                            <v-row no-gutters class="pa-5">
                                <v-col cols="12">
                                    <v-chip
                                        small
                                        class="float-right"
                                        color="secondary"
                                    >
                                        <strong>{{item.state || "SIN INICIAR"}}</strong>
                                    </v-chip>
                                </v-col>
                                <v-col cols="12" md="9">
                                    <h4 class="font-weight-bold primary--text pt-2">
                                        {{item.correlative}}
                                    </h4>
                                    <h4 class="pt-2">
                                        Nombre:
                                    </h4>
                                    <p class="pt-2">
                                        {{item.name}}
                                    </p>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
        <v-dialog v-model="dialogBegin" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Ir a la ruta {{ tempItem.correlative}}
                </v-card-title>
                <v-card-text>
                    <h3>
                        Prestamos a visitar:
                        <span>{{loansPendingCount}}</span>
                    </h3>
                    <p v-if="loansPendingCount===0" class="pt-4">
                        <Strong>Nota:</Strong>
                        Por ahora no hay prestamos para visitar en esta ruta, la ruta pasará a estado "COMPLETADA".
                    </p>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="support" text  @click="dialogBegin=false">
                        VOLVER
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        elevation="0"
                        :disabled="loansPendingCount===0"
                        @click="goToLoansInRoute"
                    >
                        ACEPTAR
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import moment from "moment";
import {EventBus} from "../../../EventBus";

export default {
    name: "RouteCobrador",
    props:{
        availableRoutes : Array,
    },
    components:{
        HeadingView,
    },
    data: () => ({
        dialogBegin: false,
        loansPendingCount : "",
        tempItem : {},
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        pettyCashDaily: {},
        pettyCashClose: false,
    }),
    methods:{
        checkSunday(){
            if(moment(this.today).day() === 0){
                EventBus.$emit("snackbar", {
                    text: "No puedes cobrar en domingo.",
                    type: "info",
                });
                return true;
            }
            return false;
        },
        goToLoansInRoute(item){
            this.$inertia.get(route('routes.collect',this.tempItem.id))
        },
        async consultRoute(item){
            let isSunday = this.checkSunday()
            if(isSunday){
                return;
            }
            const response = await axios.get(route('routes.consultPendingLoansInRoute',item.id));
            this.loansPendingCount = response.data.pendingLoansInRoute;
            this.tempItem = Object.assign({}, { ...item});
            this.dialogBegin = true;
        },
        async checkPettyCashDaily(){
            try {
                const response = await axios.get(route('pettyCashHistories.check'))
                //console.log(response.data);
                let exist = response.data.exist;
                if(exist){
                    if(response.data.pettyCashDaily){
                        this.pettyCashDaily = response.data.pettyCashDaily;
                        if(this.pettyCashDaily.state ==="CERRADA"){
                            this.pettyCashClose = true;
                        }
                    }
                }
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento comprobar la caja chica diaria, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
    },
    mounted() {
        this.checkPettyCashDaily();
    }
}
</script>

<style scoped>

</style>
