<template>
    <div>
        <heading-view
            heading-icon="mdi-motorbike"
            :heading-text="'Rutas Creadas'"
            use-support-text
            suport-text="Gestiona las rutas existentes en el sistema."
        />
        <v-row>
            <v-col cols="12">
                <route-list></route-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RouteList from "../../../components/Settings/Routes/RouteList";
export default {
    name: "RouteIndex",
    components:{
        HeadingView,
        RouteList,
    },
}
</script>

<style scoped>

</style>
