// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~vuetify/dist/vuetify.min.css';

// Variables
//@import 'variables';

body{
    //font-family: 'Nunito', sans-serif;
}

#nprogress .bar {
    height: 6px !important;
}

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
