<template>
    <v-list>
        <v-list-item class="">
            <v-list-item-content class="py-10 d-flex justify-center">
                <v-img
                    max-height="120"
                    max-width="120"
                    src="/images/notFound.png"
                    position="center center"
                ></v-img>
                <p class="pt-3">{{$page.props.auth.user.firstName}} lo sentimos, {{text}}.</p>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</template>

<script>
export default {
    name: "DataEmpty",
    props:{
        text: String,
    }
}
</script>

<style scoped>

</style>
