<template>
    <v-menu
        transition="slide-y-transition"
        left
        offset-y
    >
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="support"
                icon
                v-bind="attrs"
                v-on="on"
            >
                <v-icon>
                    mdi-dots-horizontal
                </v-icon>
            </v-btn>
        </template>
        <v-list dense>

            <v-list-item @click="viewItem" v-if="view">
                <v-list-item-icon>
                    <v-icon color="primary" small right>
                        mdi-eye
                    </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>
                        ver
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item v-if="edit" @click="editItem">
                <v-list-item-icon>
                    <v-icon color="primary" small right>
                        mdi-pencil
                    </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>
                        editar
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <slot name="preActions"></slot>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    name: "ui-table-actions",
    props: {
        item: Object,
        view: Boolean,
        edit: Boolean,
    },
    methods: {
        editItem() {
            this.$emit("edit-item", this.item);
        },
        viewItem() {
            this.$emit("view-item", this.item);
        },
    },
}
</script>

<style scoped>

</style>
