<template>
 <v-row>

     <v-col cols="12" class="pt-10">
         <welcome/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
         <new-customers/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
        <active-customers/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
        <total-customers/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
        <loan-to-approve/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
        <active-loans/>
     </v-col>
     <v-col cols="12" md="4"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            ">
         <loans-in-arrears/>
     </v-col>
     <v-col cols="12" md="6"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
         <daily-route-amount/>
     </v-col>
     <v-col cols="12" md="6"
            v-if="$page.props.auth.user.permission.includes('global.admin') ||
            $page.props.auth.user.permission.includes('global.sup')
            "
     >
        <daily-route-amount-charged/>
     </v-col>

 </v-row>
</template>

<script>
import welcome from "../../components/Dashboard/welcome";
import newCustomers from "../../components/Dashboard/newCustomers";
import ActiveCustomers from "../../components/Dashboard/activeCustomers";
import TotalCustomers from "../../components/Dashboard/totalCustomers";
import LoanToApprove from "../../components/Dashboard/loanToApprove";
import LoansInArrears from "../../components/Dashboard/loansInArrears";
import ActiveLoans from "../../components/Dashboard/activeLoans";
import DailyRouteAmount from "../../components/Dashboard/dailyRouteAmount";
import DailyRouteAmountCharged from "../../components/Dashboard/dailyRouteAmountCharged";
export default {
    name: "Dashboard",
    components:{
        DailyRouteAmountCharged,
        DailyRouteAmount,
        ActiveLoans,
        LoansInArrears,
        LoanToApprove,
        TotalCustomers,
        ActiveCustomers,
        welcome,
        newCustomers,
    },
    metaInfo: {
        title: 'Dashboard',
        meta: [
            {   name: "description",
                content: "Ingreso al Sistema."
            }
        ]
    },
}
</script>

<style scoped>

</style>
