<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="calculator"
            heading-text="Cuadre"
            use-support-text
            suport-text="Estas son las opciones relacionadas con el cuadre de rutas."
        />
        <v-row class="mt-4">
            <v-col cols="12" sm="6" md="4" lg="3" xl="3" v-for="menu in menus" :key="menu.name" >
                <v-card
                    outlined
                    color="white"
                    max-width="350"
                    class="mx-auto"
                    @click="gotoRoute(menu.url)"
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-subtitle class="font-weight-bold header--text" v-text="menu.name"></v-card-subtitle>
                        </div>
                        <v-avatar
                            class="ma-3"
                            size="95"
                            tile
                        >
                            <v-icon
                                color="primary"
                                x-large
                            > mdi-{{menu.icon}}</v-icon>
                        </v-avatar>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "RouteCheckMenu",
    components:{
        HeadingView,
    },
    data: () => ({
        menus: [],
        existingRoutes: [],
        loadingRoutes: false,
    }),
    methods:{
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        handelMenu(){
            this.menus = [
                {
                    icon: 'motorbike',
                    name: "Cuadre rutas diario",
                    url: "routeCheckHistories.routesAvailables",
                },
                {
                    icon: 'clipboard-text-clock-outline',
                    name: "Historial de cuadre de rutas",
                    url: "routeCheckHistories.view",
                },
            ];
        },
    },
    mounted() {
        this.handelMenu();
    },
}
</script>

<style scoped>

</style>
