<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="calculator"
            heading-text="Rutas para cuadrar"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-col cols="12" class="white pa-md-15">
            <v-row class="pb-10" >
                <v-col cols="12" class="pt-10 px-4 px-md-0">
                    <p class="support--text">Selecciona la ruta para crear el historico diario de cuadre de ruta y ver la informacion en ella.</p>
                    <small class="support--text">
                        <strong>Nota:</strong>
                        La ruta debe de estar en estado "COMPLETADA".
                    </small>
                </v-col>
                <v-col cols="12" sm="6" md="6" v-for="item in items" :key="item.id" >
                    <v-card
                        outlined
                        class="mx-auto"
                    >
                        <v-card-text>
                            <v-row class="pa-0 ma-0">
                                <v-col cols="12" md="7" lg="9" order="2" order-sm="1">
                                    <h4 class="font-weight-bold primary--text pt-2">
                                        {{item.correlative}}
                                    </h4>
                                    <h4 class="pt-2">
                                        Nombre:
                                    </h4>
                                    <p class="pt-2">
                                        {{item.name}}
                                    </p>
                                </v-col>
                                <v-col cols="12" md="5" lg="3" align="center" order="1" order-sm="2">
                                    <v-chip
                                        small
                                        class="float-right"
                                        color="secondary"
                                    >
                                        <strong>{{item.state || "SIN INICIAR"}}</strong>
                                    </v-chip>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-actions>
                            <v-row class="px-5 pb-3">
                                <v-col
                                    cols="12" md="6" order="2" order-sm="1"
                                >
                                    <v-btn
                                        v-if="item.state === 'CUADRADA' || item.state === 'SIN INICIAR' "
                                        @click="checkRouteTomorrow(item)"
                                        elevation="0"
                                        color="primary"
                                        block outlined
                                    >
                                        ver ruta para mañana
                                    </v-btn>
                                </v-col>
                                <v-col
                                    cols="12" md="6" order="1" order-sm="2"
                                >
                                    <v-btn
                                        @click="gotoCheck(item)"
                                        :disabled="item.state !== 'COMPLETADA'"
                                        elevation="0"
                                        color="primary"
                                        block
                                    >
                                        cuadrar
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
        <v-dialog v-model="dialogAlert" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    La ruta no se ha completado
                </v-card-title>
                <v-card-text>
                    No se puede cuadrar la ruta porque aún se están recorriendo los prestamos.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" elevation="0"  @click="dialogAlert=false">
                        entiendo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <route-collect-tomorrow
            :item="tempItem"
            v-if="dialogRouteTomorrow"
            :open="dialogRouteTomorrow"
            @close="closeRouteTomorrow"
        />
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RouteCollectTomorrow from "../../../components/Settings/Routes/RouteCollectTomorrow";
export default {
    name: "RouteCheckAvailables",
    components:{
        HeadingView,
        RouteCollectTomorrow,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Cuadre',
                disabled: false,
                href: 'routeCheckHistories.menu',
            },
            {
                text: 'Rutas disponibles',
                disabled: true,
                href: 'routeCheckHistories.routesAvailables',
            }
        ],
        items: [],
        dialogAlert: false,
        dialogRouteTomorrow: false,
        tempItem: {},
    }),
    methods:{
        checkRouteTomorrow(item){
            this.tempItem = Object.assign({}, item);
            this.dialogRouteTomorrow = true;
        },
        closeRouteTomorrow(){
            this.dialogRouteTomorrow = false;
            this.tempItem = Object.assign({}, {});
        },
        gotoCheck(item) {
            if (item.state !== "COMPLETADA") {
                this.dialogAlert = true;
                return;
            }
            this.$inertia.get(route('routeCheckHistories.checkSingle',item.id));
        },
        async getRoutes() {
            try {
                this.loadingData = true
                const response = await axios.get(route('routes.index'))
                this.items  = response.data.routes
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },
    },
    mounted() {
        this.getRoutes()
    }
}
</script>

<style scoped>

</style>
