<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="calculator"
            :heading-text="`Cuadrar ruta : ${routeParam.correlative}`"
            use-support-text
            suport-text="Verifica los distintos montos y coutas cobradas de la ruta."
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row>
            <v-col cols="12" align="">
                <check :route-param="routeParam"/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import Check from "../../../components/RouteCheck/Check";
export default {
    name: "RouteCheckRoute",
    props: {
        routeParam: Object,
    },
    components:{
        HeadingView,
        Check,
    },
    data:  () => ({
        breadCrums: [
            {
                text: 'Cuadre',
                disabled: false,
                href: 'routeCheckHistories.menu',
            },            {
                text: 'Rutas disponibles',
                disabled: false,
                href: 'routeCheckHistories.routesAvailables',
            },
            {
                text: 'Cuadre de ruta',
                disabled: true,
                href: 'routeCheckHistories.checkSingle',
            }
        ],
    }),
}
</script>

<style scoped>

</style>
