<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="calculator"
            heading-text="Historial cuadre de rutas"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <route-check-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import RouteCheckList from "../../../components/RouteCheck/RouteCheckList";
export default {
    name: "RouteCheckIndex",
    components:{
        HeadingView,
        RouteCheckList,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Cuadre',
                disabled: false,
                href: 'routeCheckHistories.menu',
            },
            {
                text: 'Historial cuadre de rutas',
                disabled: true,
                href: 'routeCheckHistories.view',
            }
        ],
    }),
}
</script>

<style scoped>

</style>
