<template>
    <div>
        <heading-view
            heading-icon="mdi-cash-minus"
            heading-text="Historial de retiros"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <daily-spend-list></daily-spend-list>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
import DailySpendList from "../../../components/DailySpend/DailySpendList";
export default {
    name: "DailySpendIndex",
    components:{
        HeadingView,
        DailySpendList,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Caja chica',
                disabled: false,
                href: 'pettyCashHistories.menu',
            },
            {
                text: 'Historial de retiros',
                disabled: true,
                href: 'pettyCashHistories.view',
            }
        ],
    }),
}
</script>

<style scoped>

</style>
