<template>
    <div>
        <heading-view
            heading-icon="mdi-account-box-outline"
            :heading-text="'Usuarios'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Gestiona los usuarios que usarán el sistema."
        />
        <v-row>
            <v-col cols="12">
                <usuarios-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../../components/ui/HeadingView";
import UsuariosList from "../../../../components/Settings/Usuarios/UsuariosList";
export default {
    name: "Usuarios",
    components:{
        HeadingView,
        UsuariosList
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Usuarios',
                disabled: true,
                href: 'users.view',
            }
        ],
    }),
    methods:{

    }
}
</script>

<style scoped>

</style>
