<template>
    <div>
        <heading-view
            heading-icon="mdi-account-box-outline"
            :heading-text="'Crea un nuevo usuario'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <form-user
                    :user="user"
                    @formUserSubmit="updateUser"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import 'vue-croppa/dist/vue-croppa.css'
import HeadingView from "../../../../components/ui/HeadingView";
import FormUser from "../../../../components/Settings/Usuarios/FormUser";
export default {
    name: "UserEdit",
    props:{
      user: Object
    },
    components:{
        HeadingView,
        FormUser,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Usuarios',
                disabled: false,
                href: 'users.view',
            },
            {
                text: 'Editar usuario',
                disabled: true,
                href: 'users.edit',
            }
        ],
    }),
    methods:{
        updateUser(data){
            var bodyFormData = new FormData();
            bodyFormData.append('image', data.image);
            bodyFormData.append('_method','PUT');
            bodyFormData.append('changeExistImage',data.changeExistImage);
            for (var key in data.item){
                bodyFormData.append(key,data.item[key]);
            }
            this.$inertia.post(this.route('users.update', this.user), bodyFormData,
                { forceFormData: true}
            )
        },
    }
}
</script>

<style scoped>

</style>
