<template>
    <div>
        <heading-view
            heading-icon="mdi-account-box-outline"
            :heading-text="'Crea un nuevo usuario'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <form-user
                    :user="user"
                    @formUserSubmit="storeUser"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import 'vue-croppa/dist/vue-croppa.css'
import HeadingView from "../../../../components/ui/HeadingView";
import FormUser from "../../../../components/Settings/Usuarios/FormUser";
export default {
    name: "UserCreate",
    components:{
        HeadingView,
        FormUser,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Usuarios',
                disabled: false,
                href: 'users.view',
            },
            {
                text: 'Nuevo usuario',
                disabled: true,
                href: 'users.create',
            }
        ],
        user:{
            username : '',
            firstName : '',
            lastName : '',
            email : '',
            identificationNumber : '',
            address : '',
            phoneOne : '',
            phoneTwo : '',
            role_id : '',
            image_url : '',
            active: "1",
        },
    }),
    methods:{
        storeUser(data){
            var bodyFormData = new FormData();
            bodyFormData.append('image', data.image);
            bodyFormData.append('changeExistImage',data.changeExistImage);
            for (var key in data.item){
                bodyFormData.append(key,data.item[key]);
            }
            this.$inertia.post(this.route('users.store'), bodyFormData,
                { forceFormData: true}
            )
        },
    }
}
</script>

<style scoped>

</style>
