<template>
    <v-container fluid class="pl-0 pb-0">
        <v-row>
            <v-col cols="12" md="7" class="pl-0 d-none d-sm-block cover-img"></v-col>
            <v-col cols="12" md="5" class="pt-md-10">
                <v-row class="d-flex align-center">
                    <div class="offset-md-2 col-md-8 pt-15">
                        <div class="pt-5 pb-2 text-center">
                            <h1 class="pt-md-3 font-title">¡Nos alegra tenerte con nosotros! </h1>
                            <p class="text-muted">Por favor, ingresa los datos solicitados.</p>
                        </div>
                        <form class="pt-md-5 pt-10 px-md-0 px-5" v-on:submit.prevent="submit"  >
                            <v-text-field
                                v-model="code"
                                label="Codigo"
                                outlined
                                required
                                autofocus
                                :error-messages="codeErrors"
                                @input="$v.code.$touch()"
                                @blur="$v.code.$touch()"
                                append-icon="mdi-account-circle"
                            ></v-text-field>
                            <v-text-field
                                v-model="password"
                                label="Contraseña"
                                outlined
                                required
                                :error-messages="passwordErrors"
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                                @click:append="showPassword = !showPassword"
                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPassword ? 'text' : 'password'"
                                class="input-group--focused"
                            ></v-text-field>
                            <v-btn
                                type="submit"
                                color="primary"  elevation="0"
                                x-large  block
                                :loading="validating"
                                @click="submit"
                            >
                                Ingresar
                            </v-btn>
                        </form>
                        <v-snackbar
                            :color=snackbar_color
                            right bottom
                            v-model="snackbar"
                            :timeout="timeout"
                        >
                            {{ snackbar_text }}
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    :color="snackbar_color== 'error' ? 'white':'black'"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                                >
                                    cerrar
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </div>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
export default {
    name: "Login",
    metaInfo: {
        title: 'Login',
        meta: [
            {   name: "description",
                content: "Ingreso al Sistema."
            }
        ]
    },
    mixins: [validationMixin],
    validations: {
        code: { required },
        password: { required},
    },
    data: () => ({
        code: '',
        password: '',
        showPassword: false,
        validating: false,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
        isLogin : false
    }),
    computed: {
        codeErrors () {
            const errors = []
            if (!this.$v.code.$dirty) return errors
            !this.$v.code.required && errors.push('Debes ingresar el codigo.')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Debes ingresar la contraseña.')
            return errors
        },
    },
    methods: {
        submit () {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.isLogin = false
                this.validating=true
                axios.post(route('login'),{
                    'username': this.code,
                    'password': this.password
                }).then(response => {
                    this.validating = false
                    if(response.status==200) {
                        this.isLogin = true
                        this.$inertia.get(route('dashboard'))
                    }
                }).catch(error => {
                    this.validating = false
                    if(error?.response.status === 422){
                        if(error?.response?.data?.errors?.username){
                            this.snackbar_text= error.response.data.errors.username[0]
                            this.snackbar_color= "error"
                            this.snackbar=true
                        }
                    }
                    if(error?.response.status === 429){
                        this.snackbar_text= "Demasiados intentos de sesión, intente nuevamente en 1 minuto."
                        this.snackbar_color= "error"
                        this.snackbar=true
                    }
                });
            }
        },
    },
}
</script>

<style scoped>
.cover-img{
    background-image: url('/images/coverLogin.jpg');
    min-height: 93vh;
    /*width: calc(100% - 560px);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
</style>
