<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="briefcase"
            heading-text="Nuevo prestamo"
            use-support-text
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row>
            <v-col cols="12">
                <form-loand
                    :loand-param="item"
                    @formLoandSubmit="storeLoand"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormLoand from "../../../components/Settings/Loands/FormLoand";
export default {
    name: "LoandCreate",
    components:{
        HeadingView,
        FormLoand,
    },
    data:  () => ({
        breadCrums: [
            {
                text: 'Prestamos',
                disabled: false,
                href: 'loands.view',
            },
            {
                text: 'Crear prestamo',
                disabled: true,
                href: 'loands.create',
            }
        ],
        item:{
            correlative : "",
            customer_id : " ",
            type : "",
            state : "PENDIENTE",
            dues : "",
            interest_percentage : "",
            loan_purpose : "",
            late_fee : "",
            borrowed_amount : "",
            interest_amount : "",
            total_amount : "",
            fixed_fee : "",
        },
    }),
    methods:{
        storeLoand(data){
            this.$inertia.post(this.route('loands.store'), data.item)
        },
    }
}
</script>

<style scoped>

</style>
