<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="briefcase"
            :heading-text="`Editar Prestamo:  ${loand.correlative}`"
            use-support-text
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-row>
            <v-col cols="12">
                <form-loand
                    :loand-param="loand"
                    :customer-param="customer"
                    @formLoandSubmit="updateLoand"
                />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import FormLoand from "../../../components/Settings/Loands/FormLoand";
export default {
    name: "LoandEdit",
    props: {
        loand: Object,
        customer: Object,
    },
    components:{
        HeadingView,
        FormLoand
    },
    data:  () => ({
        breadCrums: [
            {
                text: 'Prestamos',
                disabled: false,
                href: 'loands.view',
            },
            {
                text: 'Editar prestamo',
                disabled: true,
                href: 'loands.create',
            }
        ],
    }),
    methods: {
        updateLoand(data){
            this.$inertia.put(
                this.route('loands.update', this.loand),
                data.item
            )
        }
    }
}
</script>

<style scoped>

</style>
