<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="briefcase"
            heading-text="Prestamos"
        />
        <v-row>
            <v-col cols="12">
                <loand-list></loand-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import LoandList from "../../../components/Settings/Loands/LoandList";
export default {
    name: "LoandIndex",
    components:{
        HeadingView,
        LoandList
    }
}
</script>

<style scoped>

</style>
