<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="briefcase"
            :heading-text="`Préstamo: ${loand.correlative}`"
            :items-breadcrumbs="breadCrums"
            use-bread-crumbs
        />
        <v-card flat class="pa-5">
            <v-card-text>
                <v-row v-if="loand.state !== 'RECHAZADO' && loand.state !== 'ANULADO'">
                    <v-col cols="12">
                        <h3 class="primary--text">Acciones disponibles</h3>
                    </v-col>
                    <v-col v-if="pettyCashClose" cols="12" align="center">
                        <v-card outlined >
                            <v-card-text>
                                <h3 class="font-weight-bold primary--text">SE CERRO CAJA CHICA</h3>
                                <small>no se puede aprobar prestamos o realizar pagos a las cuotas.</small>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-btn
                            v-if="loand.state==='PENDIENTE'"
                            @click="dialogLoanDelete=true"
                            color="error"
                            elevation="0"
                            block
                        >
                            <v-icon left >
                                mdi-delete-outline
                            </v-icon>
                            ELIMINAR
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-btn
                            v-if="loand.state==='PENDIENTE'"
                            @click="dialogLoanRejection=true"
                            color="error"
                            elevation="0"
                            outlined
                            block
                        >
                            <v-icon left >
                                mdi-thumb-down-outline
                            </v-icon>
                            RECHAZAR
                        </v-btn>
                        <v-btn
                            v-if="loand.state==='APROBADO'"
                            @click="openDialogLoandPayments"
                            color="primary"
                            elevation="0"
                            outlined
                            block
                        >
                            <v-icon left >
                                mdi-calendar-outline
                            </v-icon>
                            primer pago
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="3">
                        <v-btn
                            v-if="loand.state==='PENDIENTE'"
                            @click="dialogLoanApprove=true"
                            :disabled="pettyCashClose"
                            color="primary"
                            elevation="0"
                            outlined
                            block
                        >
                            <v-icon left >
                                mdi-thumb-up-outline
                            </v-icon>
                            APROBAR
                        </v-btn>

                        <v-btn
                            v-if="loand.state ==='APROBADO'"
                            @click="dialogLoanNullification=true"
                            color="error"
                            elevation="0"
                            outlined
                            block
                        >
                            <v-icon left >
                                mdi-table-off
                            </v-icon>
                            Anular
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="3" v-if="!loand.completed_at && !noActionForState ">
                        <v-btn
                            @click="editItem(loand)"
                            color="primary"
                            elevation="0"
                            block
                        >
                            <v-icon left >
                                mdi-pencil-outline
                            </v-icon>
                            EDITAR
                        </v-btn>
                    </v-col>
                    <v-col cols="12">
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
                <v-row v-if="loand.loand_parent_id">
                    <v-col cols="12">
                        <h3 class="primary--text">Datos del préstamo anterior</h3>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Correlativo:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-btn outlined color="primary" @click="viewItem">
                                    {{ loand.loand_parent_correlative }}
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto pendiente:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.pending_amount) }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto adicional:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.additional_amount) }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <h3 class="primary--text">Datos del préstamo</h3>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>fecha de creación:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.created_at }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Tipo de préstamo:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.type }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Estado:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.state }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>

                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto prestado:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.borrowed_amount) }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Núm Cuotas:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ dues_paid_out }}/{{ loand.dues }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="7" lg="6" class="support--text" >
                                <h4>porcentaje de interés:</h4>
                            </v-col>
                            <v-col cols="12" md="3" lg="6">
                                <h4>
                                    {{ loand.interest_percentage }}%
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto por mora:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.late_fee) || "no definido" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Cuota fija:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.fixed_fee) || "no definido" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="12" lg="12">
                        <v-row>
                            <v-col cols="12" md="4" lg="2" class="support--text" >
                                <h4>Proposito del préstamo:</h4>
                            </v-col>
                            <v-col cols="12" md="10">
                                <h4>
                                    {{ loand.loan_purpose }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto interes:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.interest_amount) || "no definido" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Monto total:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ formatCurrencyGT(loand.total_amount) || "no definido" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12">
                        <h3 class="primary--text">Datos de ruta</h3>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="12" md="3" lg="4" class="support--text" >
                                <h4>Cliente:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="8">
                                <h4>
                                    {{ loand.customer_name }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="12" md="3" lg="4" class="support--text" >
                                <h4>Negocio:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="8">
                                <h4>
                                    {{ loand.business_name || "no aplica" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="12" md="6" lg="4" class="support--text" >
                                <h4>Telefonos de contacto:</h4>
                            </v-col>
                            <v-col cols="12" md="6" lg="8">
                                <h4>
                                    {{ loand.phoneOne }}
                                    {{ loand.phoneTwo ? `, ${loand.phoneTwo}` : "" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="12" md="3" lg="4" class="support--text" >
                                <h4>Ruta:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="8">
                                <h4>
                                    {{ loand.route_name ||  "sin ruta" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Departamento:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.departamento_name || "sin departamento" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Municipio:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.municipio_name || "sin municipio" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="4" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Sector:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.sector_name || "sin sector" }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-row>
                            <v-col cols="12" md="3" lg="4" class="support--text" >
                                <h4>Creado por:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="8">
                                <h4>
                                    {{ loand.created_by_name }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="6" lg="4">
                        <v-row>
                            <v-col cols="12" md="6" class="support--text" >
                                <h4>Primer pago:</h4>
                            </v-col>
                            <v-col cols="12" md="6">
                                <h4>
                                    {{ loand.first_payment_date || 'no definido' }}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12"
                           v-if="loand.state !== 'PENDIENTE' "
                    >
                        <h3 class="primary--text">Otros datos</h3>
                    </v-col>
                    <v-col cols="12">
                        <v-row v-if="loand.state !== 'PENDIENTE'">
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="4" class="support--text" >
                                        <h4>Aprobado por:</h4>
                                    </v-col>
                                    <v-col cols="12" md="8" >
                                        <h4>
                                            {{ loand.confirmed_by_name }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="6" lg="4" class="support--text" >
                                        <h4>Fecha de aprobación:</h4>
                                    </v-col>
                                    <v-col cols="12" md="6" lg="8">
                                        <h4>
                                            {{ loand.created_at }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row v-if="loand.state === 'PAGADO'">
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="6" lg="4" class="support--text" >
                                        <h4>Pagado completo el:</h4>
                                    </v-col>
                                    <v-col cols="12" md="6" lg="8">
                                        <h4>
                                            {{ loand.completed_at }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row v-if="loand.state === 'RECHAZADO'">
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="4" class="support--text" >
                                        <h4>Rechazado por:</h4>
                                    </v-col>
                                    <v-col cols="12" md="8" >
                                        <h4>
                                            {{ loand.rejected_by_name || "" }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="6" lg="4" class="support--text" >
                                        <h4>Fecha de rechazo:</h4>
                                    </v-col>
                                    <v-col cols="12" md="6" lg="8" >
                                        <h4>
                                            {{ loand.rejected_at }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                        <v-row v-if="loand.state === 'ANULADO'">
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12" md="4" class="support--text" >
                                        <h4>Anulado por:</h4>
                                    </v-col>
                                    <v-col cols="12" md="8" >
                                        <h4>
                                            {{ loand.nullified_by_name || "" }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" md="6">
                                <v-row>
                                    <v-col cols="12"  md="6" lg="4"  class="support--text" >
                                        <h4>Fecha de anulación:</h4>
                                    </v-col>
                                    <v-col cols="12"  md="6" lg="8"  >
                                        <h4>
                                            {{ loand.nullified_at }}
                                        </h4>
                                    </v-col>
                                </v-row>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12"  v-if="loand.state === 'RECHAZADO'">
                        <v-row>
                            <v-col cols="12" md="3" lg="2" class="support--text" >
                                <h4>Motivo del rechazo:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="10">
                                <h4>
                                    {{ loand.rejection_note || ""}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12"  v-if="loand.state === 'ANULADO'">
                        <v-row>
                            <v-col cols="12" md="3" lg="2" class="support--text" >
                                <h4>Motivo de anulación:</h4>
                            </v-col>
                            <v-col cols="12" md="9" lg="10">
                                <h4>
                                    {{ loand.annulment_note || ""}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12"  v-if="loand.state === 'REFINANCIADO'">
                        <v-row>
                            <v-col cols="12" class="primary--text" align="center">
                                <v-divider></v-divider>
                            </v-col>
                            <v-col cols="12" class="support--text" align="center">
                                <h3>El prestamo ha sido refinanciado, existe un nuevo prestamo con la deuda pendiente dirijase a la lista de refinaciamientos.</h3>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12"  v-if="loand.state != 'RECHAZADO'">
                        <v-divider></v-divider>
                        <payment-list
                            :loand="loand"
                            @paid-outs="handlePaidOutsCount"
                        />
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialogLoanRejection" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2">  mdi-thumb-down-outline</v-icon>
                    Rechazar préstamo
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12">
                            <v-form ref="formLoandRejection" lazy-validation>
                                <p class="pb-3">
                                    Si rechaza el préstamo no podrá realizar ninguna acción en el, se quedará en el listado de préstamos del cliente como historial.
                                </p>
                                <v-textarea
                                    outlined
                                    v-model="rejection_note"
                                    label="Motivo del rechazo:"
                                    hint="Escribe porque se rechazo el préstamo."
                                    :rules="[rules.required]"
                                ></v-textarea>
                            </v-form>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="closeDialogLoanRejection" :disabled="loadingDialogLoanRejection"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="rejectLoand" :loading="loadingDialogLoanRejection">
                        Si, rechazar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogLoanDelete" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Eliminar préstamo
                </v-card-title>
                <v-card-text>
                    El préstamo no ha sido aprobado, se perderán los datos ingresados en este préstamo, no afectará al sistema.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogLoanDelete=false" :disabled="loadingDialogLoanDelete"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="deleteLoand" :loading="loadingDialogLoanDelete">
                        Si, eliminalo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogLoanApprove" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2">  mdi-thumb-up-outline</v-icon>
                    Aprobar préstamo
                </v-card-title>
                <v-card-text>
                    <p>Luego de aprobar el préstamo, podrás asignarle fecha de primer pago.</p>
                    <small><span class="font-weight-bold">Nota: </span>Ya no podrás editar ciertos datos del préstamo, por favor verifica antes de continuar.</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogLoanApprove=false" :disabled="loadingDialogLoanApprove"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="approveLoand" :loading="loadingDialogLoanApprove">
                        Si, apruebalo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogLoanNullification" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2">
                        mdi-table-off
                    </v-icon>
                    Anular préstamo
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12">
                            <v-form ref="formLoandNullification" lazy-validation>
                                <p class="pb-3">
                                    Si anula el préstamo no podrá realizar ninguna acción en él, se quedará en el listado de préstamos del cliente como historial.
                                </p>
                                <v-textarea
                                    outlined
                                    v-model="annulment_note"
                                    label="Motivo de la anulación:"
                                    hint="Escribe el porqué se está anulando el préstamo."
                                    :rules="[rules.required]"
                                ></v-textarea>
                            </v-form>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="closeDialogLoanNullification" :disabled="loadingDialogLoanNullification"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="nullifyLoand" :loading="loadingDialogLoanNullification">
                        Si, anular
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogLoadPayments" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2">
                        mdi-calendar-outline
                    </v-icon>
                    Fechas estimadas de pago
                </v-card-title>
                <v-card-text>
                    <v-row class="pt-5">
                        <v-col cols="12">
                            <div class="pt-md-2">
                                <span class="">
                                    Al seleccionar la siguiente fecha, podras ver los dias de pago estimados que tendra el prestamo.
                                </span>
                            </div>
                        </v-col>
                        <v-col
                            cols="7"
                        >
                            <v-menu
                                v-model="menuDate"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        :value.sync="computedDateFormatted"
                                        label="Fecha primer pago"
                                        prepend-inner-icon="mdi-calendar"
                                        readonly
                                        outlined
                                        dense
                                        v-bind="attrs"
                                        v-on="on"
                                        persistent-hint
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    header-color="secondary"
                                    color="primary"
                                    locale="es-Es"
                                    v-model="first_payment_date"
                                    @input="menuDate = false"
                                    :min="minDate"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col
                            cols="3"
                        >
                           <v-btn
                               @click="calculatePaymentDates"
                               block
                               color="primary"
                               elevation="0"
                           >
                               simular fechas
                           </v-btn>
                        </v-col>
                        <v-col cols="12" v-if="paymentsDays.length">
                            <v-simple-table
                                fixed-header
                                height="300px"
                            >
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-left">
                                            cuota
                                        </th>
                                        <th class="text-left">
                                            fecha estimada
                                        </th>
                                        <th class="text-left">
                                            dia
                                        </th>
                                        <th class="text-left">
                                            total
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr
                                        v-for="item in paymentsDays"
                                        :key="item.cuota"
                                    >
                                        <td>{{ item.cuota }}</td>
                                        <td>{{ item.estimated_payment_date }}</td>
                                        <td>{{ item.day_name }}</td>
                                        <td>{{ formatCurrencyGT(item.total_payment) }}</td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-col>
                        <v-col cols="12" v-else>
                            <v-card flat class="py-15">
                                <v-row class="py-15 px-md-6" no-gutters align="center">
                                    <v-col
                                        cols="12"
                                        class="p-0 m-0 "
                                        align="center"
                                        justify="center"
                                    >
                                        <v-icon style="font-size: 3em">
                                            mdi-hand-coin-outline
                                        </v-icon>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                        class="pt-3 grey--text text--darken-3"
                                        align="center"
                                        justify="center"
                                    >
                                        <h2 class="primary--text">¡Lo sentimos!</h2>
                                        <small class="font-weight-medium">
                                            Aún no hay fechas de pago simuladas.
                                        </small>
                                    </v-col>
                                </v-row>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn color="support" outlined @click="closeDialogLoadPayments">
                        <v-icon left>
                            mdi-arrow-left
                        </v-icon>
                        volver
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"  outlined @click="handleAcceptPayments" :disabled="paymentsDays.length < 1 "> Activar y crear pagos </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="confirmDialogLoadPayments" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Activar préstamo y crear cuotas
                </v-card-title>
                <v-card-text>
                    <p>
                        Si continúas el préstamo pasará a estado activo, se le asignarán las coutas y se colocará en la ruta establecida.
                    </p>
<!--                    <small class="my-10">
                        <strong>Nota:</strong>
                        Considera que si no tiene una ruta asignada deberás cobrar manualmente este préstamo.
                    </small>-->
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="confirmDialogLoadPayments=false" :disabled="loadingConfirmDialogLoadPayments"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="activeLoand" :loading="loadingConfirmDialogLoadPayments">
                        Si, continuar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogLoandNoRoute" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    El prestamo no tiene ruta asignada
                </v-card-title>
                <v-card-text>
                    <p>
                        No se puede fijar la fecha del primera pago y cambiar el prestamo a <STRONG>ACTIVO</STRONG> sin una ruta, por favor
                        <span class="primary--text">edita el prestamo y asignale una ruta.</span>
                    </p>
                    <small class="my-10">
                        <strong>Nota:</strong>
                        Esto afectaria al orden de las rutas.
                    </small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"  outlined @click="dialogLoandNoRoute=false" >
                        Entiendo
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
import {formatCurrencyGT} from "../../../utils/formats";
import DataEmpty from "../../../components/ui/DataTable/DataEmpty";
import UiTableActions from "../../../components/ui/DataTable/UiTableActions";
import PaymentList from "../../../components/Payments/PaymentList";
import {EventBus} from "../../../EventBus";
import moment from "moment";
export default {
    name: "LoandShow",
    props: {
        loand: Object,
    },
    components:{
        HeadingView,
        DataEmpty,
        UiTableActions,
        PaymentList,
    },
    data: () => ({
        dialogLoanRejection: false,
        loadingDialogLoanRejection: false,
        rejection_note: "",
        dialogLoanNullification: false,
        loadingDialogLoanNullification: false,
        annulment_note: "",
        dialogLoanDelete: false,
        loadingDialogLoanDelete: false,
        dialogLoanApprove: false,
        loadingDialogLoanApprove: false,
        dialogLoandNoRoute: false,
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
        breadCrums: [
            {
                text: 'Prestamos',
                disabled: false,
                href: 'loands.view',
            },
            {
                text: 'ver préstamo',
                disabled: true,
                href: 'loands.show',
            }
        ],
        loadingData:false,
        paymentsDays: [],
        dialogLoadPayments:false,
        first_payment_date : "",
        minDate: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        menuDate: false,
        confirmDialogLoadPayments: false,
        loadingConfirmDialogLoadPayments: false,
        dues_paid_out: 0,
        pettyCashDaily: {},
        pettyCashClose: false,
    }),
    computed: {
        computedDateFormatted () {
            if(this.first_payment_date){
                return this.formatDate(this.first_payment_date)
            }
            return null
        },
        noActionForState(){
            return this.loand.state === "ANULADO" || this.loand.state === "REFINANCIADO";
        },
    },
    watch:{
        first_payment_date (val) {
            //this.dateFormatted = this.formatDate(this.first_payment_date)
            this.paymentsDays = [];
            if(moment(val.toString()).day() === 0){
                EventBus.$emit("snackbar", {
                    text: "El primer pago no puede cobrarse en dia domingo.",
                    type: "info",
                });
                this.first_payment_date = ""
            }
        },
    },
    methods:{
        viewItem(){
            this.$inertia.get(route('loands.show',this.loand.loand_parent_id))
        },
        handlePaidOutsCount(val){
            this.dues_paid_out = val;
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        editItem(item){
            if(this.loand.loand_parent_id){
                this.$inertia.get(route('refinancedLoands.edit',item))
            }else{
                this.$inertia.get(route('loands.edit',item))
            }
        },
        approveLoand(){
            this.loadingDialogLoanApprove = true;
            this.$inertia.put(
                this.route('loands.approve', this.loand),{},{
                    onSuccess: () => {
                        this.loadingDialogLoanApprove = false;
                        this.dialogLoanApprove = false;
                        this.$inertia.get(route('loands.show',this.loand.id),{},{ replace: true })
                    },
                }
            )
        },
        rejectLoand(){
            this.loadingDialogLoanRejection = true;
            this.$inertia.put(
                this.route('loands.reject', this.loand),{
                    'rejection_note' : this.rejection_note
                },{
                    onSuccess: () => {
                        this.loadingDialogLoanRejection = false;
                        this.dialogLoanRejection = false;
                        this.$inertia.get(route('loands.show',this.loand.id),{},{ replace: true })
                    },
                }
            )
        },
        closeDialogLoanRejection(){
            this.rejection_note = "";
            this.$refs.formLoandRejection.resetValidation();
            this.dialogLoanRejection = false;
        },
        deleteLoand(){
            this.$inertia.delete(
                this.route('loands.destroy', this.loand),{
                    onSuccess: () => {
                        //this.$inertia.get(route('loands.show',this.loand.id),{},{ replace: true })
                    },
                }
            )
        },
        nullifyLoand(){
            this.loadingDialogLoanNullification = true;
            this.$inertia.put(
                this.route('loands.nullify', this.loand),{
                    'annulment_note' : this.annulment_note
                },{
                    onSuccess: () => {
                        this.loadingDialogLoanNullification = false;
                        this.dialogLoanNullification = false;
                        this.$inertia.get(route('loands.show',this.loand.id),{},{ replace: true })
                    },
                }
            )
        },
        closeDialogLoanNullification(){
            this.annulment_note = "";
            this.$refs.formLoandNullification.resetValidation();
            this.dialogLoanNullification = false;
        },
        calculatePaymentDates(){
            if(!this.first_payment_date ){
                EventBus.$emit("snackbar", {
                    text: "Debes elegir la fecha del primer pago",
                    type: "info",
                });
                return;
            }
            this.paymentsDays = [];
            let interes =  parseFloat(parseFloat(this.loand.interest_amount) / parseInt(this.loand.dues) ).toFixed(2);
            let abonoCapital =  parseFloat(parseFloat(this.loand.borrowed_amount) / parseInt(this.loand.dues) ).toFixed(2);
            let daysToSum ;
            switch (this.loand.type) {
                case "DIARIO":
                    daysToSum = 1;
                    break;
                case "SEMANAL":
                    daysToSum = 7;
                    break;
                case "QUINCENAL":
                    daysToSum = 15;
                    break;
                case "MENSUAL":
                    daysToSum = 30;
                    break;
            }
            for (let i = 0; i < parseInt(this.loand.dues);) {
                if( i === 0 ){
                    this.paymentsDays.push({
                        cuota: i+1,
                        estimated_payment_date: moment(this.first_payment_date).add( i, 'days').locale('es').format('L'),
                        day_name: moment(this.first_payment_date).add( i, 'days').locale('es').format('dddd'),
                        capital_payment: abonoCapital,
                        interest_payment: interes,
                        total_payment: this.loand.fixed_fee,
                    });
                }else{
                    let last_date = this.paymentsDays[i-1].estimated_payment_date;
                    let pay_date_temp ;
                    if( moment(last_date.toString(), "DD/MM/YYYY").add( daysToSum, 'days').day() === 0){
                        pay_date_temp = moment(last_date.toString(), "DD/MM/YYYY").add( daysToSum+1, 'days');
                    }else{
                        pay_date_temp = moment(last_date.toString(), "DD/MM/YYYY").add( daysToSum, 'days');
                    }
                    this.paymentsDays.push({
                        cuota: i+1,
                        estimated_payment_date: moment(pay_date_temp).locale('es').format('L'),
                        day_name: moment(pay_date_temp).locale('es').format('dddd'),
                        capital_payment: abonoCapital,
                        interest_payment: interes,
                        total_payment: this.loand.fixed_fee,
                    });
                }
                i++;
            }
        },
        handleAcceptPayments(){
          if(this.paymentsDays.length < 1 ){
              EventBus.$emit("snackbar", {
                  text: "No puedes continuar si no has generado los pagos",
                  type: "info",
              });
              return;
          }
          this.confirmDialogLoadPayments = true;
        },
        closeDialogLoadPayments(){
            this.first_payment_date = "";
            this.paymentsDays = [];
            this.dialogLoadPayments = false;
        },
        openDialogLoandPayments(){
            if(!this.loand.route_id){
                this.dialogLoandNoRoute = true;
            }else{
                this.dialogLoadPayments = true
            }
        },
        activeLoand(){
          this.dialogLoadPayments = false
          this.loadingConfirmDialogLoadPayments = true;
          this.$inertia.post(
            this.route('loands.activate', this.loand),{
                'first_payment_date': this.first_payment_date,
                'payments' : this.paymentsDays
            },{
                onSuccess: () => {
                    this.loadingConfirmDialogLoadPayments = false;
                    this.confirmDialogLoadPayments = false;
                    this.dialogLoadPayments = false;
                    this.$inertia.get(route('loands.show',this.loand.id),{},{ replace: true })
                },
            }
          )
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async checkPettyCashDaily(){
            try {
                const response = await axios.get(route('pettyCashHistories.check'))
                let exist = response.data.exist;
                if(exist){
                    if(response.data.pettyCashDaily){
                        this.pettyCashDaily = response.data.pettyCashDaily;
                        if(this.pettyCashDaily.state ==="CERRADA"){
                            this.pettyCashClose = true;
                        }
                    }
                }
            }catch (e) {
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento comprobar la caja chica diaria, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(e);
            }
        },
    },
    mounted() {
        this.checkPettyCashDaily();
    }
}
</script>

<style scoped>

</style>
