<template>
    <v-breadcrumbs :items="ItemsBreadCrumbs">
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item
            class="primary--text"
            :class="!item.disabled?'breadcrumb-active':''"
            active-class="grey--text"
            @click="gotoRoute(item.href,item.disabled)"
            :disabled="item.disabled"
            link
        >
          {{ item.text}}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
</template>

<script>
export default {
  name: "BreadCrumbs",
  props:{
    ItemsBreadCrumbs : { Array }
  },
  methods:{
      gotoRoute(url, disabled){
          if(!disabled){
              this.$inertia.get(route(url))
          }
      }
  }
}
</script>

<style scoped>
.v-breadcrumbs{
  padding: 10px 12px 5px 12px;

}

.breadcrumb-active{
  cursor: pointer ;
}

</style>
