<template>
  <div>
      <v-card flat >
            <v-data-table
                fixed-header
                :headers="headers"
                :items="departamentos"
                :search="search"
                :items-per-page=5
                :loading=loadTable
                loading-text="Un momento por favor..."
                no-results-text="Lo sentimos, No existe algun departamento con esos datos de busqueda."
                :header-props="{'sort-by-text':'Ordenar por'}"
                :footer-props="{'items-per-page-text':'Departamentos por página','items-per-page-all-text':'Todos'}"
            >
                <template v-slot:top class="">
                    <v-toolbar flat class="" :height="$vuetify.breakpoint.xs? 250 : 120">
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <h5 class="float-sm-right pt-3 font-weight-medium support--text">Busca por nombre de departamento</h5>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                    outlined
                                    dense
                                    align="center"
                                    v-model="search"
                                    append-icon="mdi-magnify"
                                    label="Ej. Guatemala"
                                    single-line
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-select
                                    outlined
                                    dense
                                    :items="estadoListado"
                                    v-model="estadoListadoValue"
                                    label="Estado"
                                ></v-select>
                            </v-col>
                        </v-row>
                    </v-toolbar>
                </template>
                <template v-slot:item.active="{item}">
                    <v-chip
                        class="ma-2"
                        :color="item.active?'primary': 'blue-grey lighten-2'"
                        text-color="white"
                    >
                        <span>{{item.active?'Activo': 'Inactivo'}}</span>
                    </v-chip>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-btn
                        v-if="item.exist_loans < 1 && item.exist_customers < 1"
                        outlined small @click="editItem(item)"
                    >
                        <v-icon left
                            small class="">
                            {{item.active?'mdi-note-off-outline' : 'mdi-note-outline'}}
                        </v-icon>
                        {{item.active?'desactivar' : 'activar'}}
                    </v-btn>
                </template>
                <template v-slot:no-results>
                    <data-empty
                        text="no existe algún departamento con esos datos de busqueda"
                    />
                </template>
            </v-data-table>
      </v-card>
      <v-dialog v-model="dialog" width="450" persistent>
          <v-card class="pa-2">
              <v-card-title class="text-h6 secondary--text font-weight-bold ">
                  <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                  {{dialogStateTitle}}
              </v-card-title>
              <v-card-text>
                  <span v-if="!state">
                      El departamento estará disponible en los futuros prestamos, recuerda activar los municipios que necesites.
                  </span>
                  <span v-else>
                      El departamento, municipios y sectores ya no estarán disponibles en futuros prestamos.
                  </span>
              </v-card-text>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="grey darken-2"  text @click="dialog=false"> volver </v-btn>
                  <v-btn color="primary"  outlined @click="handleState()">
                    <span v-if="!state">
                        Si, activalo
                    </span>
                    <span v-else>
                      Si, desactivalo
                    </span>
                  </v-btn>
              </v-card-actions>
          </v-card>
      </v-dialog>
  </div>
</template>
<script>
import {EventBus} from "../../../EventBus";
import DataEmpty from "../../ui/DataTable/DataEmpty";
export default {
    name: "DepartamentosList",
    components:{
        DataEmpty,
    },
    data: () => ({
        dialog: false,
        departamentos: [],
        loadTable: false,
        search: '',
        estadoListado: [
            {text: "Todos", value: null},
            {text: "Activo", value: 1},
            {text: "Inactivo", value: 0},
        ],
        estadoListadoValue: null,
        editedIndex: -1,
        editedItem: {
            id: "",
            name: "",
            active: "",
        },
        state: 0,
    }),
    computed:{
        dialogStateTitle() {
            return this.state === 0 ? "Activar el departamento" : "Desactivar el departamento";
        },
        headers() {
            return [
                {
                    text: "Nombre",
                    value: "name",
                    align: 'left',
                },
                {
                    text: 'Estado',
                    value: 'active',
                    filter: this.estadoFilter,
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false
                },
            ]
        },
    },
    methods:{
        estadoFilter(value) {
            if (this.estadoListadoValue === null) {
                return true;
            }
            return value === this.estadoListadoValue;
        },
        async getDepartamentos() {
            try {
                this.loadTable = true
                const response = await axios.get(route('departamentos.index'))
                this.departamentos  = response.data.departamentos
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
        editItem(item) {
            this.editedIndex = this.departamentos.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.editedItem.active? this.state = 1 : this.state= 0
            this.dialog = true;
        },
        closeDialog(){

        },
        handleState(){
            axios.put(route('departamentos.update', this.editedItem.id), this.editedItem )
                .then( response => {
                    EventBus.$emit("snackbar", {
                        text: response.data.message,
                        type: "success",
                    });
                    this.dialog = false
                    this.getDepartamentos()
                })
                .catch(error =>{
                    console.log(error)
                })
        }
    },
    mounted() {
        this.getDepartamentos()
    }
}
</script>

<style scoped>

</style>
