<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :search="searchFilter"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Retiros por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="pt-5 px-4">
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateFrom"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateFromFormatted"
                                    label="Fecha inicial"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateFrom"
                                @input="menuDateFrom = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateTo"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateToFormatted"
                                    label="Fecha final"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateTo"
                                @input="menuDateTo = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="3"
                        md="2"
                    >
                        <v-btn block color="primary" elevation="0" class="py-5" @click="getItems">
                            filtrar
                        </v-btn>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-text-field
                            append-icon="mdi-magnify"
                            label="Buscar"
                            single-line
                            outlined
                            dense
                            v-model="searchFilter"
                            clearable
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row class="pt-0 pb-5 px-4" align="center" justify="center">
                    <v-col cols="12" md="4" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total de retiros
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(totalRetiros || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos retiros registrados o anulados en el rango de fechas"
                />
            </template>
            <template v-slot:item.petty_cash_correlative="{item}">
                <v-chip
                    class="ma-1"
                    :color="colorStatePettyCash(item)"
                    text-color="white"
                    small
                >
                    <strong>{{ item.petty_cash_correlative }}</strong>
                </v-chip>
            </template>
            <template v-slot:item.amount="{item}">
                <span>{{ formatCurrencyGT(item.amount) }}</span>
            </template>
            <template v-slot:item.state="{item}">
                <v-chip
                    class="ma-1"
                    :color="colorState(item)"
                    text-color="white"
                    small
                >
                    <strong>{{ item.state }}</strong>
                </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <ui-table-actions
                    view
                    :item="item"
                    @view-item="viewItem"
                >
                    <template v-slot:preActions>
                        <v-list-item  @click="cancelItem(item)" v-if="availableToReversion(item)">
                            <v-list-item-icon>
                                <v-icon color="primary" small right>
                                    mdi-undo-variant
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>
                                    anular
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </ui-table-actions>
            </template>
        </v-data-table>
        <daily-spend-cancel
            v-if="openCancel"
            :open="openCancel"
            :item="tempItem"
            @close="closeCancelItem"
            @refresh-daily-spend-list="getItems"
        />
        <daily-spend-show
            v-if="openShow"
            :open="openShow"
            :item="tempItem"
            @close-paymentShow="closeViewItem"
        />
    </div>
</template>

<script>
import moment from "moment";
import {EventBus} from "../../EventBus";
import DataEmpty from "../ui/DataTable/DataEmpty";
import {formatCurrencyGT} from "../../utils/formats";
import UiTableActions from "../ui/DataTable/UiTableActions";
import DailySpendCancel from "./DailySpendCancel";
import DailySpendShow from "./DailySpendShow";
export default {
    name: "DailySpendList",
    components:{
        UiTableActions,
        DataEmpty,
        DailySpendCancel,
        DailySpendShow,
    },
    data: ()  => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha',
                value: 'date',
            },
            {
                text: "Correlativo caja chica",
                value: "petty_cash_correlative"
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Detalle",
                value: "note"
            },
            {
                text: 'Monto',
                value: 'amount',
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: 'Creado por',
                value: 'created_by_name',
            },
            {
                text: "Acciones",
                value: "actions",
                sortable: false
            },
        ],
        tempItem: {},
        openShow: false,
        openCancel: false,
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        totalRetiros(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ amount }) => sum + amount, 0)
            }
            return 0;
        },
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        }
    },
    methods:{
        availableToReversion(item){
            return this.todayFormatedDB === item.date && item.state==="REGISTRADO" && item.petty_cash_state!=='CERRADA';
        },
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        colorState(item){
            return item.state=== "REGISTRADO" ? "primary" : "secondary";
        },
        colorStatePettyCash(item){
            return item.petty_cash_state=== "ABIERTA" ? "primary" : "secondary";
        },
        viewItem(item) {
            this.tempItem = Object.assign({}, { ...item});
            this.openShow = true;
        },
        closeViewItem(){
            this.openShow = false;
            this.tempItem = Object.assign({}, {});
        },
        cancelItem(item){
            this.tempItem = Object.assign({}, { ...item});
            this.openCancel = true;
        },
        closeCancelItem(){
            this.openCancel = false;
            this.tempItem = Object.assign({}, {});
        },
        async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('dailySpends.index'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },
        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },

    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>

</style>
