<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <v-row>
                    <v-col cols="12" sm="7">
                        <v-icon large color="primary" class="pr-2">
                            mdi-cash-plus
                        </v-icon>
                        {{item.correlative}}
                    </v-col>
                    <v-col cols="12" sm="5"  align="right">
                        <v-chip
                            class="ma-1"
                            :color="colorState(item)"
                            text-color="white"
                            small
                        >
                            <strong>{{ item.state }}</strong>
                        </v-chip>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-card-text>
                <v-row class="pt-5">
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Caja chica:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4>
                                    {{item.petty_cash_correlative}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Monto:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4>
                                    {{formatCurrencyGT(item.amount)}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                <h4 class="font-weight-bold">
                                    Detalle:
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                {{item.note}}
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="4" align="">
                                <h4>
                                    Creado por:
                                </h4>
                            </v-col>
                            <v-col cols="8" align="right">
                                <h4>
                                    {{item.created_by_name}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row v-if="item.nullified_by">
                    <v-col cols="12">
                        <v-divider></v-divider>
                        <h3 class="primary--text pt-10">
                            Datos de anulación
                        </h3>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="4" align="">
                                <h4>
                                    Anulado por:
                                </h4>
                            </v-col>
                            <v-col cols="8" align="right">
                                <h4>
                                    {{item.nullified_by_name}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                <h4 class="font-weight-bold">
                                    Detalle de anulación:
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                {{item.annulment_note}}
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="support" text @click="close"> Aceptar </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";

export default {
    name: "DailySpendShow",
    props:{
        item: Object,
        open: Boolean,
    },
    data() {
        return {
            dialog: this.open,
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        colorState(item){
            return item.state=== "REGISTRADO" ? "primary" : "secondary";
        },
        colorStatePettyCash(item){
            return item.petty_cash_state=== "ABIERTA" ? "primary" : "secondary";
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value)
        },
        close() {
            this.$emit("close-paymentShow");
        },
    },
}
</script>

<style scoped>

</style>
