<template>
    <v-dialog v-model="dialog" max-width="460px" persistent>
        <v-card class="pa-2">
            <v-card-title>
                <span class="text-h6 support--text font-weight-bold">
                    Nuevo Retiro
                </span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <p>
                        <Strong>Nota: </Strong>
                        Registre los posibles retiros que se dan en la caja chica.
                    </p>
                    <v-form ref="dailyIncomeForm" lazy-validation>
                        <v-row>
                            <v-col cols="12" class="pt-10">
                                <v-text-field
                                    :value.sync="computedDateFormatted"
                                    label="Fecha"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    hint="no editable"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="amount"
                                    label="monto del retiro"
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    persistent-hint
                                    :rules="[rules.required, rules.float]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                                <v-textarea
                                    :height="$vuetify.breakpoint.mobile ? 100 : 100 "
                                    no-resize
                                    outlined
                                    dense
                                    v-model="note"
                                    label="Detalle del retiro"
                                    hint="Se debe agregar el detalle del retiro."
                                    persistent-hint
                                    :rules="[rules.required]"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-btn @click="close" :disabled="loadingSave" text color="support">
                    Volver
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    @click="save"
                    elevation="0"
                    :loading="loadingSave"
                    color="primary"
                >
                    Agregar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {EventBus} from "../../EventBus";
export default {
    name: "DailySpendForm",
    props:{
        pettyCashDailyParam: Object,
    },
    data: () => ({
        pettyCashDaily : {},
        loadingSave : false,
        dialog: true,
        amount: "",
        note: "",
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            float:
                value => /^[0-9]*$|^[0-9]*\.?[0-9]+?$/.test(value)
                    || "Ingresa un numero valido.",
        },
    }),
    computed: {
        computedDateFormatted () {
            return this.formatDate(this.today)
        },
    },
    methods:{
        onlyNumberFloat: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9.]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        save(){
            if (!this.$refs.dailyIncomeForm.validate()) return;
            this.loadingSave = true;
            this.$inertia.post(this.route('dailySpends.store'), {
                    petty_cash_history_id:this.pettyCashDaily.id,
                    amount:this.amount,
                    note:this.note,
                },{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.close();
                        this.$emit("refresh-daily-spend");
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de registrar el retiro.",
                            type: "error",
                        });
                    },
                }
            );
        },
        close() {
            this.$refs.dailyIncomeForm.resetValidation();
            this.$emit("close");
        },
        setPettyCash(){
            if(this.pettyCashDailyParam !== null ){
                this.pettyCashDaily = this.pettyCashDailyParam;
            }
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
    },
    mounted() {
        this.setPettyCash();
    }
}
</script>

<style scoped>

</style>
