<template>
    <div>
        <v-card flat class="pa-5">
            <v-card-text>
                <v-form ref="formLoand" lazy-validation>
                    <v-row v-if="refinanced">
                        <v-col cols="12">
                            <span class="font-weight-bold">
                                Datos del prestamo anterior
                            </span>
                        </v-col>
                        <v-col cols="12" md="8" class="offset-md-2">
                            <v-form ref="formRefinanced">
                                <v-row>
                                    <v-col cols="12" md="8" class="">
                                        <v-text-field
                                            autofocus
                                            outlined
                                            dense
                                            v-model="prev_correlative"
                                            label="Correlativo del prestamo a refinanciar"
                                            :disabled="!validationEditAndState || searchDisabled"
                                            :rules="[rules.required]"
                                            clearable
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="4">
                                        <v-btn
                                            @click="searchLoan"
                                            elevation="0"
                                            color="primary"
                                            class="py-5"
                                            :loading="loadingSearch"
                                            :disabled="searchDisabled"
                                            block
                                        >
                                            Buscar
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="12" md="12">
                                        <v-text-field
                                            outlined
                                            dense
                                            v-model="prev_customer"
                                            label="Cliente"
                                            :disabled="refinanced"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            outlined
                                            dense
                                            v-model="item.pending_amount"
                                            label="Monto pendiente anterior"
                                            :disabled="refinanced"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-text-field
                                            outlined
                                            dense
                                            v-model="item.additional_amount"
                                            label="Monto adicional"
                                            :rules="[rules.float]"
                                            @keypress="onlyNumberFloat($event)"
                                            @change="handleBorrowedAmount"
                                            :disabled="!validationEditAndState"
                                            hint="(opcional)"
                                            persistent-hint
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-col>
                        <v-col cols="12">
                            <v-divider></v-divider>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <span class="font-weight-bold">
                                Datos del prestamo
                            </span>
                        </v-col>
                        <v-col cols="12" md="4" class="">
                            <v-text-field
                                :disabled="!!item.id"
                                readonly
                                dense
                                outlined
                                v-model="item.correlative"
                                label="correlativo"
                                hint="Generado automaticamente"
                                persistent-hint
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-text-field
                                outlined
                                dense
                                v-model="item.state"
                                label="Estado"
                                readonly
                                persistent-hint
                                hint="Estado actual del prestamo (generado automaticamente)"
                                :disabled="!validationEditAndState"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-text-field
                                autofocus
                                outlined
                                dense
                                v-model="item.borrowed_amount"
                                label="Monto a prestar"
                                :rules="[rules.required, rules.float]"
                                @keypress="onlyNumberFloat($event)"
                                @change="resetLoandCalculation"
                                :disabled="!validationEditAndState || refinanced"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-text-field
                                type="number"
                                min="1"
                                outlined
                                dense
                                v-model="item.dues"
                                label="Numero de cuotas"
                                :rules="[rules.required]"
                                @keypress="onlyNumber($event)"
                                @change="checkValue('dues')"
                                :disabled="!validationEditAndState"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-autocomplete
                                label="Porcentaje de interés"
                                v-model="item.interest_percentage"
                                :items="percentages"
                                :rules="[rules.required]"
                                outlined
                                dense
                                no-data-text="porcentaje no disponible"
                                messages="Escribe o selecciona el porcentaje"
                                @keypress="onlyNumber($event)"
                                @change="resetLoandCalculation"
                                :disabled="!validationEditAndState"
                            ></v-autocomplete>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-select
                                label="Tipo de prestamo"
                                outlined
                                dense
                                v-model="item.type"
                                :items="loandTypes"
                                :rules="[rules.required]"
                                :disabled="!validationEditAndState"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                            <v-textarea
                                :height="$vuetify.breakpoint.mobile ? 100 : 60 "
                                no-resize
                                outlined
                                dense
                                v-model="item.loan_purpose"
                                label="Proposito del prestamo"
                                hint="Agregue si cree necesario el porqué el cliente está solicitando el préstamo."
                                persistent-hint
                                :disabled="!validationEditAndState"
                            ></v-textarea>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-text-field
                                :disabled="item.state==='ACTIVO'"
                                outlined
                                dense
                                v-model="item.late_fee"
                                label="Monto por mora"
                                clearable
                                persistent-hint
                                hint="Será aplicado a cuotas atrasadas (opcional)"
                                @keypress="onlyNumberFloat($event)"
                                @change="checkValue('late_fee')"
                                :rules="floatRules"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-btn
                                @click="loanCalculation"
                                color="primary"
                                block
                                elevation="0"
                                :disabled="!validationEditAndState"
                            >
                                <v-icon left>
                                    mdi-calculator-variant-outline
                                </v-icon>
                                Calcular prestamo
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-btn
                                @click="seeFixedFees"
                                :disabled="item.total_amount=='' || !validationEditAndState"
                                color="secondary"
                                block
                                elevation="0"
                            >
                                <v-icon left>
                                    mdi-table-eye
                                </v-icon>
                                ver cuotas simuladas
                            </v-btn>
                        </v-col>
                        <v-col cols="12" >
                            <v-row class="py-5">
                                <v-col
                                    v-if="$page.props.auth.user.permission.includes('global.admin')"
                                    cols="12" md="4"
                                    :align="$vuetify.breakpoint.mobile ? 'left' : 'center'"
                                >
                                    <h2>
                                        Monto por interés:
                                        <span
                                            :class="$vuetify.breakpoint.mobile ? 'float-right' : ''"
                                        >
                                            {{ formatCurrencyGT(item.interest_amount) }}
                                        </span>
                                    </h2>
                                </v-col>
                                <v-col
                                    v-if="$page.props.auth.user.permission.includes('global.admin')"
                                    cols="12" md="4"
                                    :align="$vuetify.breakpoint.mobile ? 'left' : 'center'"
                                >
                                    <h2>
                                        Monto total:
                                        <span
                                            :class="$vuetify.breakpoint.mobile ? 'float-right' : ''"
                                        >
                                            {{ formatCurrencyGT(item.total_amount) }}
                                        </span>
                                    </h2>
                                </v-col>
                                <v-col cols="12" md="4" :align="$vuetify.breakpoint.mobile ? 'left' : 'center'">
                                    <h2>
                                        Cuota fija:
                                        <span
                                            :class="$vuetify.breakpoint.mobile ? 'float-right' : ''"
                                        >
                                            {{ formatCurrencyGT(item.fixed_fee) }}
                                        </span>
                                    </h2>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="12">
                            <v-divider></v-divider>
                            <div class="pt-10">
                                <span class="font-weight-bold ">
                                    Datos para la ruta
                                </span>
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" class="">
                            <v-autocomplete
                                v-model="item.customer_id"
                                :filter="clientsFilter"
                                @change="copyCustomerInformation"
                                label="Cliente"
                                hint="Busca por nombre o numero de identificación"
                                persistent-hint
                                :items="customers"
                                item-text="plempNombres"
                                item-value="id"
                                outlined
                                no-data-text="No se encontraron clientes."
                                :rules="[rules.required]"
                                :disabled="!validationEditAndState || refinanced"
                            >
                                <template v-slot:selection="data">
                                    <v-chip
                                        small
                                        class="my-2"
                                        v-bind="data.attrs"
                                        :input-value="data.selected"
                                    >
                                        <v-avatar left>
                                            <v-img :src="data.item.image_url"></v-img>
                                        </v-avatar>
                                        {{ data.item.firstName }} {{ data.item.lastName }}
                                    </v-chip>
                                </template>
                                <template v-slot:item="data">
                                    <template>
                                        <v-list-item-avatar >
                                            <img :src="data.item.image_url">
                                        </v-list-item-avatar>
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                <small class="font-weight-bold">
                                                    {{ data.item.firstName }}
                                                    {{ data.item.lastName }}</small
                                                >
                                            </v-list-item-title>
                                            <v-list-item-subtitle>
                                                <small>
                                                    <span class="font-weight-bold">No. identificación:</span>
                                                    {{ data.item.identificationNumber }}
                                                </small>
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </template>
                                </template>
                            </v-autocomplete>
                        </v-col>
                        <v-col cols="12" md="4">
                            <v-switch
                                :disabled="item.state !=='PENDIENTE'"
                                class="pl-1"
                                true-value="1"
                                false-value="0"
                                v-model="item.use_customer_information"
                                inset
                                label="Usar los datos del cliente"
                                messages=""
                            ></v-switch>
                        </v-col>
                        <v-col cols="12" md="8">
                            <div class="pt-md-5">
                                <span class="">
                                    <Strong>Nota:</Strong>
                                    Al utilizar los datos del cliente ciertos campos serán copiados automaticamente,
                                    <strong>puedes modificar algunos datos</strong>.
                                </span>
                            </div>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                            <v-select
                                :disabled="useCustomerInfo==='1' || loandParam.state!=='PENDIENTE'"
                                @change="changeDMS('dep')"
                                no-data-text="sin departamentos"
                                outlined
                                dense
                                v-model="item.departamento_id"
                                :items="departamentos"
                                item-text="name"
                                item-value="id"
                                label="Departamento"
                                :rules="[rules.required]"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                            <v-select
                                @change="changeDMS('mun')"
                                no-data-text="sin municipios"
                                outlined
                                dense
                                v-model="item.municipio_id"
                                :items="municipioItems"
                                item-text="name"
                                item-value="id"
                                label="Municipios"
                                :menu-props="{ maxHeight: '400' }"
                                :disabled="item.departamento_id=='' ||useCustomerInfo==='1' || loandParam.state!=='PENDIENTE' "
                                :rules="[rules.required]"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                            <v-select
                                no-data-text="sin sectores"
                                outlined
                                dense
                                v-model="item.sector_id"
                                :items="sectoresItems"
                                item-text="name"
                                item-value="id"
                                label="Sector"
                                :menu-props="{ maxHeight: '400' }"
                                :rules="[rules.required]"
                                :disabled="item.municipio_id=='' || useCustomerInfo==='1' || loandParam.state!=='PENDIENTE'"
                            ></v-select>
                        </v-col>
                        <v-col cols="12" md="6" class="">
                            <v-text-field
                                v-model="item.business_name"
                                label="Nombre del negocio"
                                hint="Si en caso aplica"
                                persistent-hint
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="6">
                            <v-select
                                no-data-text="sin rutas para asignar"
                                outlined
                                dense
                                v-model="item.route_id"
                                :items="routeItems"
                                item-text="name"
                                item-value="id"
                                label="Ruta"
                                :menu-props="{ maxHeight: '400'}"
                                :rules="[rules.required]"
                                :disabled="item.sector_id==''"
                                hint="si no le asignas una ruta, será creado como prestamo sin ruta."
                                persistent-hint
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="item.phoneOne"
                                label="Telefono para contactar"
                                :rules="[rules.required, rules.phone]"
                                hint="formato: xxxx-xxxx"
                                persistent-hint
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                v-model="item.phoneTwo"
                                :rules="[rules.phone]"
                                label="Telefono secundario de contacto"
                                hint="opcional formato: xxxx-xxxx"
                                outlined
                                dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                            <v-textarea
                                :height="$vuetify.breakpoint.mobile ? 100 : 60 "
                                no-resize
                                outlined
                                dense
                                v-model="item.address"
                                label="Dirección exacta"
                                hint="ej: calle, numero de casa, lote, colonia, sector."
                                :rules="[rules.required]"
                            ></v-textarea>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                            <v-textarea
                                :height="$vuetify.breakpoint.mobile ? 100 : 60 "
                                no-resize
                                outlined
                                dense
                                v-model="item.referenceAddress"
                                label="Dirección referencia"
                                hint="ej: Junto a ... , casa color ..."
                                :rules="[rules.required]"
                            ></v-textarea>
                        </v-col>
                        <v-col cols="12" v-if="item.state==='PENDIENTE'"  class="py-10">
                            <v-divider></v-divider>
                            <div class="pt-10">
                                <h4>Nota: Para asignar la fecha de primer pago y que el prestamo este ACTIVO, es necesario aprobarlo.</h4>
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" align="right">
                            <v-row>
                                <v-col cols="12" md="4" order="3" order-sm="1" align="left">
                                    <v-btn
                                        @click="goBack"
                                        text
                                        color="support"
                                    >
                                        <v-icon small left>
                                            mdi-arrow-left
                                        </v-icon>
                                        regresar
                                    </v-btn>
                                </v-col>
                                <v-col cols="12" md="4" order="1" order-sm="2" align="right">
                                    <v-btn
                                        v-if="!this.loandParam.id"
                                        @click="createLoand"
                                        :disabled="item.total_amount==''"
                                        color="primary"
                                        elevation="0"
                                        outlined
                                        block
                                    >
                                        {{textButtonCreate}}
                                    </v-btn>
                                </v-col>
                                <v-col cols="12" md="4" order="2" order-sm="3"
                                       v-if=" !this.loandParam.id && $page.props.auth.user.permission.includes('loands.approve')"
                                >
                                    <v-btn
                                        v-if="!this.loandParam.id"
                                        @click="createAndAproveeLoand"
                                        :disabled="item.total_amount==''"
                                        color="primary"
                                        elevation="0"
                                        block
                                    >
                                        <v-icon left >
                                            mdi-thumb-up-outline
                                        </v-icon>
                                        {{textButtonCreateAndAprovee}}
                                    </v-btn>

                                </v-col>
                                <v-col cols="12" md="4" order="2" order-sm="3"
                                       v-if="$page.props.auth.user.permission.includes('loands.update')"
                                >
                                    <v-btn
                                        v-if="this.loandParam.id"
                                        @click="createLoand"
                                        :disabled="item.total_amount==''"
                                        color="primary"
                                        elevation="0"
                                        outlined
                                        block
                                    >
                                        ACTUALIZAR PRESTAMO
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
        <v-dialog v-model="dialogSectorEmpty" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 primary--text ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Aún no existen sectores en este municipio
                </v-card-title>
                <v-card-text>
                    <p>
                        No podras crear el prestamo si no le asignas un sector ya que es un dato importante.
                    </p>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogSectorEmpty=false"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="goToSector"> crear nuevo sector </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogRouteEmpty" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 primary--text ">
                    <v-icon large color="primary" class=""> mdi-alert-circle-outline</v-icon>
                    No existe ruta para el sector seleccionado
                </v-card-title>
                <v-card-text>
                    <p>
                        Puedes crear el prestamo, pero no estará asignado a ninguna ruta de cobro.
                    </p>
<!--                    <small>Nota: Ten en cuenta que las fechas de cobro estimado empezarán a correr con normalidad.</small>-->
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogRouteEmpty=false"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="goToRoutes"> Crear nueva ruta </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogFixedFees" width="500" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 primary--text ">
                    <box-icon
                        name="briefcase"
                        size="md"
                        class="bx-right"
                        :color="'#37474f'"
                    />
                    Simulación de cuotas
                </v-card-title>
                <v-card-text>
                    <v-simple-table
                        fixed-header
                        height="300px"
                    >
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">
                                    Cuota
                                </th>
                                <th class="text-left">
                                    Abono capital
                                </th>
                                <th class="text-left">
                                    interes
                                </th>
                                <th class="text-left">
                                    total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                v-for="item in fixedFees"
                                :key="item.cuota"
                            >
                                <td>{{ item.cuota }}</td>
                                <td>{{ formatCurrencyGT(item.abonoCapital) }}</td>
                                <td>{{ formatCurrencyGT(item.interes) }}</td>
                                <td>{{ formatCurrencyGT(item.pagoTotal) }}</td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"  outlined @click="dialogFixedFees=false"> Aceptar </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { EventBus } from "../../../EventBus";
import { telefonoValido } from '@/utils/rulesGuatemala'
import { formatCurrencyGT } from "../../../utils/formats";
import { loandTypes } from "@/utils/catalogs";
export default {
    name: "FormLoand",
    props:{
        loandParam : Object,
        customerParam : Object,
        refinanced : Boolean,
    },
    data: () => ({
        fixedFees: [],
        minDate: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        menuDate: false,
        loandTypes : [...loandTypes],
        percentages: [
            5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,
        ],
        customers: [],
        departamentos: [],
        municipios: [],
        sectores: [],
        routes: [],
        loadingCustomers: false,
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            float:
                value => /^[0-9]*$|^[0-9]*\.?[0-9]+?$/.test(value)
                || "Ingresa un numero valido.",
            phone: value => {
                return telefonoValido(value) || 'no es un telefono valido.'
            },
        },
        item:{
            loand_parent_id: "",
            pending_amount: "",
            additional_amount: "",
            correlative : "",
            customer_id : "",
            business_name : "",
            type : "",
            state : "PENDIENTE",
            dues : "",
            interest_percentage : "",
            loan_purpose : "",
            late_fee : "",
            borrowed_amount : "",
            interest_amount : "",
            total_amount : "",
            fixed_fee : "",
            phoneOne : "",
            phoneTwo : "",
            departamento_id : "",
            municipio_id : "",
            sector_id : "",
            route_id : "",
            address : "",
            referenceAddress : "",
            use_customer_information : "1",
        },
        first_payment_date : "",
        rejection_note: "",
        approveLoan: false,
        userObject: {},
        dialogSectorEmpty: false,
        dialogRouteEmpty: false,
        dialogFixedFees: false,
        dialogLoanRejection: false,
        loadingDialogLoanRejection: false,
        datosClienteTemp : {},
        floatRules: [
            (value) =>
                !value ||
                /(^$)|^[0-9]*$|^[0-9]*\.?[0-9]+?$/.test(value) ||
                "Ingresa un numero valido.",
        ],
        loadingSearch : false,
        prev_correlative : "",
        prev_customer : "",
        searchDisabled : false,

    }),
    computed: {
        textButtonCreate() {
          return this.refinanced ? "CREAR REFINANCIAMIENTO" : "CREAR PRESTAMO";
        },
        textButtonCreateAndAprovee() {
          return this.refinanced ? "CREAR Y APROBAR REF." : "CREAR Y APROBAR PRESTAMO";
        },
        computedDateFormatted () {
            if(this.first_payment_date){
                return this.formatDate(this.first_payment_date)
            }
            return null
        },
        municipioItems(){
            return this.municipios.slice().filter((municipio) => municipio.departamento_id === this.item.departamento_id)
        },
        sectoresItems(){
            return this.sectores.slice().filter((sector) => sector.municipio_id === this.item.municipio_id)
        },
        departamentoSeleccionado(){
            return this.item.departamento_id
        },
        routeItems(){
            return this.routes.slice().filter((route) =>   route.sectores.includes(this.item.sector_id))
        },
        useCustomerInfo(){
            return this.item.use_customer_information
        },
        validationEditAndState(){
            return !this.loandParam.id || this.loandParam.state === "PENDIENTE"
        }
    },
    watch: {
        handleRejection(){
            if(this.state === 1 ) {
                if(!this.$refs.formLoandRejection.validate()){
                    EventBus.$emit("snackbar", {
                        text: "Por favor, ingresa una nota de rechazo.",
                        type: "info",
                    });
                    return
                }
            }
            this.loadingDialogLoanRejection = true;
            let data = {
                'rejection_note' : this.rejection_note,
            }
            this.$inertia.put(
                this.route(
                    'loands.reject',
                    this.loandParam.id
                ),
                data
            )
        },
        routeItems(){
            if( this.routeItems.length < 1 && this.item.sector_id ){
                this.dialogRouteEmpty = true
            }

            if( !this.item.id ){
                this.item.route_id= " "
            }
        },
        sectoresItems(){
            if( this.sectoresItems.length < 1 && this.item.municipio_id ){
                this.dialogSectorEmpty = true
            }
        },
        useCustomerInfo(){
             this.handleValueCustomerInfo();
        },

        first_payment_date (val) {
            this.dateFormatted = this.formatDate(this.first_payment_date)
        },
        customers(){
            this.copyCustomerInformation()
        }
    },
    methods:{
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        copyCustomerInformation(){
            if(this.customers.length > 0 ){
                this.userObject = this.customers.slice().find((customer) =>
                    customer.id === this.item.customer_id
                )
                this.handleValueCustomerInfo()
            }
        },
        handleValueCustomerInfo(){
            if(this.loandParam.id){
                let  esDiferente = false;
                if(
                    (
                    this.datosClienteTemp.phoneOne !== this.userObject.phoneOne ||
                    this.datosClienteTemp.phoneTwo !== this.userObject.phoneTwo ||
                    this.datosClienteTemp.address !== this.userObject.address ||
                    this.datosClienteTemp.referenceAddress !== this.userObject.referenceAddress ||
                    this.datosClienteTemp.departamento_id !== this.userObject.departamento_id ||
                    this.datosClienteTemp.municipio_id !== this.userObject.municipio_id ||
                    this.datosClienteTemp.sector_id !== this.userObject.sector_id
                    ) && this.userObject.id === this.loandParam.customer_id
                ){
                    esDiferente = true;
                }
                if(this.userObject.id === this.loandParam.customer_id){
                    if( this.item.use_customer_information === "1" && this.item.customer_id){
                        this.item.phoneOne = this.userObject.phoneOne
                        this.item.phoneTwo = this.userObject.phoneTwo
                        this.item.departamento_id = this.userObject.departamento_id
                        this.item.municipio_id = this.userObject.municipio_id
                        this.item.sector_id = this.userObject.sector_id
                        this.item.address = this.userObject.address
                        this.item.referenceAddress = this.userObject.referenceAddress
                    }else if(this.item.use_customer_information === "0" && this.item.customer_id) {
                        if(esDiferente){
                            this.item.phoneOne = this.datosClienteTemp.phoneOne
                            this.item.phoneTwo = this.datosClienteTemp.phoneTwo
                            this.item.departamento_id = this.datosClienteTemp.departamento_id
                            this.item.municipio_id = this.datosClienteTemp.municipio_id
                            this.item.sector_id = this.datosClienteTemp.sector_id
                            this.item.address = this.datosClienteTemp.address
                            this.item.referenceAddress = this.datosClienteTemp.referenceAddress
                        }else{
                            this.item.phoneOne = ""
                            this.item.phoneTwo = ""
                            this.item.departamento_id = ""
                            this.item.municipio_id = ""
                            this.item.sector_id = ""
                            this.item.address = ""
                            this.item.referenceAddress = ""
                        }
                    }
                }else{
                    if( this.item.use_customer_information === "1" && this.item.customer_id){
                        this.item.phoneOne = this.userObject.phoneOne
                        this.item.phoneTwo = this.userObject.phoneTwo
                        this.item.departamento_id = this.userObject.departamento_id
                        this.item.municipio_id = this.userObject.municipio_id
                        this.item.sector_id = this.userObject.sector_id
                        this.item.address = this.userObject.address
                        this.item.referenceAddress = this.userObject.referenceAddress
                    }else if(this.item.use_customer_information === "0" && this.item.customer_id) {
                        this.item.phoneOne = ""
                        this.item.phoneTwo = ""
                        this.item.departamento_id = ""
                        this.item.municipio_id = ""
                        this.item.sector_id = ""
                        this.item.address = ""
                        this.item.referenceAddress = ""
                    }
                }
            }else{
                if( this.item.use_customer_information === "1" && this.item.customer_id){
                    this.item.phoneOne = this.userObject.phoneOne
                    this.item.phoneTwo = this.userObject.phoneTwo
                    this.item.departamento_id = this.userObject.departamento_id
                    this.item.municipio_id = this.userObject.municipio_id
                    this.item.sector_id = this.userObject.sector_id
                    this.item.address = this.userObject.address
                    this.item.referenceAddress = this.userObject.referenceAddress
                }else if(this.item.use_customer_information === "0"){
                    this.item.phoneOne = ""
                    this.item.phoneTwo = ""
                    this.item.departamento_id = ""
                    this.item.municipio_id = ""
                    this.item.sector_id = ""
                    this.item.address = ""
                    this.item.referenceAddress = ""
                }
            }

            this.$refs.formLoand.resetValidation();
            this.item.phoneTwo = this.item.phoneTwo ? this.item.phoneTwo : ""
            this.item.route_id = this.item.route_id ? this.item.route_id : ""
        },
        goBack(){
            if (this.refinanced){
                this.$inertia.get(route('refinancedLoands.view'));
            }else{
                this.$inertia.get(route('loands.view'))
            }

        },
        goToSector(){
            this.$inertia.get(route('sectores.view'))
        },
        goToRoutes(){
            this.$inertia.get(route('routes.view'))
        },
        seeFixedFees(){
            this.fixedFees = [];
            let interes =  parseFloat(parseFloat(this.item.interest_amount) / parseInt(this.item.dues) );
            let abonoCapital =  parseFloat(parseFloat(this.item.borrowed_amount) / parseInt(this.item.dues) );
            for (let i = 1; i <= parseInt(this.item.dues);) {
                this.fixedFees.push({
                    cuota: i,
                    abonoCapital: abonoCapital,
                    interes: interes,
                    pagoTotal: this.item.fixed_fee,
                });
                i++;
            }
            this.dialogFixedFees = true
        },
        loanCalculation(){
            if(!this.item.dues || !this.item.borrowed_amount || !this.item.interest_percentage){
                EventBus.$emit("snackbar", {
                    text: "Por favor, verifica los campos para calcular el prestamo.",
                    type: "info",
                });
                return
            }
            this.item.interest_amount = parseFloat(this.item.borrowed_amount * ( this.item.interest_percentage / 100))
            this.item.total_amount = parseFloat(this.item.interest_amount ) + parseFloat(this.item.borrowed_amount)
            this.item.fixed_fee =  parseFloat(parseFloat(this.item.total_amount) / parseInt(this.item.dues) )
        },
        checkValue(textField){
            switch (textField){
                case "dues":
                    if(this.item.dues === '0'){
                        this.item.dues = 1
                    }
                    this.resetLoandCalculation()
                    break;
                case "late_fee":
                    if(this.item.late_fee === '0' ){
                        this.item.late_fee = 1
                    }
                    break;
            }
        },
        resetLoandCalculation(){
            if( this.validationEditAndState ){
                this.item.interest_amount = ""
                this.item.total_amount = ""
                this.item.fixed_fee =  ""
            }
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        onlyNumber: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        onlyNumberFloat: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9.]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        async getCustomers(){
            this.loadingCustomers = true
            try {
                const response = await axios.get(
                    route('customers.index'), {
                    params: {
                        active: 1
                    }
                })
                this.customers = response.data.customers
                this.loadingCustomers = false
            }catch(error){
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de obtener los clientes, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(error)
            }
        },
        clientsFilter(item, queryText) {
            const fname = item.firstName.toLowerCase();
            const lname = item.lastName.toLowerCase();
            const idNumber = item.identificationNumber.toLowerCase();
            const searchText = queryText.toLowerCase();
            return (
                fname.indexOf(searchText) > -1 ||
                lname.indexOf(searchText) > -1 ||
                idNumber.indexOf(searchText) > -1
            );
        },
        assignValues(){
            if(this.loandParam.id){
                this.item = {...this.loandParam}
                this.item.use_customer_information = `${this.item.use_customer_information}`
                let { phoneOne, phoneTwo, departamento_id,municipio_id,sector_id ,address, referenceAddress } = {...this.item}
                this.datosClienteTemp = {
                    phoneOne : phoneOne,
                    phoneTwo : phoneTwo,
                    departamento_id : departamento_id,
                    municipio_id : municipio_id,
                    sector_id : sector_id,
                    address : address,
                    referenceAddress : referenceAddress,
                }
                this.prev_correlative = this.loandParam.loand_parent_correlative;
                this.prev_customer = this.loandParam.customer;
                this.searchDisabled = true;
                if(
                    this.customerParam.id === this.loandParam.customer_id &&
                    (
                        this.datosClienteTemp.phoneOne !== this.customerParam.phoneOne ||
                        this.datosClienteTemp.phoneTwo !== this.customerParam.phoneTwo ||
                        this.datosClienteTemp.address !== this.customerParam.address ||
                        this.datosClienteTemp.referenceAddress !== this.customerParam.referenceAddress ||
                        this.datosClienteTemp.departamento_id !== this.customerParam.departamento_id ||
                        this.datosClienteTemp.municipio_id !== this.customerParam.municipio_id ||
                        this.datosClienteTemp.sector_id !== this.customerParam.sector_id
                    )
                ){
                    this.item.use_customer_information = "0"
                }
                this.loanCalculation()
                this.copyCustomerInformation()
            }else{
                //this.getCorrelative()
            }
        },
        async getDepartamentos() {
            try {
                const response = await axios.get(route('departamentos.index'), {
                    params: {
                        active: 1
                    }
                })
                this.departamentos  = response.data.departamentos
            }
            catch (error) {
                console.log(error);
            }
        },
        async getMunicipios() {
            try {
                const response = await axios.get(route('municipios.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.municipios  = response.data.municipios
            }
            catch (error) {
                console.log(error);
            }
        },
        async getSectores() {
            try {
                const response = await axios.get(route('sectores.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.sectores  = response.data.sectores
            }
            catch (error) {
                console.log(error);
            }
        },
        async getRoutes() {
            try {
                const response = await axios.get(route('routes.index'))
                this.routes  = response.data.routes
            }
            catch (error) {
                console.log(error);
            }
        },
        changeDMS(type){
            if(type === "dep"){
                this.item.municipio_id = ""
                this.item.sector_id = ""
            }
            if( type === "mun"){
                this.item.sector_id = ""
            }
        },
        createLoand(){
            this.approveLoan = false
            this.handleSubmit()
        },
        createAndAproveeLoand(){
            this.item.state = "APROBADO";
            this.approveLoan = true
            this.handleSubmit()
        },
        handleSubmit(){
            if(!this.$refs.formLoand.validate()){
                EventBus.$emit("snackbar", {
                    text: "Por favor, verifica los datos a guardar.",
                    type: "info",
                });
                return
            }
            this.item.dues = parseInt(this.item.dues)
            this.item.interest_percentage = parseInt(this.item.interest_percentage)
            this.item.late_fee =  this.item.late_fee ? parseFloat(this.item.late_fee) : ""
            this.item.borrowed_amount = parseFloat(this.item.borrowed_amount)
            this.item.interest_amount = parseFloat(this.item.interest_amount)
            this.item.total_amount = parseFloat(this.item.total_amount)
            this.item.fixed_fee = parseFloat(this.item.fixed_fee)
            if(!this.loandParam.id){
                this.item.approveLoan = this.approveLoan
            }
            this.$emit('formLoandSubmit', {
                item: this.item,
            });
        },
        searchLoan(){
            if(this.prev_correlative ==="" || this.prev_correlative === null){
                EventBus.$emit("snackbar", {
                    text: "Por favor, llena el correlativo del prestamo a refinanciar.",
                    type: "info",
                });
                return
            }
            this.loadingSearch = true;
            axios.post( route('loands.search'),{
                prev_correlative : this.prev_correlative
            }).then(response => {
                if(!response.data.exist){
                    EventBus.$emit("snackbar", {
                        text: "No existe algun prestamo aprobado o activo con ese correlativo.",
                        type: "warning",
                    });
                    return;
                }
                this.prev_customer = response.data.loand.customer;
                this.item.loand_parent_id = response.data.loand.id;
                this.item.customer_id = response.data.loand.customer_id;
                this.item.pending_amount = response.data.loand.pending_amount;
                this.copyCustomerInformation();
                this.handleBorrowedAmount();
                EventBus.$emit("snackbar", {
                    text: "Prestamo encontrado.",
                    type: "success",
                });
                this.loadingSearch = false;
            }).catch(error => {
                console.log(error);
                this.loadingSearch = false;
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de cobrar la cuota.",
                    type: "error",
                });
            });
        },
        handleBorrowedAmount(){
            this.item.borrowed_amount = +this.item.pending_amount + +this.item.additional_amount;
            this.resetLoandCalculation();
        }
    },
    mounted() {
        this.getCustomers()
        this.getDepartamentos()
        this.getMunicipios()
        this.getSectores()
        this.getRoutes()
        this.assignValues()
    }
}
</script>

<style scoped>
.bx-right{
    margin-right: 8px;
}
</style>
