<template>
    <div>
        <v-card flat>
            <v-row class="">
                <v-col cols="12" md="6" class="px-5 d-flex  align-center" >
                    <h5 class="pl-md-5 support--text text--lighten-2">
                        Nota: Usa los filtros de busqueda para tener resultados más precisos.
                    </h5>
                </v-col>
                <v-col cols="12" md="6" class="px-5" align="right">
                    <v-btn
                        color="primary"
                        elevation="0"
                        @click="gotoRoute('loands.create')"
                    >
                        <v-icon left>
                            mdi-plus
                        </v-icon>
                        Nuevo prestamo
                    </v-btn>
                </v-col>
                <v-col cols="12">
                    <v-data-table
                        fixed-header
                        :headers="headers"
                        :items="loands"
                        :items-per-page=5
                        :loading=loadTable
                        :options.sync="options"
                        :server-items-length="totalItems"
                        loading-text="Un momento por favor..."
                        no-results-text="Lo sentimos, No existe algún prestamo con esos datos de busqueda."
                        :header-props="{'sort-by-text':'Ordenar por'}"
                        :footer-props="{'items-per-page-options':[5, 10, 15], 'items-per-page-text':'Prestamos por página','items-per-page-all-text':'Todos'}"
                    >
                        <template v-slot:top class="">
                            <v-row class="px-3">
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field
                                        clearable
                                        outlined
                                        dense
                                        align="center"
                                        v-model="search"
                                        prepend-inner-icon="mdi-magnify"
                                        label="Busqueda por correlativo o cliente"
                                        single-line
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="3">
                                    <v-select
                                        label="Tipo de prestamo"
                                        outlined
                                        dense
                                        v-model="loandTypeFilterSelect"
                                        :items="loandTypes"
                                    ></v-select>
                                </v-col>
                                <v-col cols="12"sm="6" md="3">
                                    <v-select
                                        label="Estado de prestamo"
                                        outlined
                                        dense
                                        v-model="loandStateFilterSelect"
                                        :items="loandStates"
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" sm="12" md="2">
                                    <v-btn
                                        color="secondary"
                                        elevation="0"
                                        @click="getLoands()"
                                    >
                                        <v-icon left>
                                            mdi-magnify
                                        </v-icon>
                                        Buscar
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-slot:item.borrowed_amount="{item}">
                            {{ formatCurrencyGT(item.borrowed_amount)}}
                        </template>
                        <template v-slot:item.customer="{item}">
                            {{ item.customer }}
                        </template>
                        <template v-slot:item.correlative="{item}">
                        <span v-if="item.loand_parent_id">
                            <v-chip x-small color="primary">
                                RF
                            </v-chip>
                        </span>
                            {{ item.correlative }}
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                        icon @click="viewItem(item)"
                                        v-bind="attrs"
                                        v-on="on"
                                    >
                                        <v-icon>
                                            mdi-arrow-right
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <span>Ver prestamo</span>
                            </v-tooltip>
                        </template>
                        <template v-slot:no-results>
                            <data-empty
                                text="no existe algún prestamo con esos datos de busqueda"
                            />
                        </template>
                        <template v-slot:no-data>
                            <v-list-item class="">
                                <v-list-item-content class="py-12 d-flex justify-center">
                                    <v-img
                                        max-height="120"
                                        max-width="120"
                                        src="/images/notFound.png"
                                        position="center center"
                                    ></v-img>
                                    <p class="pt-3">
                                        {{$page.props.auth.user.firstName}} lo sentimos, Aun no hay prestamos creados.
                                    </p>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<script>
import { loandTypesAll , loandStates } from "@/utils/catalogs";
import { formatCurrencyGT } from "@/utils/formats";
import UiTableActions from "../../ui/DataTable/UiTableActions";
import DataEmpty from "../../ui/DataTable/DataEmpty";
export default {
    components:{
        UiTableActions,
        DataEmpty,
    },
    name: "LoandList",
    data: () => ({
        search: "",
        loandTypes : [...loandTypesAll],
        loandStates : [...loandStates],
        loandTypeFilterSelect : "TODOS",
        loandStateFilterSelect : "TODOS",
        loands : [],
        loadTable : false,
        options: {},
        totalItems: 0,
    }),
    computed:{
        headers() {
            return [
                {
                    text: "Fecha de creación",
                    value: "created_at",
                    align: 'left',
                },
                {
                    text: "Correlativo",
                    value: "correlative"
                },
                {
                    text: "Cliente",
                    value: "customer"
                },
                {
                    text: 'Tipo',
                    value: 'type',
                   /* filter: this.typeLoandFilter,*/
                },
                {
                    text: "Monto",
                    value: "borrowed_amount",
                },
                {
                    text: "Cuotas",
                    value: "dues",
                    sortable: false
                },
                {
                    text: "Interés",
                    value: "interest_percentage",
                },
                {
                    text: "Estado",
                    value: "state",
                   /* filter: this.stateLoandFilter,*/
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false
                },
            ]
        },
    },
    watch: {
        options: {
            handler() {
                this.getLoands();
            },
            deep: true,
        },
    },
    methods:{
        viewItem(item){
            this.$inertia.get(route('loands.show',item))
        },
        editItem(item){
            this.$inertia.get(route('loands.edit',item))
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        /*stateLoandFilter(value) {
            if (this.loandStateFilterSelect === "TODOS") {
                return true;
            }
            return value === this.loandStateFilterSelect;
        },
        typeLoandFilter(value) {
            if (this.loandTypeFilterSelect === "TODOS") {
                return true;
            }
            return value === this.loandTypeFilterSelect;
        },*/
        async getLoands() {
            try {
                this.loadTable = true
                const response = await axios.get(route('loands.index'), {
                    params: {
                        page: this.options.page || 1,
                        search: this.search || null,
                        type: this.loandTypeFilterSelect || null,
                        state: this.loandStateFilterSelect || null,
                        itemsPerPage: this.options.itemsPerPage || null,
                    }
                });

                this.totalItems = response.data.pagination.total;
                this.loands  = response.data.loands.map((currElement, index) => {
                    return {
                        ...currElement,
                        index: index
                    }
                });
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
    },
    mounted() {
        this.getLoands()
    }
}
</script>

<style scoped>
tbody {
    background: rebeccapurple !important;
}
</style>
