<template>
    <div>
        <v-card flat>
            <v-col cols="12" align="right">
                <v-btn
                    color="primary"
                    elevation="0"
                    @click="gotoRoute('customers.create')"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Nuevo cliente
                </v-btn>
            </v-col>
            <v-col cols="12" class="justify-center px-md-3">
                <v-card flat>
                    <v-data-iterator
                        :items="filteredCustomers"
                        :items-per-page.sync="itemsPerPage"
                        :page.sync="page"
                        :search="search"
                        hide-default-footer
                        :loading="loadingItems"
                    >
                        <template v-slot:header>
                            <v-row class="justify-center px-md-3 py-md-2 elevation-0">
                                <v-col cols="12" sm="12" md="4">
                                    <v-text-field
                                        dense
                                        outlined
                                        clearable
                                        background-color="white"
                                        v-model="search"
                                        prepend-inner-icon="mdi-magnify"
                                        label="Buscar por nombre"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="12" md="8">
                                    <v-row>
                                        <v-col col="12" sm="12" md="6">
                                            <v-select
                                                outlined
                                                dense
                                                :items="estadoListado"
                                                v-model="estadoListadoValue"
                                                label="Estado"
                                            ></v-select>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-slot:default="props">
                            <div class="overflow-y-auto overflow-x-hidden py-6">
                                <v-row class="pt-3 px-md-6 px-2">
                                    <v-col cols="12" sm="6" md="6" lg="6"
                                           v-for="item in props.items"
                                           :key="item.id"
                                    >
                                        <v-card
                                            outlined
                                            @click="showItem(item)"
                                        >
                                            <v-card-text>
                                                <v-row>
                                                    <v-col cols="12" md="3">
                                                        <v-img
                                                            :src="item.image_url"
                                                            class="my-2"
                                                        />
                                                    </v-col>
                                                    <v-col cols="12" md="9">
                                                            <span class="font-weight-bold">
                                                                {{item.firstName }} {{item.lastName }}
                                                            </span>
                                                        <v-chip
                                                            class="float-right"
                                                            :color="item.active?'primary': 'blue-grey lighten-2'"
                                                            text-color="white"
                                                        >
                                                            <span>{{item.active?'Activo': 'Inactivo'}}</span>
                                                        </v-chip>
                                                        <p>{{item.identificationNumber}}</p>
                                                        <v-rating
                                                            small
                                                            readonly
                                                            length="5"
                                                            :value=item.rating
                                                            color="primary"
                                                            background-color="primary"
                                                        ></v-rating>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </div>
                        </template>
                        <template v-slot:footer>
                            <v-row class="mt-2 mx-md-5" align="center" justify="center">
                                <v-col cols="12" sm="12" md="6" align="center" class="justify-center">
                                    <span class="support--text">clientes por página</span>
                                    <v-menu offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn
                                                dark text color="primary" class="ml-2" v-bind="attrs" v-on="on"
                                            >
                                                {{ itemsPerPage }}
                                                <v-icon>mdi-chevron-down</v-icon>
                                            </v-btn>
                                        </template>
                                        <v-list>
                                            <v-list-item
                                                v-for="(number, index) in itemsPerPageArray"
                                                :key="index"
                                                @click="updateItemsPerPage(number)"
                                            >
                                                <v-list-item-title>{{ number }}</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" sm="12" md="6" align="center" class="justify-center">
                                    <v-spacer></v-spacer>
                                    <span class="mr-4 grey--text">
                                     Página {{ page }} de {{ numberOfPages }}
                                    </span>
                                    <v-btn small dark color="secondary" class="mr-1" @click="formerPage">
                                        <v-icon>mdi-chevron-left</v-icon>
                                    </v-btn>
                                    <v-btn small dark color="secondary" class="ml-1" @click="nextPage">
                                        <v-icon>mdi-chevron-right</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-slot:loading>
                            <v-row class="py-15">
                                <v-col
                                    class="text-subtitle-1 text-center"
                                    cols="12"
                                    align="center"
                                >
                                    <span class="font-weight-bold">
                                        Un momento por favor
                                    </span>
                                </v-col>
                                <v-col cols="12" md="6" class="offset-md-3" align="center">
                                    <v-progress-linear
                                        color="primary"
                                        indeterminate
                                        rounded
                                        height="6"
                                    ></v-progress-linear>
                                </v-col>
                            </v-row>
                        </template>
                        <template v-slot:no-results>
                            <v-row>
                                <v-col cols="12" align="center">
                                    <data-empty
                                        text="No hemos encontrado algun cliente con esos parametros de busqueda"
                                    />
                                </v-col>
                            </v-row>
                        </template>
                        <template v-slot:no-data>
                            <v-row>
                                <v-col cols="12" align="center">
                                    <data-empty
                                        text="No hemos encontrado algun cliente con esos parametros de busqueda"
                                    />
                                </v-col>
                            </v-row>
                        </template>
                    </v-data-iterator>
                </v-card>
            </v-col>
        </v-card>
    </div>
</template>

<script>
import {EventBus} from "../../../EventBus";
import DataEmpty from "../../ui/DataTable/DataEmpty";
export default {
    name: "CustomerList",
    components:{
        DataEmpty,
    },
    data: () => ({
        search: "",
        estadoListado: [
            {text: "Todos", value: null},
            {text: "Activo", value: 1},
            {text: "Inactivo", value: 0},
        ],
        estadoListadoValue: null,
        customers: [],
        itemsPerPage: 4,
        page: 1,
        itemsPerPageArray: [4, 8, 12],
        loadingItems: false,
    }),
    computed:{
        numberOfPages () {
            return Math.ceil(this.customers.length / this.itemsPerPage)
        },
        filteredCustomers() {
            let itemsFiltered =  this.customers
            if(this.estadoListadoValue !== null){
                itemsFiltered = this.customers.slice().filter((customer) =>
                    customer.active === this.estadoListadoValue
                )
            }
            return itemsFiltered
        },
    },
    methods:{
        // Paginacion
        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        showItem(item) {
            this.$inertia.get(this.route('customers.show',item))
        },
        async getCustomers(){
            this.loadingItems = true
            try {
                const response = await  axios.get(route('customers.index'))
                this.customers = response.data.customers
                this.loadingItems = false
            }catch(error){
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de obtener los clientes, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                });
                console.log(error)
            }
        }
    },
    mounted() {
        this.getCustomers()
    }
}
</script>

<style scoped>
.v-image{
    border: 1px solid #ebe5e5 !important;
    border-radius: 3px !important;
}
</style>
