<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Prestamos por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:no-data>
                <data-empty
                    text="no encontramos prestamos para este cliente"
                />
            </template>
            <template v-slot:item.borrowed_amount="{item}">
                {{ formatCurrencyGT(item.borrowed_amount)}}
            </template>
            <template v-slot:item.actions="{ item }">
                <ui-table-actions
                    :item="item"
                >
                    <template v-slot:preActions>
                        <v-list-item  @click="toshowLoand(item)">
                            <v-list-item-icon>
                                <v-icon color="primary" small right>
                                    mdi-arrow-right
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>
                                    ir al prestamo
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </ui-table-actions>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import DataEmpty from "../../ui/DataTable/DataEmpty";
import UiTableActions from "../../ui/DataTable/UiTableActions";
import {formatCurrencyGT} from "../../../utils/formats";
export default {
    name: "CustomerLoandList",
    props:{
        loands : Array,
    },
    components:{
      DataEmpty,
      UiTableActions,
    },
    data: ()  => ({
        loadingData: false,
        items: [],
        headers: [
            {
                text: 'Fecha de creación',
                value: "created_at",
                align: 'left',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Tipo",
                value: 'type',
            },
            {
                text: 'Monto',
                value: "borrowed_amount",
            },
            {
                text: "Cuotas",
                value: "dues",
                sortable: false
            },
            {
                text: "Interés",
                value: "interest_percentage",
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: "Acciones",
                value: "actions",
                sortable: false
            },
        ],
    }),
    methods:{
       /* async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('dailyIncomes.index'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },*/
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.id))
        },
    },
    mounted() {
        this.items = this.loands;
    }
}
</script>

<style scoped>

</style>
