<template>
    <v-card flat class="pa-5">
        <v-card-text>
            <v-form ref="formCustomer" lazy-validation>
                <v-row>
                    <v-col cols="12" md="8" order="2" order-sm="1">
                        <v-row>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    readonly
                                    outlined
                                    dense
                                    v-model="item.correlative"
                                    label="correlativo"
                                    hint="Generado automaticamente"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-text-field
                                    autofocus
                                    outlined
                                    dense
                                    v-model="item.identificationNumber"
                                    label="No. identificación"
                                    hint="dpi o pasaporte"
                                    :rules="[rules.required]"
                                    @keypress="onlyNumber($event)"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.firstName"
                                    label="nombre"
                                    hint="Todos los nombres"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.lastName"
                                    label="Apellido"
                                    hint="Apellido completo"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.phoneOne"
                                    label="Telefono principal"
                                    :rules="[rules.required, rules.phone]"
                                    hint="formato: xxxx-xxxx"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.phoneTwo"
                                    :rules="[rules.phone]"
                                    label="Telefono secundario"
                                    hint="opcional formato: xxxx-xxxx"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-select
                                    outlined
                                    dense
                                    v-model="item.gender"
                                    :items="genders"
                                    label="genero"
                                    :rules="[rules.required]"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-select
                                    @change="changeDMS('dep')"
                                    no-data-text="sin departamentos"
                                    outlined
                                    dense
                                    v-model="item.departamento_id"
                                    :items="departamentos"
                                    item-text="name"
                                    item-value="id"
                                    label="Departamento"
                                    :rules="[rules.required]"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-select
                                    @change="changeDMS('mun')"
                                    no-data-text="sin municipios"
                                    outlined
                                    dense
                                    v-model="item.municipio_id"
                                    :items="municipioItems"
                                    item-text="name"
                                    item-value="id"
                                    label="Municipios"
                                    :menu-props="{ maxHeight: '400' }"
                                    :disabled="item.departamento_id==''"
                                    :rules="[rules.required]"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-select
                                    no-data-text="sin sectores"
                                    outlined
                                    dense
                                    v-model="item.sector_id"
                                    :items="sectoresItems"
                                    item-text="name"
                                    item-value="id"
                                    label="Sector"
                                    :menu-props="{ maxHeight: '400' }"
                                    :rules="[rules.required]"
                                    :disabled="item.municipio_id==''"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.address"
                                    label="Dirección exacta"
                                    hint="ej: calle, numero de casa, lote, colonia, sector."
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.referenceAddress"
                                    label="Dirección referencia"
                                    hint="ej: Junto a ... , casa color ..."
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>

                        </v-row>
                    </v-col>
                    <v-col cols="12" md="3" class="offset-md-1" align="center" order="1" order-sm="2">
                        <div class="py-3">
                            <h3>foto de perfil</h3>
                        </div>
                        <div class="justify-center pb-sm-10" v-show="!changingImage">
                            <div class="pl-md-3">
                                <v-img
                                    max-width="184.5"
                                    max-height="184.5"
                                    :src="this.url"
                                ></v-img>
                            </div>
                            <div class="pt-3 justify-center">
                                <v-btn v-if="!item.id" small outlined color="primary" @click="changingImage=true" class="ml-2">
                                    seleccionar imagen
                                </v-btn>
                                <v-btn v-else small block text color="primary" @click="handleChangeExistedImage" align="center" >
                                    cambiar imagen
                                </v-btn>
                            </div>
                        </div>
                        <div class="justify-center" v-show="changingImage">
                            <croppa
                                class="pb-4"
                                v-model="myCroppa"
                                :width="200"
                                :height="200"
                                placeholder="Toca para aquí para buscar."
                                :placeholder-font-size="14"
                                :accept="'image/*'"
                                prevent-white-space
                                remove-button-color="black"
                            ></croppa>
                            <div class="pt-3 justify-center">
                                <v-row class="pl-7 pr-9">
                                    <v-col cols="6" sm="6" md="6">
                                        <v-btn v-if="!item.id" small block text color="support" @click="changingImage=false" align="center" >
                                            cancelar
                                        </v-btn>
                                        <v-btn v-else small block text color="support" @click="handleCancelChangeExistedImage" align="center" >
                                            anterior
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="6" sm="6" md="6">
                                        <v-btn small outlined color="primary" @click="getImageResize" align="center" >
                                            <span>
                                                {{item.id? 'aceptar' : 'Guardar'}}
                                            </span>
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </div>
                        </div>
                        <div class="pt-10">
                            <h5 class=text-left>Clasificación:</h5>
                            <v-rating
                                length="5"
                                v-model="item.rating"
                                color="primary"
                                background-color="primary"
                            ></v-rating>
                        </div>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                @click="goBack"
                text
                color="support"
                :disabled="loadingSubmit"
            >
                <v-icon small left>
                    mdi-arrow-left
                </v-icon>
                regresar
            </v-btn>
            <v-btn
                @click="handleSubmit"
                :loading="loadingSubmit"
                elevation="0"
                color="primary"
            >
                {{ buttonTitle }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import 'vue-croppa/dist/vue-croppa.css';
import {EventBus} from "../../../EventBus";
import {telefonoValido,correoValido} from '@/utils/rulesGuatemala'

export default {
    name: "FormCustomer",
    props:{
        customerParam: Object
    },
    data: () => ({
        loadingSubmit:false,
        genders:[
            "masculino",
            "femenino",
            "otro",
        ],
        departamentos: [],
        municipios: [],
        sectores: [],
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            phone: value => {
                return telefonoValido(value) || 'no es un telefono valido.'
            },
            email: value => {
                return correoValido(value) || 'Correo invalido.'
            },
        },
        item:{
            correlative : "",
            identificationNumber : "",
            firstName : "",
            lastName : "",
            phoneOne : "",
            phoneTwo : "",
            gender : "",
            departamento_id : "",
            municipio_id : "",
            sector_id : "",
            rating : 5,
            address : "",
            referenceAddress : "",
            image_url : "",
            active: "1",
        },
        itemTemp: {},
        image: null,
        changingImage:false,
        url : '/images/user-otro.png',
        myCroppa: {},
        urlTemp : '',
        changeExistImage: false,
    }),
    computed:{
        buttonTitle() {
            return this.item.id ? "Actualizar" : "Guardar";
        },
        municipioItems(){
            return this.municipios.slice().filter((municipio) => municipio.departamento_id === this.item.departamento_id)
        },
        sectoresItems(){
            return this.sectores.slice().filter((sector) => sector.municipio_id === this.item.municipio_id)
        },
        departamentoSeleccionado(){
           return this.item.departamento_id
        },
        genero(){
            return this.item.gender
        }
    },
    methods:{
        onlyNumber: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        goBack(){
            this.$inertia.get(route('customers.show', this.customerParam))
        },
        handleChangeExistedImage(){
            this.changingImage =true
            this.changeExistImage = true;
            this.urlTemp = this.item.image_url
        },
        handleCancelChangeExistedImage(){
            this.changingImage = false
            this.changeExistImage = false
            this.item.image_url = this.urlTemp
            this.url = this.urlTemp
            this.myCroppa.remove()
        },
        getImageResize(){
            let hasImage = this.myCroppa.generateDataUrl()
            if (!hasImage) {
                EventBus.$emit("snackbar", {
                    text: "Debes seleccionar una imagen antes de guardar.",
                    type: "error",
                });
            }else{
                this.myCroppa.generateBlob((blob) => {
                    this.url = URL.createObjectURL(blob);
                    this.image = blob
                    this.changingImage = false
                }, 'image/jpeg', 0.8)
                this.myCroppa.remove()
            }
        },
        /*async getCorrelative(){
            if(!this.item.id){
                axios.get(route('customers.correlative'))
                    .then( response => {
                        this.item.correlative = response.data.correlative
                    })
                    .catch(error =>{
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de generar el correlativo del cliente.",
                            type: "error",
                        });
                        console.log(error)
                    })
            }
        },*/
        handleSubmit(){
            if(!this.$refs.formCustomer.validate()){
                EventBus.$emit("snackbar", {
                    text: "Por favor, verifica los datos a guardar.",
                    type: "info",
                });
                return
            }
            this.loadingSubmit = true;
            this.item.rating = parseInt(this.item.rating)
            this.$emit('formCustomerSubmit', {
                image: this.image,
                item: this.item,
                changeExistImage: this.changeExistImage,
            });
        },
        assignValues(){
            if(this.customerParam.id){
                this.item = {...this.customerParam}
                this.item.phoneTwo = this.item.phoneTwo ? this.item.phoneTwo : ""
                this.item.active = this.item.active.toString()
                this.url = this.item.image_url
                this.changeExistImage = false
                this.urlTemp =''
                this.itemTemp = { ...this.customerParam}
            }else{
                //this.getCorrelative()
            }
        },
        async getDepartamentos() {
            try {
                const response = await axios.get(route('departamentos.index'), {
                    params: {
                        active: 1
                    }
                })
                this.departamentos  = response.data.departamentos
            }
            catch (error) {
                console.log(error);
            }
        },
        async getMunicipios() {
            try {
                const response = await axios.get(route('municipios.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.municipios  = response.data.municipios
            }
            catch (error) {
                console.log(error);
            }
        },
        async getSectores() {
            try {
                const response = await axios.get(route('sectores.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.sectores  = response.data.sectores
            }
            catch (error) {
                console.log(error);
            }
        },
        changeDMS(type){
           if(type === "dep"){
               this.item.municipio_id = ""
               this.item.sector_id = ""
           }
            if( type === "mun"){
                this.item.sector_id = ""
            }
        }
    },
    watch:{
        genero(value){
            if(!this.customerParam.id ){
                this.url  = `/images/user-${value}.png`
                if(this.image){
                    this.image = null
                }
            }
        }
    },
    mounted() {
        this.getDepartamentos()
        this.getMunicipios()
        this.getSectores()
        this.assignValues()
    }
}
</script>

<style scoped>
.croppa-container{
    max-height: 203px;
    border: 2px solid #e4e5ee;
    background-color: #e4e5ee;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>
