<template>
  <div>
      <v-card flat >
          <v-col cols="12" align="right">
                <v-btn
                    @click="dialogForm=true"
                    color="primary"
                    elevation="0"
                    :disabled="!canCreate"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Nuevo sector
                </v-btn>
          </v-col>
          <v-col cols="12">
              <v-data-table
                  fixed-header
                  :search="search"
                  :headers="headers"
                  :items="sectores"
                  :items-per-page=5
                  :loading=loadTable
                  loading-text="Un momento por favor..."
                  no-results-text="Lo sentimos, No existe algún sector con esos datos de busqueda."
                  :header-props="{'sort-by-text':'Ordenar por'}"
                  :footer-props="{'items-per-page-text':'Sectores por página','items-per-page-all-text':'Todos'}"
              >
                  <template v-slot:top class="">
                      <v-row class="px-3">
                          <v-col cols="12" sm="6" md="3">
                              <v-text-field
                                  clearable
                                  outlined
                                  dense
                                  align="center"
                                  v-model="search"
                                  prepend-inner-icon="mdi-magnify"
                                  label="Nombre"
                                  single-line
                                  :disabled="!canCreate"
                              ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6" md="3">
                              <v-select
                                  outlined
                                  dense
                                  :items="estadoListado"
                                  v-model="estadoListadoValue"
                                  label="Estado"
                                  :disabled="!canCreate"
                              ></v-select>
                          </v-col>
                          <v-col cols="12" sm="6" md="3">
                              <v-select
                                  outlined
                                  dense
                                  v-model="departamentoFilterSelect"
                                  :items="departamentosListFilter"
                                  item-text="name"
                                  item-value="id"
                                  label="Departamento"
                                  :disabled="!canCreate || loadSelect"
                                  @change="getMunicipioFilter"
                                  :loading="loadSelect"
                              ></v-select>
                          </v-col>
                          <v-col cols="12"sm="6" md="3">
                              <v-select
                                  :disabled="departamentoFilterSelect==='todos' || loadSelect"
                                  outlined
                                  dense
                                  v-model="municipioFilterSelect"
                                  :items="municipiosListFilter"
                                  item-text="name"
                                  item-value="id"
                                  label="Municipio"
                                  :loading="loadSelect"
                              ></v-select>
                          </v-col>
                      </v-row>
                  </template>
                  <template v-slot:item.active="{item}">
                      <v-chip
                          class="ma-2"
                          :color="item.active?'primary': 'blue-grey lighten-2'"
                          text-color="white"
                      >
                          <span>{{item.active?'Activo': 'Inactivo'}}</span>
                      </v-chip>
                  </template>
                  <template v-slot:item.actions="{ item }">
                      <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                  v-if="editedItem.exist_loans < 1 && editedItem.exist_customers < 1"
                                  :disabled="!item.municipio_active"
                                  @click="assignedItem(item,'dialogState')"
                                  outlined
                                  small
                                  v-bind="attrs"
                                  v-on="on"
                              >
                                  <v-icon class="">
                                       {{item.active?'mdi-note-off-outline' : 'mdi-note-outline'}}
                                  </v-icon>
                              </v-btn>
                          </template>
                          <span>{{item.active?'desactivar' : 'activar'}}</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                  :disabled="!item.active"
                                  @click="assignedItem(item,'dialogForm')"
                                  outlined
                                  small
                                  v-bind="attrs"
                                  v-on="on"
                              >
                                  <v-icon class="">
                                      mdi-note-edit-outline
                                  </v-icon>
                              </v-btn>
                          </template>
                          <span>editar</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                          <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                  v-if="editedItem.exist_loans < 1 && editedItem.exist_customers < 1"
                                  :disabled="!item.active"
                                  @click="assignedItem(item,'dialogDelete')"
                                  outlined
                                  small
                                  v-bind="attrs"
                                  v-on="on"
                              >
                                  <v-icon class="">
                                      mdi-note-remove-outline
                                  </v-icon>
                              </v-btn>
                          </template>
                          <span>eliminar</span>
                      </v-tooltip>
                  </template>
                  <template v-slot:no-results>
                      <data-empty
                          text="no existe algún sector con esos datos de busqueda"
                      />
                  </template>
                  <template v-slot:no-data>
                      <v-list-item class="">
                          <v-list-item-content class="py-12 d-flex justify-center">
                              <v-img
                                  max-height="120"
                                  max-width="120"
                                  src="/images/notFound.png"
                                  position="center center"
                              ></v-img>
                              <p class="pt-3">{{$page.props.auth.user.firstName}} lo sentimos,
                                  <span>{{canCreate ? "Aun no hay sectores creados. ":" debes activar un departamento y municipio para crear un sector."}}</span></p>
                          </v-list-item-content>
                      </v-list-item>
                  </template>
              </v-data-table>
          </v-col>
      </v-card>

      <v-dialog v-model="dialogState" width="450" persistent>
          <v-card class="pa-2">
              <v-card-title class="text-h6 secondary--text font-weight-bold ">
                  <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                  {{dialogStateTitle}}
              </v-card-title>
              <v-card-text>
                  <span>
                      {{
                          !state ?
                          'El sector estará disponible en los futuros prestamos, recuerda activar los sectores que necesites.':
                          ' El sector ya no estarán disponibles en futuros prestamos.'
                      }}
                  </span>
              </v-card-text>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                      @click="closeDialog('dialogState')"
                      text
                      color="grey darken-2"
                  >
                      volver
                  </v-btn>
                  <v-btn
                      @click="handleState()"
                      outlined
                      color="primary"
                  >
                    <span>
                        {{!state? 'Si, activalo': 'Si, desactivalo'}}
                    </span>
                  </v-btn>
              </v-card-actions>
          </v-card>
      </v-dialog>
      <v-dialog v-model="dialogForm" max-width="500" persistent>
          <v-card>
              <v-card-title>
                  <span class="text-h5 font-weight-medium">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                  <v-divider></v-divider>
                  <v-form ref="sectorForm" lazy-validation>
                      <v-container class="pt-10">
                          <v-row>
                              <v-col cols="12">
                                  <v-text-field
                                      outlined
                                      dense
                                      autofocus
                                      label="Nombre del sector"
                                      v-model="editedItem.name"
                                      :rules="[rules.required]"
                                  ></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6" >
                                  <v-select
                                      outlined
                                      dense
                                      v-model="editedItem.departamento_id"
                                      :items="departamentosListItem"
                                      item-text="name"
                                      item-value="id"
                                      label="Departamento"
                                      @change="getMunicipioItem"
                                      :rules="[rules.required]"
                                  ></v-select>
                              </v-col>
                              <v-col cols="12"sm="6">
                                  <v-select
                                      outlined
                                      dense
                                      v-model="editedItem.municipio_id"
                                      :items="municipiosListItem"
                                      item-text="name"
                                      item-value="id"
                                      label="Municipio"
                                      :rules="[rules.required]"
                                      :disabled="editedItem.departamento_id ===''"
                                  ></v-select>
                              </v-col>
                              <v-col v-if="editedItem.exist_loans>0 || editedItem.exist_customers>0  " cols="12" sm="12" class="pl-sm-4" >
                                  <strong>Nota:</strong>
                                  No puedes desactivar el sector porque hay prestamos o clientes con el.
                              </v-col>
                              <v-col v-else cols="12" sm="6" class="pl-sm-4">
                                  <v-switch
                                      v-model="editedItem.active"
                                      inset
                                      label="Sector activo"
                                  ></v-switch>
                              </v-col>
                          </v-row>
                      </v-container>
                  </v-form>

              </v-card-text>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="support" text @click="closeDialog('dialogForm')" >
                      <span >volver</span>
                  </v-btn>
                  <v-btn color="primary" elevation="0" dark @click="save">
                      {{ editedIndex == -1 ? 'Guardar' : 'Actualizar'}}
                  </v-btn>
              </v-card-actions>
          </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDelete" width="480" persistent>
          <v-card class="pa-2">
              <v-card-title class="text-h6 secondary--text font-weight-bold ">
                  <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                  ¿Estas seguro de eliminar el sector?
              </v-card-title>
              <v-card-text>
                  <span>
                      El sector no esta asignado a ningún credito.
                  </span>
              </v-card-text>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                      @click="closeDialog('dialogDelete')"
                      text
                      color="grey darken-2"
                  >
                      volver
                  </v-btn>
                  <v-btn
                      @click="deleteSector()"
                      outlined
                      color="primary"
                  >
                    <span>
                        Si, eliminalo
                    </span>
                  </v-btn>
              </v-card-actions>
          </v-card>
      </v-dialog>
  </div>
</template>
<script>
import {EventBus} from "../../../EventBus";
import DataEmpty from "../../ui/DataTable/DataEmpty";
export default {
    name: "SectoresList",
    components:{
        DataEmpty,
    },
    props: {
      departamentos : Array,
      municipios : Array,
      canCreate : Boolean,
    },
    data: () => ({

        search: '',

        dialogState: false,
        dialogForm: false,
        dialogDelete: false,

        loadTable: false,
        loadSelect : true,

        estadoListado: [
            {text: "Todos", value: null},
            {text: "Activo", value: 1},
            {text: "Inactivo", value: 0},
        ],
        estadoListadoValue: null,

        sectores: [],

        departamentosListFilter : [],
        municipiosListFilter : [],
        departamentoFilterSelect : "todos",
        municipioFilterSelect : "todos",

        departamentosListItem : [],
        municipiosListItem : [],
        departamentoItem : '',
        municipioItem : '',

        editedIndex: -1,
        editedItem: {
            id: "",
            name: "",
            active: false,
            departamento_id: "",
            municipio_id: "",
        },
        defaultItem: {
            id: "",
            name: "",
            active: false,
            departamento_id: "",
            municipio_id: "",
        },
        state: 0,

        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
    }),
    created() {
        this.getSectores()
        setTimeout(() => this.getAll(), 900)
    },
    computed:{
        headers() {
            return [
                {
                    text: "Nombre",
                    value: "name",
                    align: 'left',
                },
                {
                    text: "Departamento",
                    value: "departamento"
                },
                {
                    text: "Municipio",
                    value: "municipio"
                },
                {
                    text: 'Estado',
                    value: 'active',
                    filter: this.estadoFilter,
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false
                },
            ]
        },
        dialogStateTitle() {
            return this.state === 0 ? "Activar el sector" : "Desactivar el sector";
        },
        formTitle() {
            return this.editedIndex === -1 ? "Nuevo sector" : "Editar sector";
        },
        buttonTitle() {
            return this.editedIndex === -1 ? "Crear" : "Actualizar";
        },
    },
    methods:{
        getAll() {
            this.departamentosListFilter = this.departamentos.slice()
            this.departamentosListFilter.unshift({
                id: "todos",
                name: "Todos",
            });
            this.municipiosListFilter = this.municipios.slice()
            this.municipiosListFilter.unshift({
                id: "todos",
                name: "Todos",
                id_departamento: "todos"
            });

            this.departamentosListItem = this.departamentos.slice()
            this.municipiosListItem = this.municipios.slice()
            this.loadSelect = false
        },
        estadoFilter(value) {
            if (this.estadoListadoValue === null) {
                return true;
            }
            return value === this.estadoListadoValue;
        },
        async getSectores() {
            try {
                this.loadTable = true
                const response = await axios.get(route('sectores.index'))
                this.sectores  = response.data.sectores
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
        assignedItem(item,typeDialog) {
            this.editedIndex = this.sectores.indexOf(item);
            this.editedItem = Object.assign({}, item);
            switch (typeDialog) {
                case "dialogForm":
                    this.dialogForm = true;
                    this.getMunicipioItem()
                    break;
                case "dialogState":
                    this.dialogState = true;
                    this.editedItem.active ? this.state = 1 : this.state= 0
                    break;
                case "dialogDelete":
                    this.dialogDelete = true
                    break;
                default:
                    return;
            }
        },
        async save () {
            if(this.$refs.sectorForm.validate()){
                if (this.editedIndex > -1) {
                    await this.updateSector()
                    this.closeDialog("dialogForm")
                } else {
                    await this.createSector()
                    this.closeDialog("dialogForm")
                }
            }
        },
        closeDialog(typeDialog){
            switch (typeDialog) {
                case "dialogForm":
                    this.dialogForm = false
                    this.$refs.sectorForm.resetValidation()
                    break;
                case "dialogState":
                    this.dialogState = false
                    break;
                case "dialogDelete":
                    this.dialogDelete = false
                    break;
                default:
                    return;
            }
            setTimeout(() => this.reset(),200)
        },
        reset(){
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
        },
        createSector(){
            axios.post(route('sectores.store'), this.editedItem )
                .then( response => {
                    EventBus.$emit("snackbar", {
                        text: response.data.message,
                        type: "success",
                    });
                    this.getSectores()
                    this.closeDialog('dialogForm')
                })
                .catch(error =>{
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de crear el sector, por favor comuniquese con el administrador del sistema.",
                        type: "error",
                    });
                    console.log(error)
                })
        },
        updateSector(){
            axios.put(route('sectores.update',this.editedItem.id),this.editedItem)
                .then( response => {
                    EventBus.$emit("snackbar", {
                        text: response.data.message,
                        type: "success",
                    });
                    this.getSectores()
                    this.$refs.sectorForm.resetValidation()
                })
                .catch(error =>{
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de actualizar el sector, por favor comuniquese con el administrador del sistema.",
                        type: "error",
                    });
                    console.log(error)
                })
        },
        handleState(){
            let data = { ...this.editedItem }
            data.handleState = true
            axios.put(route('sectores.update', this.editedItem.id), data )
                .then( response => {
                    EventBus.$emit("snackbar", {
                        text: response.data.message,
                        type: "success",
                    });
                    this.dialogState = false
                    this.getSectores()
                })
                .catch(error =>{
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de actualizar el sector, por favor comuniquese con el administrador del sistema.",
                        type: "error",
                    });
                    console.log(error)
                })
        },
        async deleteSector(){
            axios.delete(route('sectores.destroy', this.editedItem.id))
                .then( response => {
                    EventBus.$emit("snackbar", {
                        text: response.data.message,
                        type: response.data.type,
                    });
                    this.dialogDelete = false;
                    this.getSectores()
                })
                .catch(error =>{
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de eliminar el sector, por favor comuniquese con el administrador del sistema.",
                        type: "error",
                    });
                    console.log(error)
                })
        },
        getMunicipioFilter(){
            if(this.departamentoFilterSelect ==='todos'){
                this.municipiosListFilter = this.municipios.slice()
            }else{
                this.municipiosListFilter = this.municipios.slice().filter((municipio) => municipio.departamento_id === this.departamentoFilterSelect)
                this.municipiosListFilter.unshift({
                    id: "todos",
                    name: "Todos",
                    id_departamento: "todos"
                });
            }
            this.municipioFilterSelect = "todos"
        },
        getMunicipioItem(){
            if(this.editedIndex ===  -1){
                this.editedItem.municipio_id = ''
            }
            this.municipiosListItem = this.municipios.slice().filter((municipio) => municipio.departamento_id === this.editedItem.departamento_id)
        }
    },
}
</script>

<style scoped>

</style>
