<template>
    <v-dialog v-model="dialog" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2">
                        mdi-lock-alert-outline
                    </v-icon>
                    <span class="">
                        {{ dialogTitle }}
                    </span>
                </v-card-title>
                <v-card-text>
                    <v-form ref="form" lazy-validation>
                        <v-row  v-if="!password_changed" >
                            <v-col cols="12" class="pt-8">
                                <p>
                                    {{dialogText}}
                                </p>
                            </v-col>
                            <v-col cols="12" align="center">
                                <v-text-field
                                    v-model="password"
                                    label="Contraseña actual"
                                    outlined
                                    required
                                    @click:append="showPassword = !showPassword"
                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="showPassword ? 'text' : 'password'"
                                    class="input-group--focused"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="pb-0">
                                <v-text-field
                                    v-model="new_password"
                                    label="Contraseña nueva"
                                    outlined
                                    required
                                    @click:append="new_showPassword = !new_showPassword"
                                    :append-icon="new_showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="new_showPassword ? 'text' : 'password'"
                                    class="input-group--focused"
                                    :rules="[rules.required, rules.min]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-divider></v-divider>
                            </v-col>
                            <v-col cols="12" class="py-0">

                            </v-col>
                        </v-row>
                        <v-row v-else>
                            <v-col cols="12" align="center">
                                <box-icon
                                    name='check-circle'
                                    size="lg"
                                    :color="'#26c6da'"
                                    class="icon-custom"
                                ></box-icon>
                                <h2 class="secondary--text">¡Muy bien!</h2>
                                <h3>la contraseña a sido cambiada.</h3>
                            </v-col>
                            <v-col cols="12" class="pb-0">
                                <p>
                                    <strong>Nota:</strong>
                                    Debes cerrar sesión para ingresar con tu nueva contraseña.
                                </p>
                            </v-col>
                            <v-col cols="12">
                                <v-divider></v-divider>
                            </v-col>
                            <v-col cols="12">
                                <v-btn
                                    color="primary"
                                    block
                                    @click="handleLogout"
                                    elevation="0"
                                > SALIR </v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions v-if="!password_changed">
                    <v-btn color="grey darken-2"  text @click="dialog=false" :disabled="loadingSave"> {{ btnBackText }} </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"  outlined @click="change" :loading="loadingSave">
                        cambiar
                    </v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
</template>
<script>
import {EventBus} from "../../EventBus";

export default {
    name: "PersonalPassword",
    props:{
        open: Boolean,
    },
    data() {
        return {
            loadingSave: false,
            dialog: this.open,
            password: '',
            showPassword: false,
            new_password: '',
            new_showPassword: false,
            password_changed : false,
            rules: {
                required: value => !!value || 'Debes llenar este campo.',
                min: value =>  (value && value.length >= 8) || 'Debe tener minimo 8 caracteres',
            },
        };
    },
    computed:{
      dialogTitle(){
        return this.$page.props.auth.user.personal_password ?
            "Cambia tu contraseña" :
            "Debes cambia la contraseña";
      },
      dialogText(){
        return this.$page.props.auth.user.personal_password?
            "Escribe tu contraseña actual y la nueva contraseña que deseas." :
            "Por motivos de seguridad, necesitas cambiar la contraseña genérica por una propia.";
      },
      btnBackText(){
          return this.$page.props.auth.user.personal_password?
              "volver" :
              "luego";
      },
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        handleLogout(){
            this.$inertia.post(route('logout'))
        },
        change(){
            if (!this.$refs.form.validate()) return;
            const data = {
                password : this.password,
                new_password : this.new_password,
            };
            axios.post( route('users.changePass'),data).then(response => {
                this.password_changed = response.data.password_changed;
                let type = this.password_changed? "success": "error";
                EventBus.$emit("snackbar", {
                    text: response.data.message,
                    type: type,
                });
            }).catch(error => {
                console.log(error);
                this.loadingSave = false;
                //this.close();
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de cambiar la contraseña.",
                    type: "error",
                });
            });
        },
        close() {
            this.password_changed = false;
            this.password = "";
            this.new_password= "";
            this.$emit("close");
        },
    }
}
</script>
<style scoped>
.icon-custom{
    width: 100px;
    height: 100px;
}
</style>
