<template>
    <v-dialog v-model="dialog" width="450" persistent>
        <v-card class="pa-2">
            <v-card-title class="secondary--text font-weight-bold ">
                <v-icon large color="primary" class="pr-2">
                    mdi-lock-reset
                </v-icon>
                <span class="">
                        Restablecer contraseña
                    </span>
            </v-card-title>
            <v-card-text>
                <v-form ref="form" lazy-validation>
                    <v-row>
                        <v-col cols="12" class="pt-8">
                            <p>
                                Se restablecerá la contraseña actual por una por defecto del empleado:
                                <strong>
                                    {{userParam.firstName+" "+userParam.lastName}}
                                </strong>
                            </p>
                        </v-col>
                        <v-col cols="12">
                            <v-divider></v-divider>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn color="grey darken-2"  text @click="dialog=false" :disabled="loadingSave"> volver </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="change" :loading="loadingSave">
                    restablecer
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {EventBus} from "../../EventBus";
export default {
    name: "ResetPassword",
    props:{
        open: Boolean,
        userParam: Object,
    },
    data() {
        return {
            loadingSave: false,
            dialog: this.open,
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        change(){
            this.loadingSave = true;
            const data = {
                userId : this.userParam.id,
            };
            axios.post( route('users.resetPass'),data).then(response => {
                let password_reseted = response.data.password_reseted;
                let type = password_reseted? "success": "error";
                EventBus.$emit("snackbar", {
                    text: response.data.message,
                    type: type,
                });
                this.close();
            }).catch(error => {
                console.log(error);
                this.loadingSave = false;
                //this.close();
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de restablecer la contraseña.",
                    type: "error",
                });
            });
        },
        close() {
            this.$emit("close");
        },
    }
}
</script>

<style scoped>

</style>
