<template>
    <v-dialog v-model="dialog" persistent width="450">
        <v-card class="pa-2">
            <v-card-title class="secondary--text font-weight-bold ">
                <v-icon large color="primary" class="pr-2">
                    mdi-alert-outline
                </v-icon>
                <span class="">
                        Estas fuera de horario
                    </span>
            </v-card-title>
            <v-card-text>
                <v-form ref="form" lazy-validation>
                    <v-row>
                        <v-col cols="12" class="pt-8">
                            <p>
                                Tu horario laboral es de 7 am a 8 pm,
                                <strong>
                                    se cerrará tu sesión.
                                </strong>
                            </p>
                        </v-col>
                        <v-col cols="12">
                            <v-divider></v-divider>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="handleLogout" :loading="loadingSave">
                    ACEPTAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "TimeRange",
    props:{
        open: Boolean,
    },
    data(){
      return{
          loadingSave: false,
          dialog: this.open,
      }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        handleLogout() {
            this.$inertia.post(route('logout'));
        },
        close() {
            this.$emit("close");
        },
    }
}
</script>

<style scoped>

</style>
