<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="bar-chart-alt-2"
            heading-text="Reportes"
            use-support-text
            suport-text="Estos son los reportes disponibles del negocio."
        />
        <v-row class="mt-4">
            <v-col cols="12" sm="6" md="4" lg="3" xl="3" v-for="menu in menus" :key="menu.name" >
                <v-card
                    outlined
                    color="white"
                    max-width="350"
                    class="mx-auto"
                    @click="gotoRoute(menu.url)"
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-subtitle class="font-weight-bold header--text" v-text="menu.name"></v-card-subtitle>
                        </div>
                        <v-avatar
                            class="ma-3"
                            size="95"
                            tile
                        >
                            <v-icon
                                color="primary"
                                x-large
                            > mdi-{{menu.icon}}</v-icon>
                        </v-avatar>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "ReportMenu",
    components:{
        HeadingView,
    },
    data: () => ({
        menus: [],
        openPending: false,
    }),
    methods:{
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        handelMenu(){
            this.menus = [
                {
                    icon: 'checkbox-marked-circle-outline',
                    name: "Creditos Aprobados",
                    url: "reports.approvedLoans",
                },
                {
                    icon: 'chart-box-plus-outline',
                    name: "Creditos Activos",
                    url: "reports.activeLoans",
                },
                {
                    icon: 'briefcase-check-outline',
                    name: "Creditos Pagados",
                    url: "reports.paidLoans",
                },
                {
                    icon: 'sitemap-outline',
                    name: "Creditos por tipo",
                    url: "reports.typeLoans",
                },
                {
                    icon: 'alert-circle-outline',
                    name: "Cuotas atrasadas",
                    url: "reports.arrearsFees",
                },
            ];
        },
    },

    mounted() {
        this.handelMenu();
    },
}
</script>

<style scoped>

</style>
