<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="bar-chart-alt-2"
            heading-text="Reporte de creditos por tipo"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Filtrar los prestamos por la fecha de creación. (aprobados, activos y pagados)."
        />
        <v-row>
            <v-col cols="12">
                <type-loans-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import TypeLoansList from "../../../components/Report/TypeLoansList";

export default {
    name: "ReportTypeLoans",
    components:{
        HeadingView,
        TypeLoansList,
    },
    data : () => ({
        breadCrums: [
            {
                text: 'Reportes',
                disabled: false,
                href: 'reports.menu',
            },
            {
                text: 'Creditos por tipo',
                disabled: true,
                href: 'reports.typeLoans',
            }
        ],
    })
}
</script>

<style scoped>

</style>
