<template>
    <div>
        <heading-view
            heading-icon="mdi-chart-box-plus-outline"
            heading-text="Reporte de creditos activos"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Estos son los prestamos activos a la fecha."
        />
        <v-row>
            <v-col cols="12">
                <active-loans-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import ActiveLoansList from "../../../components/Report/ActiveLoansList";
export default {
    name: "ReportApprovedLoans",
    components:{
        HeadingView,
        ActiveLoansList,
    },
    data : () => ({
        breadCrums: [
            {
                text: 'Reportes',
                disabled: false,
                href: 'reports.menu',
            },
            {
                text: 'Creditos Activos',
                disabled: true,
                href: 'reports.activeLoans',
            }
        ],
    })
}
</script>

<style scoped>

</style>
