<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="bar-chart-alt-2"
            heading-text="Reporte de creditos pagados"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Filtrar los prestamos por la fecha en la que fue pagado en su totalidad."
        />
        <v-row>
            <v-col cols="12">
                <paid-loans-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import PaidLoansList from "../../../components/Report/PaidLoansList";
export default {
    name: "ReportPaidLoans",
    components:{
        HeadingView,
        PaidLoansList
    },
    data : () => ({
        breadCrums: [
            {
                text: 'Reportes',
                disabled: false,
                href: 'reports.menu',
            },
            {
                text: 'Creditos Pagados',
                disabled: true,
                href: 'reports.paidLoans',
            }
        ],
    })
}
</script>

<style scoped>

</style>
