<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="bar-chart-alt-2"
            heading-text="Reporte de creditos aprobados"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Filtra los prestamos que han sido aprobados en un rango de fechas."
        />
        <v-row>
            <v-col cols="12">
                <approved-loans-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import ApprovedLoansList from "../../../components/Report/ApprovedLoansList";
export default {
    name: "ReportApprovedLoans",
    components:{
        HeadingView,
        ApprovedLoansList,
    },
    data : () => ({
        breadCrums: [
            {
                text: 'Reportes',
                disabled: false,
                href: 'reports.menu',
            },
            {
                text: 'Creditos Aprobados',
                disabled: true,
                href: 'reports.approvedLoans',
            }
        ],
    })
}
</script>

<style scoped>

</style>
