<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="bar-chart-alt-2"
            heading-text="Cuotas Atrasadas"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Se muestran las cuotas atrasadas existentes en el sistema."
        />
        <v-row>
            <v-col cols="12">
                <arrears-fees-list/>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import ArrearsFeesList from "../../../components/Report/ArrearsFeesList";
export default {
    name: "ReportArrearsFees",
    components:{
        HeadingView,
        ArrearsFeesList,
    },
    data : () => ({
        breadCrums: [
            {
                text: 'Reportes',
                disabled: false,
                href: 'reports.menu',
            },
            {
                text: 'Cuotas Atrasadas',
                disabled: true,
                href: 'reports.arrearsFees',
            }
        ],
    })
}
</script>

<style scoped>

</style>
