<template>
    <div>
        <heading-view
            heading-icon="mdi-cash-plus"
            heading-text="Historial de igresos"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
        />
        <v-row>
            <v-col cols="12">
                <daily-income-list></daily-income-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import DailyIncomeList from "../../../components/DailyIncome/DailyIncomeList";
export default {
    name: "DailyIncomeIndex",
    components:{
        HeadingView,
        DailyIncomeList
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Caja chica',
                disabled: false,
                href: 'pettyCashHistories.menu',
            },
            {
                text: 'Historial de igresos',
                disabled: true,
                href: 'pettyCashHistories.view',
            }
        ],
    }),
}
</script>

<style scoped>

</style>
