<template>
    <div>
        <v-card flat class="pa-5">
            <v-card-text>
                <v-form ref="form" lazy-validation>
                    <v-row>
                        <!-- parte izquierda-->
                        <v-col cols="12" md="5" order="2" order-sm="1" class="">
                            <v-row>
                                <v-col cols="12">
                                    <v-card outlined :loading="loadingData">
                                        <v-card-text>
                                            <v-row>
                                                <v-col cols="12" align="center">
                                                    <h4>Monto total a cobrar</h4>
                                                    <small>
                                                        (incluye moras si existieran)
                                                    </small>
                                                </v-col>
                                                <v-col cols="12" align="center">
                                                    <span v-if="loadingData">
                                                        <v-progress-circular
                                                            class=""
                                                            indeterminate
                                                            color="primary"
                                                        ></v-progress-circular>
                                                    </span>
                                                    <h2 v-else class="secondary--text">
                                                        {{ formatCurrencyGT(routeCheck.amount_to_collect)}}
                                                    </h2>
                                                </v-col>
                                                <v-col cols="12" align="center">
                                                    <h4>cuotas a cobrar:
                                                        <span v-if="loadingData">
                                                            <v-progress-circular
                                                                size="15"
                                                                width="2"
                                                                class="ml-2 "
                                                                indeterminate
                                                                color="primary"
                                                            ></v-progress-circular>
                                                        </span>
                                                        <span v-else>
                                                            {{ routeCheck.fees_to_collect }}
                                                        </span>
                                                    </h4>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="12">
                                    <v-card outlined :loading="loadingData">
                                        <v-card-text>
                                            <v-expansion-panels
                                                flat
                                                class="ma-0 pa-0"
                                            >
                                                <v-expansion-panel>
                                                    <v-expansion-panel-header class="pa-0">
                                                        <template v-slot:default="{ open }">
                                                            <v-card flat>
                                                                <v-card-text class="pa-0">
                                                                    <v-row>
                                                                        <v-col cols="12" align="center">
                                                                            <h4>Monto total cobrado</h4>
                                                                        </v-col>
                                                                        <v-col cols="12" align="center">
                                                                            <span v-if="loadingData">
                                                                                <v-progress-circular
                                                                                    class=""
                                                                                    indeterminate
                                                                                    color="primary"
                                                                                ></v-progress-circular>
                                                                            </span>
                                                                            <h2 v-else class="secondary--text">
                                                                                {{ formatCurrencyGT(routeCheck.amount_collected)}}
                                                                            </h2>
                                                                        </v-col>
                                                                        <v-col cols="12" align="center">
                                                                            <h4 class="">cuotas cobradas:
                                                                                <span v-if="loadingData">
                                                                                    <v-progress-circular
                                                                                        size="15"
                                                                                        width="2"
                                                                                        class="ml-2 "
                                                                                        indeterminate
                                                                                        color="primary"
                                                                                    ></v-progress-circular>
                                                                                </span>
                                                                                <span v-else>
                                                                                    {{routeCheck.fees_collected}}
                                                                                </span>
                                                                            </h4>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card-text>
                                                            </v-card>

                                                        </template>
                                                    </v-expansion-panel-header>
                                                    <v-expansion-panel-content>
                                                        <v-row
                                                            no-gutters
                                                        >
                                                            <v-col cols="12" class="pt-5">
                                                                <v-divider></v-divider>
                                                            </v-col>
                                                            <v-col cols="12">
                                                                <v-row no-gutters class="pt-5">
                                                                    <v-col cols="12" md="9">
                                                                        <h4 class="">
                                                                            Monto cobros neto:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="3" align="right">
                                                                        <p class="">
                                                                            {{ formatCurrencyGT(routeCheck.net_amount_collected)}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                            <v-col cols="12">
                                                                <v-row no-gutters class="">
                                                                    <v-col cols="12" md="9">
                                                                        <h4 class="">
                                                                            Monto de moras:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="3" align="right">
                                                                        <p class="">
                                                                            {{ formatCurrencyGT(routeCheck.late_fee_amount_collected)}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                            <v-col cols="12">
                                                                <v-row no-gutters class="">
                                                                    <v-col cols="12" md="9" >
                                                                        <h4 class="">
                                                                            Cuotas extraordinarias:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="3" align="right">
                                                                        <p class="">
                                                                            {{ routeCheck.fees_collected_extraordinary}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                            <v-col cols="12">
                                                                <v-row no-gutters class="">
                                                                    <v-col cols="12" md="9" >
                                                                        <h4 class="">
                                                                            Monto que es extraordinario:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="3" align="right">
                                                                        <p class="">
                                                                            {{ formatCurrencyGT(routeCheck.amount_collected_extraordinary)}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                        </v-row>
                                                    </v-expansion-panel-content>
                                                </v-expansion-panel>
                                            </v-expansion-panels>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="12">
                                    <v-card outlined :disabled="exist">
                                        <v-card-text>
                                            <v-row>
                                                <v-col cols="12" align="center">
                                                    <h4>Monto recibido</h4>
                                                    <small>entregado por el cobrador:
                                                        <strong>{{routeParam.cobradorName}}</strong>
                                                    </small>
                                                </v-col>
                                                <v-col cols="12" align="center">
                                                    <v-row>
                                                        <v-col cols="12" md="7">
                                                            <v-text-field
                                                                outlined
                                                                dense
                                                                v-model="amount_received"
                                                                label="Monto recibido"
                                                                :rules="[rules.required, rules.float]"
                                                                @keypress="onlyNumberFloat($event)"
                                                                @change="availableToSave=false"
                                                            ></v-text-field>
                                                        </v-col>
                                                        <v-col cols="12" md="5" align="center">
                                                            <v-btn
                                                                @click="calculateDiff"
                                                                block
                                                                color="primary"
                                                                elevation="0"
                                                            >
                                                                Calcular
                                                            </v-btn>
                                                        </v-col>
                                                    </v-row>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                        <!-- parte derecha-->
                        <v-col cols="12" md="7" order="1" order-sm="2" class="" id="diffDiv">
                            <v-row>
                                <v-col cols="12" order="2" order-sm="1">
                                    <v-card outlined>
                                        <v-row>
                                            <v-col cols="12" align="center" class="py-8">
                                                <h4 :class="diffColor">{{ diffText }}</h4>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-col>
                                <v-col cols="12" order="1" order-sm="2">
                                    <v-card outlined :loading="loadingData">
                                        <v-row>
                                            <v-col cols="12" align="center" class="pt-8">
                                                <h4>Cuotas generales en esta ruta</h4>
                                            </v-col>
                                            <v-col cols="12" class="pt-0">
                                                <v-row v-if="loadingData" class="pb-15" no-gutters
                                                       :class="$vuetify.breakpoint.xs? 'loans_container-mobile' : 'loans_container'"
                                                >
                                                    <v-col
                                                        cols="12"
                                                        class=" pt-15"
                                                        align="center"
                                                        justify="center"
                                                    >

                                                    </v-col>
                                                    <v-col
                                                        cols="12"
                                                        class=" grey--text text--darken-3"
                                                        align="center"
                                                        justify="center"
                                                    >
                                                        <v-icon style="font-size: 3em">
                                                            mdi-folder-information-outline
                                                        </v-icon>
                                                        <h4 class="secondary--text">¡No hay cobros !</h4>
                                                        <small class="font-weight-medium">Es probable que no existan cobros para este dia o que se este cargando la información.</small>
                                                    </v-col>
                                                </v-row>
                                                <div  v-else class="white overflow-y-auto overflow-x-hidden "
                                                     :class="$vuetify.breakpoint.xs? 'loans_container-mobile' : 'loans_container'"
                                                >
                                                    <v-card
                                                        class="my-2"
                                                        outlined
                                                        v-for="(item, i) in routeCheck.payments" :key="i"
                                                    >
                                                        <v-card-text class="py-md-2">
                                                            <v-expansion-panels
                                                                flat
                                                                class="mt-0"
                                                            >
                                                                <v-expansion-panel>
                                                                    <v-expansion-panel-header class="pa-0">
                                                                        <template v-slot:default="{ open }">
                                                                            <v-row class="pa-0 ma-0">
                                                                                <v-col cols="6" md="1" order="1" order-sm="1" class="px-0 mx-0">
                                                                                    <v-avatar
                                                                                        color="secondary"
                                                                                        size="30"
                                                                                    >
                                                                                        <strong class="white--text">
                                                                                            {{ i+1 }}
                                                                                        </strong>
                                                                                    </v-avatar>
                                                                                </v-col>
                                                                                <v-col cols="12" md="8" order="4" order-sm="3">
                                                                                    <v-row no-gutters>
                                                                                        <v-col cols="12" md="9">
                                                                                            <v-row no-gutters>
                                                                                                <v-col cols="12">
                                                                                                    <small class="pt-2">
                                                                                                        <span class="support--text text--lighten-2">
                                                                                                           {{formatDateReverse(item.estimated_payment_date)}}
                                                                                                        </span> /
                                                                                                        <span class="support--text font-weight-bold">
                                                                                                            {{item.payment_date? formatDateReverse(item.payment_date): 'sin fecha de pago'}}
                                                                                                        </span>
                                                                                                    </small>
                                                                                                </v-col>
                                                                                                <v-col cols="12">
                                                                                                    <h4 class="pt-1 primary--text">
                                                                                                        {{item.correlative || 'sin correlativo'}}
                                                                                                    </h4>
                                                                                                </v-col>
                                                                                                <v-col cols="12">
                                                                                                    <h5 class="pt-2 support--text text--lighten-2">
                                                                                                        {{ item.loand_correlative }}
                                                                                                    </h5>
                                                                                                </v-col>
                                                                                            </v-row>
                                                                                        </v-col>
                                                                                        <v-col cols="12" md="3" align="right">
                                                                                            <h4 class="pt-5">
                                                                                                {{ formatCurrencyGT(item.total_payment)}}
                                                                                            </h4>
                                                                                        </v-col>
                                                                                    </v-row>
                                                                                </v-col>
                                                                                <v-col cols="6" md="3" order="2" order-sm="4">
                                                                                    <v-chip
                                                                                        small
                                                                                        class="float-right"
                                                                                        :color="item.paid_out? 'primary' : 'blue-grey lighten-4'"
                                                                                    >
                                                                                        <strong>
                                                                                            {{item.paid_out? 'pagado' : 'no pagado'}}
                                                                                        </strong>
                                                                                    </v-chip>
                                                                                    <v-chip
                                                                                        x-small
                                                                                        label
                                                                                        class="float-right mt-2"
                                                                                        :color="calculateLateDaysColor(item.estimated_payment_date)"
                                                                                    >
                                                                                        {{ calculateLateDays(item.estimated_payment_date)}}
                                                                                    </v-chip>
                                                                                </v-col>
                                                                            </v-row>
                                                                        </template>
                                                                    </v-expansion-panel-header>
                                                                    <v-expansion-panel-content>
                                                                        <v-row
                                                                            class=""
                                                                            no-gutters
                                                                        >
                                                                            <v-col cols="12">
                                                                                <v-divider></v-divider>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters class="pt-5">
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Cobrado por:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{ item.collected_by_name || 'no cobrado' }}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-divider></v-divider>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters class="pt-5">
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Prestamo:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.loand_correlative }}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Cliente:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.customer_firstName+' '+item.customer_lastName }}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Mora en prestamo:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{formatCurrencyGT(item.loand_late_fee || 0)}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Mora en cuota:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.no_late_fee? 'No cobrada' : 'Sumada en total' }}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Interes en cuota:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.no_interest_payment? 'No cobrado' : 'Sumado en total' }}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-divider></v-divider>
                                                                            </v-col>
                                                                            <v-col cols="12" class="pt-5">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Departamento:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.departamento}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12" class="">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Municipio:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.municipio}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12" class="">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Sector:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.sector}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Direccion:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.address}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                            <v-col cols="12">
                                                                                <v-row no-gutters>
                                                                                    <v-col cols="12" md="4">
                                                                                        <h4 class="">
                                                                                            Direccion referencia:
                                                                                        </h4>
                                                                                    </v-col>
                                                                                    <v-col cols="12" md="8">
                                                                                        <p class="">
                                                                                            {{item.referenceAddress}}
                                                                                        </p>
                                                                                    </v-col>
                                                                                </v-row>
                                                                            </v-col>
                                                                        </v-row>
                                                                    </v-expansion-panel-content>
                                                                </v-expansion-panel>
                                                            </v-expansion-panels>
                                                        </v-card-text>
                                                    </v-card>
                                                </div>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions class="pb-5 pt-10 pt-md-0">
                <v-row>
                    <v-col cols="12" md="6" order="3" order-sm="1">
                        <v-btn
                            :block="$vuetify.breakpoint.xs"
                            @click="gotoBack"
                            color="grey darken-2"
                            text
                            :disabled="loadingSave"
                        >
                            volver
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="6" order="2" order-sm="3" align="right">
                        <v-btn
                            :disabled="!availableToSave || exist "
                            :block="$vuetify.breakpoint.xs"
                            @click="handleSave"
                            color="primary"
                            :loading="loadingSave"
                            elevation="0"
                        >
                            guardar en historico
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
        <v-dialog v-model="dialogConfirm" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Guardar en historico
                </v-card-title>
                <v-card-text>
                    Al guardarlo ya no se podra modificar, tampoco se podrán revertir los pagos realizados en esta fecha.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogConfirm=false" :disabled="loadingSave"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="save" :loading="loadingSave">
                        Si, guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";
import moment from "moment";
import {EventBus} from "../../EventBus";

export default {
    name: "Check",
    props:{
        routeParam: Object,
    },
    data: ()  => ({
        routeCheck:{
            amount_to_collect: "",
            fees_to_collect: "",
            amount_collected: "",
            fees_collected: "",
            net_amount_collected: "",
            late_fee_amount_collected: "",
            amount_collected_extraordinary: "",
            fees_collected_extraordinary: "",
            payments: {},
        },
        amount_received: "",
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            float:
                value => /^[0-9]*$|^[0-9]*\.?[0-9]+?$/.test(value)
                    || "Ingresa un numero valido.",
        },
        diffText: "CONCLUSIÓN DEL CUADRE",
        diffColor: " support--text",
        loadingData : false,
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        availableToSave : false,
        loadingSave:false,
        dialogConfirm: false,
        exist: false,
    }),
    methods:{
        gotoBack(){
          this.$inertia.get(route('routeCheckHistories.routesAvailables'));
        },
        calculateLateDays(estimated_payment_date){
            var a = moment(this.today);
            var b = moment(estimated_payment_date);
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "dia actual"
            }
            if(diff <0){
                return "extraordinario"
            }
            if(diff >0){
                return `atraso ${diff} dia(s)`
            }
        },
        calculateLateDaysColor(estimated_payment_date){
            var a = moment(this.today);
            var b = moment(estimated_payment_date);
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "green white--text"
            }
            if(diff <0){
                return "blue white--text"
            }
            if(diff >0){
                return "red white--text"
            }
        },
        formatDateReverse (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        onlyNumberFloat: function (evt) {
            let expect = evt.target.value.toString() + evt.key.toString();
            if (!/^[0-9.]*$/.test(expect)) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        async getDatatoRoute(){
            if(this.routeParam.id){
                this.loadingData = true;
                const response = await axios.get(route('routeCheckHistories.checkSingleValues',this.routeParam.id));
                this.routeCheck = { ...response.data};
                this.loadingData = false;
            }
        },
        calculateDiff(){
            if (!this.$refs.form.validate()) return;
            let diff = parseFloat(this.amount_received) - parseFloat(this.routeCheck.amount_collected);
            let text = "";
            if(diff===0){
                this.diffText = "LOS MONTOS COINCIDEN";
                this.diffColor = "green--text";
            }else if (diff < 0){
                this.diffText = `DIFERENCIA : ${formatCurrencyGT(-diff)}`;
                this.diffColor = "red--text";
            }else{
                this.diffText = `SOBRANTE : ${formatCurrencyGT(diff)}`;
                this.diffColor = "blue--text";
            }
            this.$vuetify.goTo('#diffDiv');
            this.availableToSave = true;
        },
        handleSave(){
            this.dialogConfirm = true;
        },
        async checkExist(){
            const response = await axios.get(route('routeCheckHistories.checkIfHistoryExist',this.routeParam.id))
            this.exist = response.data.exist;
        },
        save(){
            if (!this.$refs.form.validate()){
                this.dialogConfirm = false;
                return;
            }
            this.loadingSave = true;
            let data = {
                ...this.routeCheck,
                conclusion: this.diffText,
                route_id : this.routeParam.id,
                route_correlative : this.routeParam.correlative,
                cobrador_id : this.routeParam.cobrador_id,
                open_by : this.cobrador_id,
            }
            this.$inertia.post(this.route('routeCheckHistories.store'), data,{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.dialogConfirm = close;
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.dialogConfirm = close;
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de guardar el cuadre de ruta.",
                            type: "error",
                        });
                    },
                }
            );
        }
    },
    mounted() {
        this.getDatatoRoute();
        this.checkExist();
    }

}
</script>

<style scoped>
.loans_container {
    min-height: 390px;
    max-height: 390px;
}
.loans_container-mobile {
    min-height: 600px;
    max-height: 600px;
}

</style>
