<template>
    <div>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :search="searchFilter"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Cajas chicas por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:top>
                <v-row class="py-5 px-4">
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateFrom"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateFromFormatted"
                                    label="Fecha inicial"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateFrom"
                                @input="menuDateFrom = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-menu
                            v-model="menuDateTo"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateToFormatted"
                                    label="Fecha final"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    :dense="!$vuetify.breakpoint.xs"
                                    v-bind="attrs"
                                    v-on="on"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="dateTo"
                                @input="menuDateTo = false"
                                :max="today"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="3"
                        md="2"
                    >
                        <v-btn block color="primary" elevation="0" class="py-5" @click="getItems">
                            filtrar
                        </v-btn>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="4"
                        md="3"
                    >
                        <v-text-field
                            append-icon="mdi-magnify"
                            label="Buscar"
                            single-line
                            outlined
                            dense
                            v-model="searchFilter"
                            clearable
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4"  class="offset-md-2" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Cuotas recolectadas
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ total_fees_collected }} cuotas
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="4" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total recolectado
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_amount_collected || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total sin mora
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_net_amount_collected || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Total mora
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_late_fee_amount_collected || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Cuotas Extraord.
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ total_fees_collected_extraordinary }} cuotas
                            </h4>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="3" v-show="items.length>0">
                        <v-card outlined class="pa-5">
                            <h3 class="primary--text">
                                Monto extraord.
                            </h3>
                            <h4 class="support--text text--lighten-2">
                                {{ formatCurrencyGT(total_amount_collected_extraordinary || 0) }}
                            </h4>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:no-data>
                <data-empty
                    text="No encontramos historial de cuadre de rutas en el rango de fechas"
                />
            </template>
            <template v-slot:item.amount_to_collect="{item}">
                <span>{{ formatCurrencyGT(item.amount_to_collect || 0) }}</span>
            </template>
            <template v-slot:item.amount_collected="{item}">
                <span>{{ formatCurrencyGT(item.amount_collected || 0) }}</span>
            </template>
            <template v-slot:item.total_fees_collected="{item}">
                <span>{{ formatCurrencyGT(item.total_fees_collected|| 0) }}</span>
            </template>
            <template v-slot:item.net_amount_collected="{item}">
                <span>{{ formatCurrencyGT(item.net_amount_collected || 0) }}</span>
            </template>
            <template v-slot:item.late_fee_amount_collected="{item}">
                <span>{{ formatCurrencyGT(item.late_fee_amount_collected || 0) }}</span>
            </template>
            <template v-slot:item.amount_collected_extraordinary="{item}">
                <span>{{ formatCurrencyGT(item.amount_collected_extraordinary || 0) }}</span>
            </template>
            <template v-slot:item.closed_by_name="{item}">
                <span>{{ item.closed_by_name || "---" }}</span>
            </template>
            <template v-slot:item.state="{item}">
                <v-chip
                    class="ma-1"
                    :color="colorState(item)"
                    text-color="white"
                    small
                >
                    <strong>{{ item.state }}</strong>
                </v-chip>
            </template>
        </v-data-table>
    </div>
</template>

<script>
import DataEmpty from "../ui/DataTable/DataEmpty";
import moment from "moment";
import {EventBus} from "../../EventBus";
import {formatCurrencyGT} from "../../utils/formats";
export default {
    name: "RouteCheckList",
    components:{
        DataEmpty,
    },
    data: ()  => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        items: [],
        headers: [
            {
                text: 'Fecha',
                value: 'date',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Ruta",
                value: "route_correlative"
            },
            {
                text: 'Cobrador',
                value: 'collected_by_name',
            },
            {
                text: 'Cuotas a cobrar',
                value: 'fees_to_collect',
            },
            {
                text: 'Monto a recolectar',
                value: 'amount_to_collect',
            },
            {
                text: 'cuotas recolectadas',
                value: 'fees_collected',
            },
            {
                text: 'total recolectado ',
                value: 'amount_collected',
            },

            {
                text: 'total sin mora',
                value: 'net_amount_collected',
            },
            {
                text: 'monto por mora',
                value: 'late_fee_amount_collected',
            },
            {
                text: 'Cuotas Extraord.',
                value: 'fees_collected_extraordinary',
            },
            {
                text: 'Monto Extraord.',
                value: 'amount_collected_extraordinary',
            },
            {
                text: 'Cerrado por',
                value: 'closed_by_name',
            },
            {
                text: 'conclusión',
                value: 'conclusion',
            },
        ],
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
        todayFormatedDB(){
            return this.formatDateDB(this.today);
        },
        total_fees_collected(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ fees_collected }) => sum + fees_collected, 0)
            }
            return 0;
        },
        total_amount_collected(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ amount_collected }) => sum + amount_collected, 0)
            }
            return 0;
        },
        total_net_amount_collected(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ net_amount_collected }) => sum + net_amount_collected, 0)
            }
            return 0;
        },
        total_late_fee_amount_collected(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ late_fee_amount_collected }) => sum + late_fee_amount_collected, 0)
            }
            return 0;
        },
        total_fees_collected_extraordinary(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ fees_collected_extraordinary }) => sum + fees_collected_extraordinary, 0)
            }
            return 0;
        },
        total_amount_collected_extraordinary(){
            if(this.items.length>0){
                return this.items.slice().reduce((sum,{ amount_collected_extraordinary }) => sum + amount_collected_extraordinary, 0)
            }
            return 0;
        },
    },
    methods:{
        formatDateDB (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        colorState(item){
            return item.state=== "ABIERTA" ? "primary" : "secondary";
        },
        async getItems() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('routeCheckHistories.index'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                    }
                })
                this.items  = response.data.items
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },
        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },
    },
    mounted() {
        this.firstData()
        this.getItems()
    }
}
</script>

<style scoped>

</style>
