<template>
    <v-app >
        <v-navigation-drawer
            app dark color="secondary"
            v-model="drawer"
            :mini-variant="drawerMini"
            mini-variant-width="120"
        >
            <v-list-item>
                <v-list-item-content class="justify-center">
                    <v-img
                        max-height="60"
                        max-width="60"
                        src="/images/logo-rapicredit.png"
                        position="center center"
                    ></v-img>
                    <v-list-item-title class="text-h5 text-center white--text font-weight-bold">
                        {{drawerMini? 'RC' : 'Rapicredit' }}
                    </v-list-item-title>
                    <v-list-item-subtitle class="text-center">
                    </v-list-item-subtitle>
<!--                     <span>El control de tu negocio. </span>-->
                </v-list-item-content>
            </v-list-item>
            <v-divider class="white"></v-divider>
            <v-list nav dark dense flat>
                <v-list-item-group
                    v-model="selectedItem"
                    color="primary"
                >
                    <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        @click="handleNavigation(item.routeName)"
                    >
                        <v-list-item-icon>
                            <v-icon v-if="item.iType ==='md'">{{item.icon}}</v-icon>
                            <box-icon v-else :name="item.icon"  size="sm" :color="selectedItem === i? '#26c6da': 'white'" ></box-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="title_item" v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
            <v-footer height="65" color="secondary darken-1" fixed v-if="!isMobile" class="d-flex justify-center">
                <v-btn icon outlined @click.stop="changeDrawer">
                    <v-icon x-large v-if="!drawerMini" >mdi-chevron-left</v-icon>
                    <v-icon x-large v-else >mdi-chevron-right</v-icon>
                </v-btn>
            </v-footer>
        </v-navigation-drawer>
        <v-app-bar  app dense  elevate-on-scroll color="white">
            <v-btn text icon @click="drawer = !drawer">
                <v-icon v-if="drawer">mdi-menu-open</v-icon>
                <v-icon v-else>mdi-menu</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-menu transition="slide-y-transition" bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-avatar color="primary"  rounded size="34" v-bind="attrs" v-on="on">
                        <span class="white--text">{{$page.props.auth.user.initials}}</span>
                    </v-avatar>
                </template>
                <v-card>
                    <v-list-item-content class="justify-center">
                        <div class="mx-15 text-center">
                            <v-avatar
                                rounded
                                color="primary"
                            >
                              <span class="white--text text-h5">{{$page.props.auth.user.initials}}</span>
                            </v-avatar>
                                <h5 class="pt-3">{{$page.props.auth.user.firstName}} {{$page.props.auth.user.lastName}}</h5>
                            <p class="text-caption mt-1">
                                {{$page.props.auth.user.username}}
                            </p>
                            <v-divider class="my-3"></v-divider>
                            <div>
                                <v-btn small outlined color="secondary" @click="openPersonalPassword=true" elevation="0">
                                    cambiar contraseña
                                </v-btn>
                            </div>
                            <div class="py-5">
                                <v-btn small color="secondary" @click="handleLogout" elevation="0">
                                    Salir de aplicación
                                </v-btn>
                            </div>
                        </div>
                    </v-list-item-content>
                </v-card>
            </v-menu>

        </v-app-bar>
        <v-main class="bg-main">
            <v-container fluid class="px-8">
                <slot></slot>
            </v-container>
        </v-main>
        <v-snackbar
            top
            right
            :color="snackbar_type"
            v-model="snackbar"
        >
            <v-icon lef large>
                {{ snackbarIcon }}
            </v-icon>
            <span>
                {{ snackbar_text }}
            </span>
            <template v-slot:action="{ attrs }">
                <v-btn
                    small
                    color="white"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    <span class="font-weight-medium">cerrar</span>
                </v-btn>
            </template>
        </v-snackbar>
        <personal-password
            v-if="openPersonalPassword"
            :open="openPersonalPassword"
            @close="closePersonalPassword"
        />
        <time-range
            v-if="openTimeRange"
            :open="openTimeRange"
            @close="closeTimeRange"
        />
    </v-app>
</template>
<script>
import {EventBus} from "../../EventBus";
import PersonalPassword from "../../components/Utilities/PersonalPassword";
import TimeRange from "../../components/Utilities/TimeRange";
import moment from "moment";
export default {
    name: "AppLayout",
    components:{
      PersonalPassword,
      TimeRange,
    },
    metaInfo: {
        titleTemplate: 'Rapicredit - %s ',
    },
    data () {
        return {
            openTimeRange : false,
            openPersonalPassword: false,
            drawer: this.$vuetify.breakpoint.mdAndDown?false:true,
            isMobile: false,
            drawerMini: true,
            selectedItem: 0,
            items: [],
            snackbar: false,
            snackbar_text: '',
            snackbar_type: '',
            now : moment().format('HH:mm'),
        }
    },

    methods:{
        closePersonalPassword(){
            this.openPersonalPassword = false;
        },
        handleLogout(){
            this.$inertia.post(route('logout'))
        },
        onResize() {
            if (window.innerWidth <= 600) {
                this.isMobile = true
            } else {
                this.isMobile = false
            }
        },
        changeDrawer(){
            if(this.isMobile){
                this.drawerMini = false
            }else{
                this.drawerMini = !this.drawerMini
            }
        },
        handleNavigation(routeApp){

            let rangeTimeResponse = this.checkRangeTime();

            if(rangeTimeResponse==='FUERA_RANGO'){
                this.openTimeRange = true;
            }else{
                if(routeApp!==''){
                    this.$inertia.get(route(routeApp))
                    if(this.$vuetify.breakpoint.mdAndDown){
                        this.drawer = false;
                    }
                }
            }
        },
        checkRangeTime(){
            if(!this.$page.props.auth.user.permission.includes('global.cob')) return  true;

            this.now = moment().format('HH:mm');
            const horario = [
                {open: "07:00", close: "23:30"},
            ];
            const hourDate = new Date(`1/1/1999 ${this.now}`);
            let opened = false;
            horario.forEach(item => {
                let open = new Date('1/1/1999 ' + item.open);
                let close = new Date('1/1/1999 ' + item.close);
                opened = opened || ( hourDate >= open && close >= hourDate);
            });
            //console.log(opened ? 'EN_RANGO' : 'FUERA_RANGO');
            return opened ? 'EN_RANGO' : 'FUERA_RANGO';
        },
        closeTimeRange(){
            this.openTimeRange = false;
        },
        openSnack(text,type){
            this.snackbar_text= text
            this.snackbar_type= type
            this.snackbar=true
        },
        handleMenuByPermission(){
            if(this.$page.props.auth.user.permission.includes('global.admin') ||
                this.$page.props.auth.user.permission.includes('global.sup')
            ){
                this.items = [
                    { text: 'Inicio ', icon: 'home-alt', iType:'bx', routeName : 'dashboard'},
                    { text: 'Clientes', icon: 'group', iType:'bx', routeName : 'customers.view'},
                    { text: 'Prestamos', icon: 'briefcase', iType:'bx', routeName : 'loands.view'},
                    { text: 'Refinanciamientos', icon: 'mdi-calendar-sync-outline', iType:'md', routeName : 'refinancedLoands.view'},
                    { text: 'Pagos', icon: 'money-withdraw', iType:'bx', routeName : 'payments.view'},
                    { text: 'Rutas', icon: 'mdi-motorbike', iType:'md', routeName : 'routes.view'},
                    { text: 'Cuadre', icon: 'calculator', iType:'bx', routeName : 'routeCheckHistories.menu'},
                    { text: 'Caja chica', icon: 'wallet', iType:'bx', routeName : 'pettyCashHistories.menu'},
                    { text: 'Reporteria', icon: 'bar-chart-alt-2', iType:'bx', routeName : 'reports.menu'},
                    { text: 'Configuraciones', icon: 'mdi-office-building-cog-outline', iType:'md', routeName : 'settings.view'},
                ];
            }

            if(this.$page.props.auth.user.permission.includes("global.cob")){
                this.items = [
                    { text: 'Inicio ', icon: 'home-alt', iType:'bx', routeName : 'dashboard'},
                    { text: 'Nuevo Cliente', icon: 'group', iType:'bx', routeName : 'customers.create'},
                    { text: 'Nuevo Prestamo', icon: 'briefcase', iType:'bx', routeName : 'loands.create'},
                    { text: 'Mis Rutas', icon: 'mdi-motorbike', iType:'md', routeName : 'routes.routeCobrador'},
                ];
            }

        }
    },
    computed:{
      snackbarIcon(){
          if(this.snackbar_type ==="success") return "mdi-check"
          if(this.snackbar_type ==="error") return "mdi-close-octagon-outline"
          if(this.snackbar_type ==="info") return "mdi-information-outline"
          if(this.snackbar_type ==="warning") return "mdi-alert-outline"
          return "mdi-check"
      },
        flashSuccess() {
            return this.$page.props.flash.success
        },
        flashWarnings() {
            return this.$page.props.flash.warning
        },
    },
    mounted() {
        let rangeTimeResponse = this.checkRangeTime();

        if(rangeTimeResponse==='FUERA_RANGO'){
            this.openTimeRange = true;
        }else{
            if(!this.$page.props.auth.user.personal_password){
                this.openPersonalPassword = true;
            }
        }

        if(this.$vuetify.breakpoint.mdAndDown){
            this.drawer = false;
        }
        this.handleMenuByPermission();
        this.onResize();
        this.changeDrawer();
        EventBus.$on("snackbar", data => {
            this.openSnack(data.text, data.type)
        })
    },
    created() {
        window.addEventListener("resize", this.onResize);
    },
    beforeDestroy() {
        window.removeEventListener("resize", this.onResize);
        EventBus.$off("snackbar", data => {})
    },
    watch: {
        flashSuccess: {
            deep: true,
            handler(val, oldVal) {
                if(val){
                    EventBus.$emit("snackbar", {
                        text: val,
                        type: "success",
                    });
                }
            },
        },
        flashWarnings: {
            deep: true,
            handler(val, oldVal) {
                if(val){
                    EventBus.$emit("snackbar", {
                        text: val,
                        type: "warning",
                    });
                }
            },
        },
    },


}
</script>

<style scoped>
 .bg-main{
     background-color: #f3f4fd;
 }
 .bx-active{
     color: #26c6da;
 }
 .bx-inactive{
     color: #ffffff;
 }
 .title_item{
     /*font-size: .8125rem;*/
     font-size: 1rem !important;
     line-height: 1.3rem !important;
 }
</style>
