<template>
    <div>
        <v-app>
            <v-app-bar
                color="secondary"
                dense
                dark
                max-height="55"
            >
                <v-img
                    max-height="40"
                    max-width="40"
                    src="/images/logo-rapicredit.png"
                    position="center center"
                    class="mr-3"
                ></v-img>
                <v-toolbar-title>
                    Rapicredit
                </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
            <main>
                <slot></slot>
            </main>
        </v-app>
    </div>
</template>

<script>

export default {
    name: "PublicLayout",
    metaInfo: {
        titleTemplate: 'Rapicredit - %s ',
    },
}
</script>

<style scoped>

</style>
