<template>
    <v-card flat class="pa-5">
        <v-card-text>
            <v-form ref="formUser" lazy-validation>
                <v-row>
                    <v-col cols="12" md="8" order="2" order-sm="1">
                        <v-row>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    autofocus
                                    outlined
                                    dense
                                    v-model="item.firstName"
                                    label="nombre"
                                    hint="Todos los nombres"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.lastName"
                                    label="Apellido"
                                    hint="Apellido completo"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-select
                                    outlined
                                    dense
                                    v-model="item.role_id"
                                    :items="roles"
                                    item-text="name"
                                    item-value="id"
                                    label="Rol"
                                    :rules="[rules.required]"
                                    @change="generateUsername"
                                    :disabled="!item.firstName || !item.lastName"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    readonly
                                    outlined
                                    dense
                                    v-model="item.username"
                                    label="usuario"
                                    hint="Generado automaticamente"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.identificationNumber"
                                    label="No. identificación"
                                    hint="dpi"
                                    :rules="[rules.required, rules.cui]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.email"
                                    label="correo"
                                    hint="opcional"
                                    :rules="[rules.email]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="12">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.address"
                                    label="Dirección"
                                    hint="lugar donde se puede localizar al usuario."
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.phoneOne"
                                    label="Telefono principal"
                                    :rules="[rules.required, rules.phone]"
                                    hint="formato: xxxx-xxxx"
                                    persistent-hint
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    dense
                                    v-model="item.phoneTwo"
                                    :rules="[rules.phone]"
                                    label="Telefono secundario"
                                    hint="opcional formato: xxxx-xxxx"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-sm-4">
                                <v-switch
                                    true-value="1"
                                    false-value="0"
                                    v-model="item.active"
                                    inset
                                    label="Usuario activo"
                                ></v-switch>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" md="3" class="offset-md-1" align="center" order="1" order-sm="2">
                        <div class="py-3">
                            <h3>foto de perfil</h3>
                        </div>
                        <div class="justify-center" v-show="!changingImage">
                            <div class="pl-md-3">
                                <v-img
                                    max-width="184.5"
                                    max-height="184.5"
                                    :src="this.url"
                                ></v-img>
                            </div>
                            <div class="pt-3 justify-center">
                                <v-btn v-if="!item.id" small outlined color="primary" @click="changingImage=true" class="ml-2">
                                    seleccionar imagen
                                </v-btn>
                                <v-btn v-else small block text color="primary" @click="handleChangeExistedImage" align="center" >
                                    cambiar imagen
                                </v-btn>
                            </div>
                        </div>
                        <div class="justify-center" v-show="changingImage">
                            <croppa
                                class="pb-4"
                                v-model="myCroppa"
                                :width="200"
                                :height="200"
                                placeholder="Toca para aquí para buscar."
                                :placeholder-font-size="14"
                                :accept="'image/*'"
                                prevent-white-space
                                remove-button-color="black"
                            ></croppa>
                            <div class="pt-3 justify-center">
                                <v-row class="pl-7 pr-9">
                                    <v-col cols="6" sm="6" md="6">
                                        <v-btn v-if="!item.id" small block text color="support" @click="changingImage=false" align="center" >
                                            cancelar
                                        </v-btn>
                                        <v-btn v-else small block text color="support" @click="handleCancelChangeExistedImage" align="center" >
                                            anterior
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="6" sm="6" md="6">
                                        <v-btn small outlined color="primary" @click="getImageResize" align="center" >
                                            <span>
                                                {{item.id? 'aceptar' : 'Guardar'}}
                                            </span>
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                @click="goBack"
                text
                color="support"
            >
                <v-icon small left>
                    mdi-arrow-left
                </v-icon>
                regresar
            </v-btn>
            <v-btn
                @click="handleSubmit"
                elevation="0"
                color="primary"
            >
                {{ buttonTitle }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
import 'vue-croppa/dist/vue-croppa.css';
import {EventBus} from "../../../EventBus";
import {telefonoValido,correoValido, cuiValido} from '@/utils/rulesGuatemala'
export default {
    name: "FormUser",
    props:{
      user: Object
    },
    data: () => ({
        roles: [],
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            phone: value => {
                return telefonoValido(value) || 'no es un telefono valido.'
            },
            email: value => {
                return correoValido(value) || 'Correo invalido.'
            },
            cui: value => {
                return cuiValido(value) || 'DPI invalido.'
            },
        },
        emailRules: [
            (value) =>
                !value ||
                /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) ||
                "Ingresa un correo válido.",
        ],
        item:{
            username : '',
            firstName : '',
            lastName : '',
            email : '',
            identificationNumber : '',
            address : '',
            phoneOne : '',
            phoneTwo : '',
            role_id : '',
            image_url : '',
            active: "1",
        },
        itemTemp: {},
        image: null,
        changingImage:false,
        url : '/images/default-product.png',
        myCroppa: {},
        urlTemp : '',
        changeExistImage: false,
    }),
    computed:{
        buttonTitle() {
            return this.item.id ? "Actualizar" : "Guardar";
        },
    },
    methods:{
        goBack(){
          this.$inertia.get(route('users.view'))
        },
        handleChangeExistedImage(){
            this.changingImage =true
            this.changeExistImage = true;
            this.urlTemp = this.item.image_url
        },
        handleCancelChangeExistedImage(){
            this.changingImage = false
            this.changeExistImage = false
            this.item.image_url = this.urlTemp
            this.url = this.urlTemp
            this.myCroppa.remove()
        },
        getImageResize(){
            let hasImage = this.myCroppa.generateDataUrl()
            if (!hasImage) {
                EventBus.$emit("snackbar", {
                    text: "Debes seleccionar una imagen antes de guardar.",
                    type: "error",
                });
            }else{
                this.myCroppa.generateBlob((blob) => {
                    this.url = URL.createObjectURL(blob);
                    this.image = blob
                    this.changingImage = false
                }, 'image/jpeg', 0.8)
                this.myCroppa.remove()
            }
        },
        async getRoles() {
            try {
                const response = await axios.get(route('roles.index'))
                this.roles  = response.data.roles
            }
            catch (error) {
                console.log(error);
            }
        },
        async generateUsername(){
            if(this.item.firstName && this.item.lastName && this.item.role_id){
                let data = (({ firstName, lastName, role_id, id }) => ({ firstName, lastName, role_id, id }))(this.item);
                const roleSelected = this.roles.find((role) => role.id === this.item.role_id)
                data.roleName = roleSelected.name
                axios.post(route('users.generate'), data)
                    .then( response => {
                       this.item.username = response.data.username
                   })
                   .catch(error =>{
                       EventBus.$emit("snackbar", {
                           text: "ha ocurrido un error al momento de generar el codigo de usuario",
                           type: "error",
                       });
                       console.log(error)
                   })
            }
        },
        handleSubmit(){
            if(!this.$refs.formUser.validate()){
                EventBus.$emit("snackbar", {
                    text: "Por favor, verifica los datos a guardar.",
                    type: "info",
                });
                return
            }
            this.$emit('formUserSubmit', {
                image: this.image,
                item: this.item,
                changeExistImage: this.changeExistImage,
            });
        },
        assignValues(){
            if(this.user.id){
                this.item = {...this.user}
                this.item.active = this.item.active.toString()
                this.url = this.item.image_url
                this.changeExistImage = false
                this.urlTemp =''
                this.itemTemp = { ...this.user}
            }
        }
    },
    mounted() {
        this.getRoles()
        this.assignValues()
    },
}
</script>

<style scoped>
    .croppa-container{
        max-height: 203px;
        border: 2px solid #e4e5ee;
        background-color: #e4e5ee;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
