<template>
    <v-dialog v-model="dialog" max-width="480px" scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 primary--text ">
                <v-img :src="item.image_url" max-width="50" class="mr-5"/>
<!--                <v-icon large color="hederColor" class="pr-2"> mdi-account-box-outline</v-icon>-->
               Detalles del usuario
            </v-card-title>
            <v-card-text>
                <v-row class="pt-5">
                    <v-col cols="9">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.username"
                            label="usuario"
                            hint="Generado automaticamente"
                            persistent-hint
                        ></v-text-field>
                    </v-col>
                    <v-col cols="3" >
                        <v-chip
                            class="ma-1"
                            :color="item.active?'primary': 'blue-grey lighten-2'"
                            text-color="white"
                        >
                            <span>{{item.active?'Activo': 'Inactivo'}}</span>
                        </v-chip>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.firstName"
                            label="nombre"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.lastName"
                            label="Apellido"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.roleName"
                            label="Rol"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="6">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.identificationNumber"
                            label="No. identificación"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="6">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.email"
                            label="correo"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.address"
                            label="Dirección"
                            hint="lugar donde se puede localizar al usuario."
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.phoneOne"
                            label="Telefono principal"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field
                            readonly
                            outlined
                            dense
                            v-model="item.phoneTwo"
                            label="Telefono secundario"
                        ></v-text-field>
                    </v-col>

                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    @click="closeShow"
                    color="support" text
                >
                    Aceptar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "ShowUser",
    props: {
        item: Object,
        dialogShow: Boolean,
    },
    data: () => ({
        dialog: false,
    }),
    methods: {
        closeShow() {
            this.$emit("close-show");
        },
    },
    watch: {
        dialog(value) {
            this.$emit("dialog-show", value);
        },
        dialogShow(val) {
            this.dialog = val;
        },
    },

}
</script>

<style scoped>

</style>
