<template>
    <div>
        <v-card flat>
            <v-col cols="12" align="right">
                <v-btn
                    color="primary"
                    elevation="0"
                    @click="gotoRoute('users.create')"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Nuevo usuario
                </v-btn>
            </v-col>
            <v-col cols="12">
                <v-data-table
                    fixed-header
                    :search="search"
                    :headers="headers"
                    :items="usuarios"
                    :items-per-page=3
                    :loading=loadTable
                    loading-text="Un momento por favor..."
                    no-results-text="Lo sentimos, No existe algún usuario con esos datos de busqueda."
                    :header-props="{'sort-by-text':'Ordenar por'}"
                    :footer-props="{'items-per-page-text':'Usuarios por página','items-per-page-all-text':'Todos'}"
                >
                    <template v-slot:top class="">
                        <v-row class="px-3">
                            <v-col cols="12" sm="6" md="3">
                                <v-text-field
                                    clearable
                                    outlined
                                    dense
                                    align="center"
                                    v-model="search"
                                    prepend-inner-icon="mdi-magnify"
                                    label="Buscar por nombre"
                                    single-line
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-select
                                    outlined
                                    dense
                                    :items="stateList"
                                    v-model="stateFilter"
                                    label="Estado"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                                <v-select
                                    outlined
                                    dense
                                    :items="roleList"
                                    v-model="roleFilter"
                                    item-text="name"
                                    item-value="id"
                                    label="Rol"
                                ></v-select>
                            </v-col>
                        </v-row>
                    </template>
                    <template v-slot:item.image_url="{item}">
                        <v-img
                            :src="item.image_url"
                            max-width="50"
                            class="my-3"
                        />
                    </template>
                    <template v-slot:item.active="{item}">
                        <v-chip
                            class="ma-2"
                            :color="item.active?'primary': 'blue-grey lighten-2'"
                            text-color="white"
                        >
                            <span>{{item.active?'Activo': 'Inactivo'}}</span>
                        </v-chip>
                    </template>
                    <template v-slot:item.role_id="{item}">
                        <span>{{item.roleName}}</span>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <ui-table-actions
                            view
                            :edit="permissionToEdit(item)"
                            :item="item"
                            @edit-item="editItem"
                            @view-item="viewItem"
                        >
                            <template v-slot:preActions>
                                <v-list-item
                                    v-if="permissionToReset(item)"
                                    @click="resetPassword(item)"
                                >
                                    <v-list-item-icon>
                                        <v-icon color="primary" small right>
                                            mdi-lock-reset
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            Restablecer contraseña
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </ui-table-actions>
                    </template>
                    <template v-slot:no-results>
                        <data-empty
                            text="no existe algún usuario con esos datos de busqueda"
                        />
                    </template>
                    <template v-slot:no-data>
                        <data-empty
                            text="Aun no hay usuarios creados"
                        />
                    </template>
                </v-data-table>
            </v-col>
        </v-card>
        <show-user
            :item="editedItem"
            :dialogShow="dialogShow"
            @close-show="closeShow"
            @dialog-show="(val) => (dialogShow = val)"
        ></show-user>
        <reset-password
            v-if="dialogReset"
            :open="dialogReset"
            :user-param="editedItem"
            @close="resetPasswordClose"
        />
    </div>
</template>

<script>
import {EventBus} from "../../../EventBus";
import DataEmpty from "../../ui/DataTable/DataEmpty";
import UiTableActions from "../../ui/DataTable/UiTableActions";
import ShowUser from "./ShowUser";
import ResetPassword from "../../Utilities/ResetPassword";
export default {
    name: "UsuariosList",
    components:{
        DataEmpty,
        UiTableActions,
        ShowUser,
        ResetPassword,
    },
    data: () => ({
        dialogShow: false,
        dialogReset: false,
        usuarios: [],
        loadTable: false,
        search: '',
        stateList: [
            {text: "Todos", value: null},
            {text: "Activo", value: 1},
            {text: "Inactivo", value: 0},
        ],
        stateFilter: null,

        roleList: [],
        roleFilter: null,

        editedIndex: -1,
        editedItem:{
            username : '',
            firstName : '',
            lastName : '',
            email : '',
            identificationNumber : '',
            address : '',
            phoneOne : '',
            phoneTwo : '',
            active: 1,
            role_id : '',
            roleName : '',
            image_url : '',
        },
        defaultItem:{
            username : '',
            firstName : '',
            lastName : '',
            email : '',
            identificationNumber : '',
            address : '',
            phoneOne : '',
            phoneTwo : '',
            active: 1,
            role_id : '',
            roleName : '',
            image_url : '',
        },
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
    }),
    computed:{
        formTitle() {
            return this.editedIndex === -1 ? "Nuevo usuario" : "Editar usuario";
        },
        buttonTitle() {
            return this.editedIndex === -1 ? "Crear" : "Actualizar";
        },
        headers() {
            return [
                {
                    text: "Fotografia",
                    value: "image_url",
                    align: 'left',
                    sortable: false
                },
                {
                    text: "Usuario",
                    value: "username"
                },
                {
                    text: "Nombre",
                    value: "firstName"
                },
                {
                    text: "Apellidos",
                    value: "lastName"
                },
                {
                    text: 'Rol',
                    value: 'role_id',
                    filter: this.roleFiltering,
                },
                {
                    text: 'Estado',
                    value: 'active',
                    filter: this.estadoFilter,
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false
                },
            ]
        },
    },
    methods:{
        permissionToEdit(item){
            if(this.$page.props.auth.user.permission.includes('global.superAdmin')){
                return true;
            }
            //propio
            if(this.$page.props.auth.user.id == item.id){
                return true;
            }
            //admins a todos
            if( (item.role_id == 3 || item.role_id == 4) && this.$page.props.auth.user.permission.includes('global.admin')){
                return true;
            }

            if( item.role_id == 4 && this.$page.props.auth.user.permission.includes('global.sup')){
                return true;
            }
            return  false;
        },
        permissionToReset(item){
            //super a todos
            if(this.$page.props.auth.user.permission.includes('global.superAdmin')){
                return true;
            }
            //admins a todos
            if( (item.role_id == 3 || item.role_id == 4) && this.$page.props.auth.user.permission.includes('global.admin')){
                return true;
            }
            //sups a cobradores
            if( item.role_id == 4 && this.$page.props.auth.user.permission.includes('global.sup')){
                return true;
            }
            return  false;
        },
        resetPassword(item){
            this.editedItem = Object.assign({}, item);
            this.dialogReset = true;
        },
        resetPasswordClose(){
            this.dialogReset = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
            });
        },
        estadoFilter(value) {
            if (this.stateFilter === null) {
                return true;
            }
            return value === this.stateFilter;
        },
        viewItem(item) {
            this.editedItem = Object.assign({}, item);
            this.dialogShow = true;
        },
        closeShow() {
            this.dialogShow = false;
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem);
            });
        },
        editItem(item) {
            /*this.editedIndex = this.usuarios.indexOf(item);
            this.editedItem = Object.assign({}, item);*/
            this.$inertia.get(this.route('users.edit',item))
        },
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        async getUsers() {
            try {
                this.loadTable = true
                const response = await axios.get(route('users.index'))
                this.usuarios  = response.data.usuarios
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
        async getRoles() {
            try {
                const response = await axios.get(route('roles.index'))
                this.roleList  = response.data.roles
                this.roleList.unshift({
                    id: null,
                    name: "Todos",
                });

            }
            catch (error) {
                console.log(error);
            }
        },
        roleFiltering(value) {
            if (this.roleFilter === null) {
                return true;
            }
            return value === this.roleFilter;
        },
    },
    mounted() {
        this.getUsers()
        this.getRoles()
    }
}
</script>

<style scoped>

</style>
