<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <box-icon
                    name="briefcase"
                    size="md"
                    class="bx-right"
                    :color="'#26c6da'"
                />
                Préstamo: {{ loand.correlative }}
            </v-card-title>
            <v-card-text>
                <v-row class="pt-5">
                    <v-col
                        cols="12"
                        md="6"
                    >
                        <v-text-field
                            v-model="estimated_payment_date"
                            label="Fecha estimada a pagar"
                            prepend-inner-icon="mdi-calendar"
                            readonly
                            outlined
                            dense
                            hint="no editable"
                            persistent-hint
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        md="6"
                    >
                        <v-menu
                            disabled
                            v-model="menuDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    :value.sync="computedDateFormatted"
                                    label="Fecha de pago"
                                    prepend-inner-icon="mdi-calendar"
                                    readonly
                                    outlined
                                    dense
                                    v-bind="attrs"
                                    v-on="on"
                                    hint="dia actual (no editable)"
                                    persistent-hint
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                disabled
                                header-color="secondary"
                                color="primary"
                                locale="es-Es"
                                v-model="payment_date"
                                @input="menuDate = false"
                                :min="minDate"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col cols="12" align="center" class="py-0">
                        <p :class="calculateLateDaysColor(payment.estimated_payment_date)">
                            {{ calculateLateDays(payment.estimated_payment_date)}}
                        </p>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h3>
                                    Abono a capital:
                                </h3>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h3>
                                    {{formatCurrencyGT(payment.capital_payment)}}
                                </h3>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h3>
                                    Interes:
                                </h3>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h3>
                                    {{formatCurrencyGT(interestPayment)}}
                                </h3>
                            </v-col>
                        </v-row>
                    </v-col>
                   <v-col cols="12" class="" v-if="loand.late_fee>0 && lateFee>0">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h3>
                                    Mora:
                                </h3>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h3>
                                    {{formatCurrencyGT(lateFee)}}
                                </h3>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h3 class="font-weight-bold primary--text">
                                    Total a pagar:
                                </h3>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h3 class="font-weight-bold primary--text">
                                    {{formatCurrencyGT(total)}}
                                </h3>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="px-sm-10">
                        <v-row class="">
                            <v-col
                                v-if="$page.props.auth.user.permission.includes('payments.cancelArrears')"
                                cols="6" md="6" class="pl-sm-4"
                            >
                                <v-switch
                                    :disabled="loand.late_fee<1 || this.lateDays<1"
                                    true-value="1"
                                    false-value="0"
                                    v-model="payment.no_late_fee"
                                    inset
                                    label="anular mora"
                                ></v-switch>
                            </v-col>
                            <v-col
                                v-if="$page.props.auth.user.permission.includes('payments.cancelInterest')"
                                cols="6" md="6" class="pl-sm-4"
                            >
                                <v-switch
                                    true-value="1"
                                    false-value="0"
                                    v-model="payment.no_interest_payment"
                                    inset
                                    label="anular interes"
                                ></v-switch>
                            </v-col>
                        </v-row>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                        <v-textarea
                            :height="$vuetify.breakpoint.mobile ? 100 : 60 "
                            no-resize
                            outlined
                            dense
                            v-model="payment.collection_note"
                            label="Notas del prestamo"
                            hint="Agrega si crees necesario."
                            persistent-hint
                        ></v-textarea>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn color="support"  text @click="close" :disabled="loadingSave"> volver </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="save" :loading="loadingSave"> Cobrar </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import {formatCurrencyGT} from "../../utils/formats";
import {EventBus} from "../../EventBus";
import moment from "moment";
export default {
    name: "PayIndividualPayment",
    props:{
        payment: Object,
        loand: Object,
        open: Boolean,
    },
    data() {
        return {
            dialogPaymentCorrelative : true,
            dialog: this.open,
            minDate: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            menuDate: false,
            payment_date : "",
            loadingSave: false,
        };
    },
    computed: {
        computedDateFormatted () {
            return this.formatDate(this.payment_date)
        },
        estimated_payment_date(){
            if(this.payment.estimated_payment_date){
                return this.formatDateEstimated(this.payment.estimated_payment_date)
            }
            return null
        },
        lateDays(){
            if(this.payment_date){
                var a = moment(this.payment_date);
                var b = moment(this.formatDateReverse(this.payment.estimated_payment_date));
                var diff = a.diff(b, 'days')
                return diff;
            }
            return null;
        },
        interestPayment(){
            return this.payment.no_interest_payment !== "1"? parseFloat(this.payment.interest_payment) : parseFloat(0);
        },
        lateFee(){
            return this.payment.no_late_fee !== "1" && this.lateDays >0 ? parseFloat(this.loand.late_fee) : parseFloat(0);
        },
        total(){
            let total = parseFloat(this.payment.capital_payment) ;
            if(this.payment.no_interest_payment !== "1"){
                total += parseFloat(this.payment.interest_payment);
            }
            if(this.payment.no_late_fee !== "1" && this.loand.late_fee){
                total += parseFloat(this.lateFee);
            }
            return total;
        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        calculateLateDays(estimated_payment_date){
            var a = moment(this.minDate);
            var b = moment(this.formatDateReverse(estimated_payment_date));
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "dia actual"
            }
            if(diff <0){
                return "extraordinario"
            }
            if(diff >0){
                return `atraso ${diff} dia(s)`
            }
        },
        calculateLateDaysColor(estimated_payment_date){
            var a = moment(this.minDate);
            var b = moment(this.formatDateReverse(estimated_payment_date));
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "green--text"
            }
            if(diff <0){
                return "blue--text"
            }
            if(diff >0){
                return "red--text"
            }
        },
        close() {
            this.$emit("close");
            this.payment_date = "";
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        formatDateReverse (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${year}-${month}-${day}`
        },
        formatDateEstimated (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
           // return `${month}/${day}/${year}`
            return `${day}/${month}/${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value)
        },
        save(){
            this.loadingSave = true;
            const data = {
                payment_date : this.payment_date,
                no_late_fee : +this.payment.no_late_fee,
                late_fee : this.lateFee,
                no_interest_payment: +this.payment.no_interest_payment,
                total_payment: this.total,
                collection_note: this.payment.collection_note,
                extraordinary : this.calculateLateDays(this.payment.estimated_payment_date)==="extraordinario"? 1: 0,
            };

            axios.post( route('payments.individualPay', {
                loand:this.loand.id,
                payment:this.payment.id
            }),data).then(response => {
                this.$emit("refresh");
                this.$emit("show-correlative",response.data);
                this.loadingSave = false;
                this.close();
            }).catch(error => {
                console.log(error);
                this.loadingSave = false;
                this.close();
                EventBus.$emit("snackbar", {
                    text: "ha ocurrido un error al momento de cobrar la cuota.",
                    type: "error",
                });
            });

           /* this.$inertia.post(this.route('payments.individualPay',{
                loand:this.loand.id,
                payment:this.payment.id
            }), data,{
                    onSuccess: ( data) => {
                        this.loadingSave = false;
                        //this.close();
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de actualizar el pago.",
                            type: "error",
                        });
                    },
                }
            );*/
        }
    },
    mounted() {
        this.payment_date = this.minDate
    }
}
</script>

<style scoped>
.bx-right{
    margin-right: 8px;
}
</style>
