<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <box-icon
                    name="briefcase"
                    size="md"
                    class="bx-right"
                    :color="'#26c6da'"
                />
                {{payment.correlative || ""}}
            </v-card-title>
            <v-card-text>
                <v-form ref="form" lazy-validation>
                    <v-row class="pt-5">
                        <v-col cols="12">
                            <div class="pt-md-2">
                                <span class="">
                                    Al revertir el pago, la couta pasará a estado <strong>pendiente</strong>, afectará en la caja chica diaria, ¿deseas continuar?
                                </span>
                            </div>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                            <v-textarea
                                :height="$vuetify.breakpoint.mobile ? 100 : 200 "
                                no-resize
                                outlined
                                dense
                                v-model="annulment_note"
                                label="Nota de reversión:"
                                hint="Motivo por el cual estas reversando el pago."
                                persistent-hint
                                :rules="noEmptyRules"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn color="support"  text @click="close" :disabled="loadingSave"> volver </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary"  outlined @click="save" :loading="loadingSave"> si, Revertir </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import {EventBus} from "../../EventBus";

export default {
    name: "PaymentReversal",
    props:{
        payment: Object,
        loand: Object,
        open: Boolean,
    },
    data() {
        return {
            dialog: this.open,
            annulment_note : "",
            loadingSave: false,
            noEmptyRules: [(value) => !!value || "Debes llenar este campo."],
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods: {
        close() {
            this.$refs.form.resetValidation();
            this.$emit("close");
            this.annulment_note = "";
        },
        save(){
            if (!this.$refs.form.validate()) return;
            this.loadingSave = true;
            const data = {
                annulment_note : this.annulment_note,
            };
            this.$inertia.post(this.route('payments.reversion',{
                    loand:this.loand.id,
                    payment:this.payment.id
                }), data,{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.close();
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de revertir el pago.",
                            type: "error",
                        });
                    },
                }
            );
        }
    }
}
</script>

<style scoped>

</style>
