<template>
    <div>
        <!--        {{options}}-->
        <!--        :search="searchFilter"-->
        <v-data-table
        fixed-header
        :headers="headers"
        :items="payments"
        :items-per-page=5
        :loading=loadingData
        :options.sync="options"
        :server-items-length="totalItems"
        loading-text="Un momento por favor..."
        :header-props="{'sort-by-text':'Ordenar por'}"
        :footer-props="{'items-per-page-text':'Pagos por página','items-per-page-all-text':'Todos'}"
    >
        <template v-slot:top>
            <v-row class="pt-5 pl-4">
                <v-col
                    cols="12"
                    sm="4"
                    md="3"
                >
                    <v-menu
                        v-model="menuDateFrom"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                :value.sync="computedDateFromFormatted"
                                label="Fecha inicial"
                                prepend-inner-icon="mdi-calendar"
                                readonly
                                outlined
                                :dense="!$vuetify.breakpoint.xs"
                                v-bind="attrs"
                                v-on="on"
                                persistent-hint
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            header-color="secondary"
                            color="primary"
                            locale="es-Es"
                            v-model="dateFrom"
                            @input="menuDateFrom = false"
                            :max="today"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col
                    cols="12"
                    sm="4"
                    md="3"
                >
                    <v-menu
                        v-model="menuDateTo"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                                :value.sync="computedDateToFormatted"
                                label="Fecha final"
                                prepend-inner-icon="mdi-calendar"
                                readonly
                                outlined
                                :dense="!$vuetify.breakpoint.xs"
                                v-bind="attrs"
                                v-on="on"
                                persistent-hint
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            header-color="secondary"
                            color="primary"
                            locale="es-Es"
                            v-model="dateTo"
                            @input="menuDateTo = false"
                            :max="today"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col
                    cols="12"
                    sm="3"
                    md="2"
                >
                    <v-btn block color="primary" elevation="0" class="py-5" @click="getPayments">
                        filtrar
                    </v-btn>
                </v-col>
<!--                <v-col
                    cols="12"
                    sm="4"
                    md="3"
                >
                    <v-text-field
                        append-icon="mdi-magnify"
                        label="Buscar"
                        single-line
                        outlined
                        dense
                        v-model="searchFilter"
                        clearable
                    ></v-text-field>
                </v-col>-->
            </v-row>
            <v-row class="pb-3">
                <v-col cols="12" align="center">
                    <v-card outlined class="ma-5">
                        <v-card-text>
                            <h3>Total Cobrado:
                                <span class="primary--text">
                                    {{formatCurrencyGT(total)}}
                                </span>
                            </h3>
                            <small>Solo se toman en cuenta las coutas pagadas.</small>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </template>
        <template v-slot:no-data>
            <data-empty
                text="No encontramos pagos cobrados o anulados en el rango de fechas"
            />
        </template>
        <template v-slot:item.customer="{item}">
            <span class="primary--text click-item" @click="toshowCustomer(item)">{{ item.customer }}</span>
        </template>
        <template v-slot:item.loand_correlative="{item}">
            <span class="primary--text click-item" @click="toshowLoand(item)">{{ item.loand_correlative }}</span>
        </template>
        <template v-slot:item.correlative="{item}">
            <span>{{ item.correlative || "----" }}</span>
        </template>
        <template v-slot:item.total_payment="{item}">
            <span>{{ formatCurrencyGT(item.total_payment) }}</span>
        </template>
        <template v-slot:item.payment_date="{item}">
            <span>{{ item.payment_date || "----" }}</span>
        </template>
        <template v-slot:item.collected_by_name="{item}">
            <span>{{ item.collected_by_name || "----" }}</span>
        </template>
        <template v-slot:item.state="{item}">
            <v-chip
                class="ma-1"
                :color="colorState(item)"
                text-color="white"
                small
            >
                <strong>{{ item.state }}</strong>
            </v-chip>
        </template>
        <template v-slot:item.actions="{ item }">
            <ui-table-actions
                view
                :item="item"
                @view-item="viewItem"
            >
            </ui-table-actions>
        </template>
    </v-data-table>
        <payment-show
            v-if="openShow"
            :open="openShow"
            :payment="tempPayment"
            :loand="tempLoand"
            @close-paymentShow="closeViewItem"
        />
    </div>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";
import UiTableActions from "../ui/DataTable/UiTableActions";
import DataEmpty from "../ui/DataTable/DataEmpty";
import PaymentShow from "./PaymentShow";
import moment from "moment";
import {EventBus} from "../../EventBus";
export default {
    name: "PaymentListIndex",
    components:{
        PaymentShow,
        UiTableActions,
        DataEmpty,
    },
    data: ()  => ({
        searchFilter: "",
        menuDateFrom: false,
        dateFrom : "",
        menuDateTo: false,
        dateTo : "",
        loadingData:false,
        payments: [],
        total : 0,
        headers: [
            {
                text: 'Fecha de Pago',
                value: 'payment_date',
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Cliente",
                value: "customer"
            },
            {
                text: "Prestamo",
                value: "loand_correlative"
            },
            {
                text: 'Monto Total',
                value: 'total_payment',
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: 'Cobrado por',
                value: 'collected_by_name',
            },
            {
                text: "Acciones",
                value: "actions",
                sortable: false
            },
        ],
        tempPayment: {},
        tempLoand:{},
        openShow: false,
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        options: {
            itemsPerPage: 5,
            page: 1,
        },
        numberOfPages: 0,
        totalItems: 0,
    }),
    computed: {
        computedDateFromFormatted () {
            if(this.dateFrom){
                return this.formatDate(this.dateFrom)
            }
            return null
        },
        computedDateToFormatted () {
            if(this.dateTo){
                return this.formatDate(this.dateTo)
            }
            return null
        },
    },
    watch: {
        options: {
            handler() {
                this.getPayments();
            },
            deep: true,
        },
    },
    methods:{
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        toshowCustomer(item) {
            this.$inertia.get(this.route('customers.show',item.customer_id))
        },
        toshowLoand(item) {
            this.$inertia.get(this.route('loands.show',item.loand_id))
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        colorState(item){
            if(item.state ==="PAGADO"){
                return "primary"
            }
            if(item.state ==="REVERTIDO"){
                return "secondary"
            }
            return "blue-grey lighten-2"
        },
        viewItem(item) {
            this.tempPayment = Object.assign({}, { ...item});
            this.openShow = true;
        },
        closeViewItem(){
            this.openShow = false;
            this.tempPayment = Object.assign({}, {});
        },
        async getPayments() {
            var a = moment(this.dateTo);
            var b = moment(this.dateFrom);
            var diff = a.diff(b, 'days')
            if(diff<0){
                EventBus.$emit("snackbar", {
                    text: "la fecha final no puede ser menor que la fecha inicial",
                    type: "info",
                });
                return;
            }
            try {
                this.loadingData = true
                const response = await axios.get(route('payments.index'),{
                    params: {
                        dateFrom: moment(this.dateFrom).format("YYYY-MM-DD"),
                        dateTo: moment(this.dateTo).format("YYYY-MM-DD"),
                        per_page: this.options.itemsPerPage,
                        page : this.options.page
                    }
                })
                this.payments  = response.data.payments.data;
                /*console.log(" response.data.payments.perPage");
                console.log( response.data.payments.perPage);
                console.log(" response.data.payments.currentPage");
                console.log( response.data.payments.currentPage);*/
               /* this.options.itemsPerPage  = response.data.payments.perPage;
                this.options.page  = response.data.payments.currentPage;*/
                this.totalItems = response.data.payments.total;
                this.total = response.data.total;
                this.loadingData = false;
            }
            catch (error) {
                console.log(error);
            }
        },
        async firstData() {
            this.dateFrom = this.today;
            this.dateTo = this.today;
        },
    },
    mounted() {
        this.firstData()
        this.getPayments()
    }
}
</script>

<style scoped>
.click-item{
    cursor: pointer !important;
}
</style>
