<template>
    <div>
        <h3 class="primary--text py-5">Cuotas</h3>
        <v-data-table
            fixed-header
            :headers="headers"
            :items="items"
            :items-per-page=5
            :loading=loadingData
            loading-text="Un momento por favor..."
            :header-props="{'sort-by-text':'Ordenar por'}"
            :footer-props="{'items-per-page-text':'Pagos por página','items-per-page-all-text':'Todos'}"
        >
            <template v-slot:no-data>
                <data-empty
                    text="Aún no se le ha generado las coutas estimadas a este préstamo"
                />
            </template>
            <template v-slot:item.correlative="{item}">
                <span>{{ item.correlative || "----" }}</span>
            </template>
            <template v-slot:item.capital_payment="{item}">
                <span>{{ formatCurrencyGT(item.capital_payment) }}</span>
            </template>
            <template v-slot:item.interest_payment="{item}">
                <v-tooltip bottom  v-if="item.no_interest_payment">
                    <template v-slot:activator="{ on, attrs }">
                        <v-chip

                            class="ma-1"
                            color="blue-grey lighten-2"
                            text-color="white"
                            small
                            v-bind="attrs"
                            v-on="on"
                        >
                            {{ $vuetify.breakpoint.xs? "no cobrado" : "nc"}}
                        </v-chip>
                    </template>
                    <span>no cobrado</span>
                </v-tooltip>
                <span v-else>
                    {{ formatCurrencyGT(item.interest_payment)}}
                </span>
            </template>
            <template v-slot:item.late_fee="{item}">
                <v-tooltip bottom  v-if="item.no_late_fee">
                    <template v-slot:activator="{ on, attrs }">
                        <v-chip

                            class="ma-1"
                            color="blue-grey lighten-2"
                            text-color="white"
                            small
                            v-bind="attrs"
                            v-on="on"
                        >
                            {{ $vuetify.breakpoint.xs? "no cobrada" : "nc"}}
                        </v-chip>
                    </template>
                    <span>no cobrada</span>
                </v-tooltip>
                <span v-else>
                    {{ formatCurrencyGT(item.late_fee)}}
                </span>
            </template>
            <template v-slot:item.total_payment="{item}">
                <span>{{ formatCurrencyGT(item.total_payment) }}</span>
            </template>
            <template v-slot:item.payment_date="{item}">
                <span>{{ item.payment_date || "----" }}</span>
            </template>
            <template v-slot:item.collected_by_name="{item}">
                <span>{{ item.collected_by_name || "----" }}</span>
            </template>
            <template v-slot:item.state="{item}">
                <v-chip
                    class="ma-1"
                    :color="colorState(item)"
                    text-color="white"
                    small
                >
                    <strong>{{ item.state }}</strong>
                </v-chip>
            </template>
            <template v-slot:item.actions="{ item }">
                <ui-table-actions
                    view
                    :item="item"
                    @view-item="viewItem"
                >
                    <template v-slot:preActions>
                        <v-list-item
                            @click="payItem(item)"
                            v-if="!item.paid_out && item.available_to_pay && !existHistory && !noActionForState()"
                        >
                            <v-list-item-icon>
                                <v-icon color="primary" small right>
                                    mdi-cash
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content >
                                <v-list-item-title>
                                    Pagar
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item
                            @click="reverseItem(item)"
                            v-if="
                            item.paid_out &&
                            availableToReversion(item) &&
                            !existHistory &&
                            !noActionForState() &&
                            $page.props.auth.user.permission.includes('payments.reversion')
                            "
                        >
                            <v-list-item-icon>
                                <v-icon color="primary" small right>
                                    mdi-undo-variant
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>
                                    revertir
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </ui-table-actions>
            </template>
        </v-data-table>
        <payment-show
            v-if="openShow"
            :open="openShow"
            :payment="tempPayment"
            :loand="loand"
            @close-paymentShow="closeViewItem"
        />
        <pay-individual-payment
            v-if="openPay"
            :open="openPay"
            :payment="tempPayment"
            :loand="loand"
            @close="closePayItem"
            @refresh="getPaymentsOfLoand"
            @show-correlative="showCorrelative"
        />
        <payment-reversal
            v-if="openReversal"
            :open="openReversal"
            :payment="tempPayment"
            :loand="loand"
            @close="closeReverseItem"
        />
        <payment-correlative
            v-if="openCorrelative"
            :open="openCorrelative"
            :payment-data="payment_data"
            @close="closePaymentCorrelative"
        />
    </div>
</template>
<script>
import UiTableActions from "../ui/DataTable/UiTableActions";
import DataEmpty from "../ui/DataTable/DataEmpty";
import { formatCurrencyGT } from "../../utils/formats";
import PaymentShow from "./PaymentShow";
import PayIndividualPayment from "./PayIndividualPayment";
import PaymentReversal from "./PaymentReversal";
import PaymentCorrelative from "./PaymentCorrelative";
import moment from "moment";
import {EventBus} from "../../EventBus";
export default {
    name: "PaymentList",
    props:{
        loand: Object,
    },
    components:{
        PaymentShow,
        UiTableActions,
        DataEmpty,
        PayIndividualPayment,
        PaymentReversal,
        PaymentCorrelative,
    },
    computed:{
      todayFormated(){
          return this.formatDate(this.today);
      },
    },
    data: ()  => ({
        headers: [
            {
                text: "Fecha. Estimada",
                value: "estimated_payment_date"
            },
            {
                text: "Correlativo",
                value: "correlative"
            },
            {
                text: "Abono a capital",
                value: "capital_payment"
            },
            {
                text: "Interés",
                value: "interest_payment"
            },
            {
                text: 'Mora',
                value: 'late_fee',
            },
            {
                text: 'Total',
                value: 'total_payment',
            },
            {
                text: 'Fecha de Pago',
                value: 'payment_date',
            },
            {
                text: 'Estado',
                value: 'state',
            },
            {
                text: 'Cobrado por',
                value: 'collected_by_name',
            },
            {
                text: "Acciones",
                value: "actions",
                sortable: false
            },
        ],
        items: [],
        loadingData:false,
        tempPayment: {},
        openShow: false,
        openPay: false,
        openReversal: false,
        openCorrelative: false,
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        payments_paid_out : 0,
        payment_data : {},
        existHistory: false,
    }),
    methods:{
        noActionForState(){
          return this.loand.state === "ANULADO" || this.loand.state === "REFINANCIADO";
        },
        async checkExist(){
            const response = await axios.get(route('routeCheckHistories.checkIfHistoryExist', this.loand.route_id))
            this.existHistory = response.data.exist;
        },
        checkSunday(){
            if(moment(this.today).day() === 0){
                EventBus.$emit("snackbar", {
                    text: "Recuerda que no puedes aplicar pagos en domingo.",
                    type: "info",
                });
                return true;
            }
            return false;
        },
        colorState(item){
            if(item.state ==="PAGADO"){
                return "primary"
            }
            if(item.state ==="REVERTIDO"){
                return "secondary"
            }
            return "blue-grey lighten-2"
        },
        availableToReversion(item){
            let itemsPagados = this.items.slice().filter((payment) => {
                return (
                    payment.state === "PAGADO"
                );
            });
            let index = itemsPagados.findIndex((payment) => payment.id === item.id);

            let isLastPaid = index === itemsPagados.length-1;
            return this.todayFormated === item.payment_date && isLastPaid;
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}-${month}-${year}`
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        viewItem(item) {
            this.tempPayment = Object.assign({}, { ...item});
            this.openShow = true;
        },
        closeViewItem(){
            this.openShow = false;
            this.tempPayment = Object.assign({}, {});
        },
        payItem(item){
            /*let isSunday = this.checkSunday()
            if(isSunday){
                return;
            }*/
            this.tempPayment = Object.assign({}, { ...item});
            this.openPay = true;
            this.payment_data = {};
        },
        closePayItem(){
            this.openPay = false;
            this.tempPayment = Object.assign({}, {});
        },
        reverseItem(item){
            this.tempPayment = Object.assign({}, { ...item});
            this.openReversal = true;
        },
        closeReverseItem(){
            this.getPaymentsOfLoand();
            this.openReversal = false;
            this.tempPayment = Object.assign({}, {});
        },
        async getPaymentsOfLoand(){
            if(this.loand.id){
                this.loadingData = true;
                const response = await axios.get(route('payments.paymentOfLoand',this.loand.id));
                this.items = response.data.payments;
                this.payments_paid_out = response.data.payments_paid_out;
                this.loadingData = false;
            }
        },
        showCorrelative(data){
            this.openCorrelative = true;
            this.payment_data = data;
        },
        closePaymentCorrelative(){
            this.openCorrelative = false;
        }
    },
    watch: {
        payments_paid_out(val){
            this.$emit("paid-outs",val);
        }
    },
    mounted() {
        this.getPaymentsOfLoand();
        this.checkSunday();
        this.checkExist();
    }
}
</script>

<style scoped>

</style>
