<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <v-icon large color="primary" class="pr-2">
                    mdi-cash
                </v-icon>
                {{payment.correlative || "sin correlativo"}}
                <v-spacer></v-spacer>
                <v-chip
                    class="ma-1"
                    :color="colorState(payment)"
                    text-color="white"
                    small
                >
                    <strong>{{ payment.state }}</strong>
                </v-chip>
            </v-card-title>
            <v-card-text>
                <v-row class="pt-5">
                    <v-col cols="12">
                        <div class="pt-md-2">
                            <span class="">
                                Estos son los datos que actualmente estan en la cuota.
                            </span>
                        </div>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Prestamo:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4>
                                    {{loand.correlative || payment.loand_correlative}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="3" align="">
                                <h4>
                                    Cliente:
                                </h4>
                            </v-col>
                            <v-col cols="9" align="right">
                                <h4>
                                    {{loand.customer_name || payment.customer}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="" v-if="payment.paid_out">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="5" align="">
                                <h4>
                                   extraordinario:
                                </h4>
                            </v-col>
                            <v-col cols="7" align="right">
                                <v-chip
                                    :color="payment.extraordinary? 'primary': 'blue-grey lighten-2'"
                                    label small
                                >
                                    <strong>
                                        {{payment.extraordinary? "SI": "NO"}}
                                    </strong>
                                </v-chip>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Abono a capital:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4>
                                    {{formatCurrencyGT(payment.capital_payment)}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Interés:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4 v-if="payment.no_interest_payment">
                                    no cobrada
                                </h4>
                                <h4 v-else>
                                    {{formatCurrencyGT(payment.interest_payment)}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="" v-if="loand.late_fee>0">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Mora:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4 v-if="payment.no_late_fee">
                                    no cobrada
                                </h4>
                                <h4 v-else>
                                    {{formatCurrencyGT(payment.late_fee)}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4 class="font-weight-bold primary--text">
                                    Total:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4 class="font-weight-bold primary--text">
                                    {{formatCurrencyGT(payment.total_payment)}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                <h4 class="font-weight-bold">
                                    Notas:
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                {{payment.collection_note}}
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row v-if="payment.was_annulled">
                    <v-col cols="12">
                        <v-divider></v-divider>
                        <h3 class="primary--text pt-10">
                            Datos de reversión
                        </h3>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="4" align="">
                                <h4>
                                    Revertido por:
                                </h4>
                            </v-col>
                            <v-col cols="8" align="right">
                                <h4>
                                    {{payment.nullified_by_name}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="6" align="">
                                <h4>
                                    Revertido el:
                                </h4>
                            </v-col>
                            <v-col cols="6" align="right">
                                <h4>
                                    {{payment.nullified_at}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                <h4 class="font-weight-bold">
                                    Nota reversión:
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                {{payment.annulment_note}}
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row v-if="payment.was_annulled">
                    <v-col cols="12">
                        <v-divider></v-divider>
                        <h3 class="primary--text pt-10">
                            Cobro anterior (no valido)
                        </h3>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="4" align="">
                                <h4>
                                    Cobrador:
                                </h4>
                            </v-col>
                            <v-col cols="8" align="right">
                                <h4>
                                    {{payment.prev_collected_by_name}}
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                <h4 class="font-weight-bold">
                                    Nota anterior:
                                </h4>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" class="">
                        <v-row class="px-sm-10 px-2">
                            <v-col cols="12" align="">
                                {{payment.prev_collection_note}}
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="support" text @click="close"> Aceptar </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";
export default {
    name: "PaymentShow",
    props:{
        payment: Object,
        loand: Object,
        open: Boolean,
    },
    data() {
        return {
            dialog: this.open,
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        colorState(item){
            if(item.state ==="PAGADO"){
                return "primary"
            }
            if(item.state ==="REVERTIDO"){
                return "secondary"
            }
            return "blue-grey lighten-2"
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value)
        },
        close() {
            this.$emit("close-paymentShow");
        },
    },

}
</script>

<style scoped>

</style>
