<template>
    <v-dialog v-model="dialog" width="400" persistent >
        <v-card class="pa-2">
            <v-card-text>
                    <v-row class="pt-5">
                        <v-col cols="12" align="center">
                            <h2 class="">Pago realizado con exito</h2>
                        </v-col>
                        <v-col cols="12" align="center">
                            <box-icon
                                name='check-circle'
                                size="lg"
                                :color="'#26c6da'"
                                class="icon-custom"
                            ></box-icon>
                            <h2 class="secondary--text">{{paymentData.payment.correlative}}</h2>
                            <h3>correlativo</h3>
                        </v-col>
                        <v-col cols="12" class="pb-0">
                            <p>
                                <strong>Nota:</strong>
                                Copia el numero de correlativo en el carton del prestamo.
                            </p>
                        </v-col>
                        <v-col cols="12">
                            <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12" class="py-0">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <h4>Prestamo:</h4>
                                </v-col>
                                <v-col cols="6" align="right">
                                    {{paymentData.loand.correlative}}
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="12">
                            <v-row no-gutters>
                                <v-col cols="6">
                                    <h4>Monto:</h4>
                                </v-col>
                                <v-col cols="6" align="right">
                                    {{formatCurrencyGT(paymentData.payment.total_payment)}}
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="12">
                            <v-btn
                                color="primary"
                                block
                                @click="close"
                                elevation="0"
                            > ACEPTAR </v-btn>
                        </v-col>
                    </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import {formatCurrencyGT} from "../../utils/formats";

export default {
    name: "PaymentCorrelative",
    props:{
        paymentData: Object,
        open: Boolean,
    },
    data() {
        return {
            dialog: this.open,
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        close() {
            this.$emit("close");
        },
    }
}
</script>

<style scoped>
.icon-custom{
    width: 100px;
    height: 100px;
}
</style>
