<template>
    <div>
        <heading-view
            bx-icon
            heading-icon="money-withdraw"
            heading-text="Pagos"
        />
        <v-row>
            <v-col cols="12">
                <payment-list-index></payment-list-index>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import HeadingView from "../../../components/ui/HeadingView";
import PaymentListIndex from "../../../components/Payments/PaymentListIndex";
export default {
    name: "PaymentIndex",
    components:{
        HeadingView,
        PaymentListIndex,
    }
}
</script>

<style scoped>

</style>
