<template>
    <div>
        <heading-view
            heading-icon="mdi-folder-marker-outline"
            :heading-text="'Departamentos'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Gestiona los departamentos en donde ofrecerás tus creditos."
        />
        <v-row>
            <v-col cols="12">
                <departamentos-list></departamentos-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import DepartamentosList from "../../../components/Settings/Departamentos/DepartamentosList";
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "Departamentos",
    components:{
        DepartamentosList,
        HeadingView,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Departamentos',
                disabled: true,
                href: 'departamentos.index',
            }
        ],
    }),
    mounted() {

    }

}
</script>
<style scoped>

</style>
