<template>
    <div>
        <heading-view
            heading-icon="mdi-map-marker-radius"
            :heading-text="'Municipios'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Gestiona los municipios en donde ofrecerás tus creditos."
        />
        <v-row>
            <v-col cols="12">
                <municipios-list></municipios-list>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import MunicipiosList from "../../../components/Settings/Municipios/MunicipiosList";
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "Municipios",
    components:{
        MunicipiosList,
        HeadingView,
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Municipios',
                disabled: true,
                href: 'municipios.index',
            }
        ],
    }),
}
</script>
<style scoped>

</style>
