<template>
    <div>
        <heading-view
            heading-icon="mdi-map-marker-path"
            :heading-text="'Sectores'"
            use-bread-crumbs
            :items-breadcrumbs=breadCrums
            use-support-text
            suport-text="Gestiona los sectores en donde ofrecerás tus creditos, un sector puede ser una aldea, colonia, etc."
        />
        <v-row>
            <v-col cols="12">
                <sectores-list
                    :departamentos="departamentos"
                    :municipios="municipios"
                    :can-create="canCreate"
                />
            </v-col>
        </v-row>
        <v-dialog v-model="dialogAlert" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    No puedes crear sectores
                </v-card-title>
                <v-card-text>
                    Para crear un sector, debe existir un departamento y municipio activo.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogAlert=false"> aceptar </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
import SectoresList from "../../../components/Settings/Sectores/SectoresList";
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "Municipios",
    components:{
        HeadingView,
        SectoresList
    },
    data: () => ({
        breadCrums: [
            {
                text: 'Configuraciones',
                disabled: false,
                href: 'settings.view',
            },
            {
                text: 'Sectores',
                disabled: true,
                href: 'sectores.index',
            }
        ],
        departamentos: [],
        municipios: [],
        dialogAlert : false,
        canCreate : true,
    }),
    methods:{
        async getDepartamentos() {
            try {
                const response = await axios.get(route('departamentos.index'), {
                    params: {
                        active: 1
                    }
                })
                this.departamentos  = response.data.departamentos
            }
            catch (error) {
                console.log(error);
            }
        },
        async getMunicipios() {
            try {
                const response = await axios.get(route('municipios.index'), {
                    params: {
                        active: 1
                    }
                } )

                this.municipios  = response.data.municipios
            }
            catch (error) {
                console.log(error);
            }
        },
        canCreateSector(){
            if(this.departamentos.length<1 || this.municipios.length<1){
                this.dialogAlert = true
                this.canCreate = false
            }
        }
    },
    async created() {
        await this.getDepartamentos()
        await this.getMunicipios()
        this.canCreateSector()
    },
}
</script>
<style scoped>

</style>
