<template>
    <div>
        <heading-view
            heading-icon="mdi-office-building-cog-outline"
            heading-text="Configuraciones"
            use-support-text
            suport-text="Estas son las partes del sistema que puedes configurar según tus necesidades."
        />
        <v-row class="mt-4">
            <v-col cols="12" sm="6" md="4" lg="3" xl="3" v-for="menu in menus" :key="menu.name" >
                <v-card
                    outlined
                    color="white"
                    max-width="350"
                    class="mx-auto"
                    @click="gotoRoute(menu.url)"
                >
                    <div class="d-flex flex-no-wrap justify-space-between">
                        <div>
                            <v-card-subtitle class="font-weight-bold header--text" v-text="menu.name"></v-card-subtitle>
                        </div>
                        <v-avatar
                            class="ma-3"
                            size="95"
                            tile
                        >
                            <v-icon
                                color="primary"
                                x-large
                            > mdi-{{menu.icon}}</v-icon>
                        </v-avatar>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
import HeadingView from "../../../components/ui/HeadingView";
export default {
    name: "Settings",
    components:{
        HeadingView
    },
    data: () => ({
        menus: [],
    }),
    mounted() {
        this.menus = [
            {
                icon: 'folder-marker-outline',
                name: "Departamentos",
                url: "departamentos.view",
            },
            {
                icon: 'map-marker-radius',
                name: "Municipios",
                url: "municipios.view",
            },
            {
                icon: 'map-marker-path',
                name: "Sectores",
                url: "sectores.view",
            },
            {
                icon: 'account-box-outline',
                name: "Usuarios",
                url: "users.view",
            },
        ];
    },
    methods:{
        gotoRoute(url){
            if(url!==''){
                this.$inertia.get(route(url))
            }
        }
    }
}
</script>

<style scoped>

</style>
