<template>
    <v-card flat class="pa-5">
        <v-card-text>
            <v-form ref="formRoute" lazy-validation>
                <v-row>
                    <v-col cols="12">
                        <p>Recuerda que al editar una ruta <strong>no podras editar</strong> el departamento o el municipio.</p>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-text-field
                            :disabled="!!item.id"
                            readonly
                            outlined
                            dense
                            v-model="item.correlative"
                            label="correlativo"
                            hint="Generado automaticamente"
                            persistent-hint
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6" class="offset-md-2">
                        <v-text-field
                            autofocus
                            outlined
                            dense
                            v-model="item.name"
                            label="Nombre de la ruta"
                            hint="1.Puedes nombrar la ruta como te favorezca"
                            persistent-hint
                            :rules="[rules.required]"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-autocomplete
                            :items="cobradores"
                            v-model="item.cobrador_id"
                            :filter="cobradoresFilter"
                            item-value="id"
                            label="Cobrador asignado"
                            dense
                            outlined
                            no-data-text="No se encontraron cobradores con esos datos."
                            messages="Busca por nombre o usuario"
                            :disabled="item.name==''"
                            :rules="[rules.required]"
                        >
                            <template v-slot:selection="data">
                                <small>
                                    {{ data.item.username }}
                                    <span class="font-weight-bold">/</span>
                                    {{ data.item.firstName }}
                                    {{ data.item.lastName }}
                                </small>
                            </template>
                            <template v-slot:item="data">
                                <template>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            <small class="font-weight-bold">
                                                {{ data.item.username }}
                                            </small>
                                        </v-list-item-title>
                                        <v-list-item-subtitle>
                                            <small>
                                                <span class="support--text">
                                                {{ data.item.firstName }}
                                                {{ data.item.lastName }}
                                                </span>
                                            </small>
                                        </v-list-item-subtitle>
                                    </v-list-item-content>
                                </template>
                            </template>
                        </v-autocomplete>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-select
                            outlined
                            dense
                            v-model="item.departamento_id"
                            :items="departamentos"
                            item-text="name"
                            item-value="id"
                            label="Departamento"
                            messages="3.selecciona el departamento para tu ruta."
                            :disabled="item.cobrador_id=='' || !!item.id "
                            :rules="[rules.required]"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-md-0">
                        <v-select
                            messages="4.Selecciona el municipio que deseas incluir en tu ruta"
                            outlined
                            dense
                            v-model="item.municipio_id"
                            :items="municipioItems"
                            item-text="name"
                            item-value="id"
                            label="Municipios"
                            class="py-5"
                            :menu-props="{ maxHeight: '400' }"
                            :disabled="item.departamento_id=='' || !!item.id"
                            :rules="[rules.required]"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-md-0">
                        <v-select
                            hint="5.Selecciona los sectores que deseas incluir en tu ruta"
                            persistent-hint
                            multiple
                            chips
                            outlined
                            v-model="item.sectores"
                            :items="sectoresItems"
                            item-text="name"
                            item-value="id"
                            label="Sectores"
                            class="py-5"
                            :menu-props="{ maxHeight: '400' }"
                            :disabled="item.municipio_id==''"
                            :rules="rulesMultiple"
                            no-data-text="sin sectores"
                        ></v-select>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                @click="goBack"
                text
                color="support"
            >
                <v-icon small left>
                    mdi-arrow-left
                </v-icon>
                regresar
            </v-btn>
            <v-btn
                @click="handleSubmit"
                elevation="0"
                color="primary"
            >
                {{ buttonTitle }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import {EventBus} from "../../../EventBus";

export default {
    name: "FormRoute",
    props:{
        routeParam: Object,
    },
    data: () => ({
        item:{
            correlative: '',
            cobrador_id: '',
            name: '',
            departamento_id: '',
            municipio_id: '',
            sectores: [],
        },
        departamentos: [],
        municipios: [],
        sectores: [],
        cobradores: [],
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
        rulesMultiple: [(v) =>  v.length>0 || "Debes seleccionar al menos un elemento."],
    }),
    computed:{
        buttonTitle() {
            return this.item.id ? "Actualizar" : "Guardar";
        },
        municipioItems(){
            return this.municipios.slice().filter((municipio) => municipio.departamento_id === this.item.departamento_id)
        },
        sectoresItems(){
            return this.sectores.slice().filter((sector) => sector.municipio_id === this.item.municipio_id)
            /*let sectoresMunicipio = this.sectores.slice().filter(sector => this.item.municipios.includes(sector.municipio_id));
            return sectoresMunicipio;*/
        }
    },
    methods:{
        goBack(){
            this.$inertia.get(route('routes.view'))
        },
        assignValues(){
            if(this.routeParam.id){
                this.item = {...this.routeParam}
            }else{
                this.getCorrelative()
            }
        },
        async getDepartamentos() {
            try {
                const response = await axios.get(route('departamentos.index'), {
                    params: {
                        active: 1
                    }
                })
                this.departamentos  = response.data.departamentos
            }
            catch (error) {
                console.log(error);
            }
        },
        async getMunicipios() {
            try {
                const response = await axios.get(route('municipios.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.municipios  = response.data.municipios
            }
            catch (error) {
                console.log(error);
            }
        },
        async getSectores() {
            try {
                const response = await axios.get(route('sectores.index'), {
                    params: {
                        active: 1
                    }
                } )
                this.sectores  = response.data.sectores
            }
            catch (error) {
                console.log(error);
            }
        },
        async getCorrelative(){
            if(!this.item.id){
                axios.get(route('routes.correlative'))
                    .then( response => {
                        this.item.correlative = response.data.correlative
                    })
                    .catch(error =>{
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de generar el correlativo de la ruta.",
                            type: "error",
                        });
                        console.log(error)
                    })
            }
        },
        async getCobradores(){
            axios.get(route('users.collectors'))
                .then( response => {
                    this.cobradores = response.data.cobradores
                })
                .catch(error =>{
                    EventBus.$emit("snackbar", {
                        text: "ha ocurrido un error al momento de generar el codigo de usuario",
                        type: "error",
                    });
                    console.log(error)
                })
        },
        cobradoresFilter(item, queryText) {
            const usuario = item.username.toString();
            const nombre = item.firstName.toLowerCase();
            const apellidos = item.lastName.toLowerCase();
            const searchText = queryText.toLowerCase();
            return usuario.indexOf(searchText) > -1 || nombre.indexOf(searchText) > -1 || apellidos.indexOf(searchText) > -1;
        },
        handleSubmit(){
            if(!this.$refs.formRoute.validate()){
                EventBus.$emit("snackbar", {
                    text: "Por favor, verifica los datos a guardar.",
                    type: "info",
                });
                return
            }
            this.$emit('formRouteSubmit', this.item);
        },

    },
    watch:{
        sectoresItems(){
            if (!this.item.id){
                this.item.sectores = []
            }
            this.$refs.formRoute.resetValidation();
        },
        municipiosItems(){
            this.item.municipio_id = ""
        }

    },
    mounted() {
        this.getDepartamentos()
        this.getMunicipios()
        this.getSectores()
        this.getCobradores()
        this.assignValues()
    }
}
</script>

<style scoped>

</style>
