<template>
    <div>
        <v-card flat>
            <v-col cols="12" align="right">
                <v-btn
                    color="primary"
                    elevation="0"
                    @click="gotoRoute('routes.create')"
                >
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Nueva ruta
                </v-btn>
            </v-col>
            <v-col cols="12">
                <v-data-table
                    fixed-header
                    :search="search"
                    :headers="headers"
                    :items="items"
                    :items-per-page=3
                    :loading=loadingData
                    loading-text="Un momento por favor..."
                    no-results-text="Lo sentimos, No existe algúna ruta con esos datos de busqueda."
                    :header-props="{'sort-by-text':'Ordenar por'}"
                    :footer-props="{'items-per-page-text':'Rutas por página','items-per-page-all-text':'Todos'}"
                >
                    <template v-slot:top class="">
                            <v-row class="pb-4">
                                <v-col cols="12" sm="6" md="4" class="offset-md-1">
                                    <h5 class="float-sm-right pt-3 font-weight-medium support--text">
                                        Busca por los datos en la tabla
                                    </h5>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field
                                        outlined
                                        dense
                                        align="center"
                                        v-model="search"
                                        append-icon="mdi-magnify"
                                        label="Ej. RT-00-1 , Sector 3"
                                        single-line
                                    ></v-text-field>
                                </v-col>
                            </v-row>

                    </template>
                    <template v-slot:no-results>
                        <data-empty
                            text="Lo sentimos, No existe algúna ruta con esos datos de busqueda."
                        />
                    </template>
                    <template v-slot:no-data>
                        <data-empty
                            text="Aun no hay rutas creadas"
                        />
                    </template>
                    <template v-slot:item.departamento_id="{item}">
                        <span>{{item.departamentoName}}</span>
                    </template>
                    <template v-slot:item.municipio_id="{item}">
                        <span>{{item.municipioName}}</span>
                    </template>
                    <template v-slot:item.cobrador_id="{item}">
                        <span>{{item.cobradorName}}</span>
                    </template>
                    <template v-slot:item.sectoresName="{item}">
                        <div v-if="item.sectoresName.length<=3">
                            <v-chip-group
                                active-class="support--text"
                                mandatory
                                column
                            >
                                <v-chip
                                    small
                                    v-for="sector in item.sectoresName"
                                    :key="sector"
                                >
                                    {{ sector }}
                                </v-chip>
                            </v-chip-group>
                        </div>
                        <div v-else>
                            <v-chip-group
                                active-class="support--text"
                                mandatory
                                column
                            >
                                <v-chip
                                    small
                                    v-for="sector in 2"
                                    :key="sector"
                                >
                                    {{ item.sectoresName[sector] }}
                                </v-chip>
                                <v-chip
                                    small
                                >
                                    +{{ item.sectoresName.length - 2 }}
                                </v-chip>
                            </v-chip-group>
                        </div>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <ui-table-actions
                            view
                            :edit="item.role_id != 2"
                            :item="item"
                            @edit-item="editItem"
                            @view-item="viewItem"
                        >
                            <template v-slot:preActions>
                                <v-list-item @click="gotoSort(item)">
                                    <v-list-item-icon>
                                        <v-icon color="primary" small right>
                                            mdi-swap-vertical
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            ordenar
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item @click="deleteItem(item)">
                                    <v-list-item-icon>
                                        <v-icon color="primary" small right>
                                            mdi-delete
                                        </v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            eliminar
                                        </v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </ui-table-actions>
                    </template>
                </v-data-table>
            </v-col>
        </v-card>
        <show-route
            :item="editedItem"
            :dialogShow="dialogShow"
            @close-show="closeShow"
            @dialog-show="(val) => (dialogShow = val)"
        ></show-route>
        <dialog-delete
            :item="editedItem"
            :dialog-delete="dialogDelete"
            :loading-delete="loadingDelete"
            title="¿Realmente deseas eliminar la ruta?"
            text="Al momento de eliminar se perdera permanentemente."
            @handle-confirm="deleteConfirmation"
            @close-delete="closeDelete"
            @dialog-delete="( val ) => ( dialogDelete = val )"
        ></dialog-delete>
    </div>
</template>

<script>
import DataEmpty from "../../ui/DataTable/DataEmpty";
import UiTableActions from "../../ui/DataTable/UiTableActions";
import ShowRoute from "./ShowRoute";
import DialogDelete from "../../ui/DialogDelete";
import {EventBus} from "../../../EventBus";
export default {
    name: "RouteList",
    components:{
        DataEmpty,
        UiTableActions,
        ShowRoute,
        DialogDelete,
    },
    data: () => ({
        search: "",
        dialogDelete: false,
        loadingDelete: false,
        dialogShow: false,
        items : [],
        loadingData: false,
        editedIndex: -1,
        editedItem:{
            correlative: '',
            cobrador_id: '',
            name: '',
            departamento_id: '',
            municipio_id: '',
            sectores: [],
        },
        defaultItem:{
            correlative: '',
            cobrador_id: '',
            name: '',
            departamento_id: '',
            municipio_id: '',
            sectores: [],
        },
    }),
    computed:{
        headers() {
            return [
                {
                    text: "Correlativo",
                    value: "correlative"
                },
                {
                    text: "Nombre",
                    value: "name"
                },
                {
                    text: "Departamento",
                    value: "departamento_id"
                },
                {
                    text: 'Municipio',
                    value: 'municipio_id',
                },
                {
                    text: 'Cobrador',
                    value: 'cobrador_id',
                },
                {
                    text: 'sectores',
                    value: 'sectoresName',
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false
                },
            ]
        },
    },
    methods:{
        deleteItem(item){
            this.editedIndex = this.items.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialogDelete = true
        },
        async deleteConfirmation(){
            this.loadingDelete = true
            axios.delete( route('routes.destroy', this.editedItem.id))
            .then( response => {
              EventBus.$emit("snackbar", {
                  text: response.data.message,
                  type: response.data.type,
              })
                this.getRoutes()
                this.loadingDelete = false
                this.dialogDelete = false
                this.$nextTick(() => {
                    this.resetItem()
                });
            })
            .catch( error => {
                EventBus.$emit("snackbar",{
                    text: "ha ocurrido un error al momento de eliminar la ruta, por favor comuniquese con el administrador del sistema.",
                    type: "error",
                })
                console.log(error);
            })
        },
        closeDelete(){
          this.dialogDelete = false;
          this.resetItem()
        },
        resetItem(){
            this.editedIndex = -1
            this.editedItem = Object.assign({}, this.defaultItem);
        },
        viewItem(item) {
            this.editedItem = Object.assign({}, item);
            this.dialogShow = true;
        },
        closeShow() {
            this.dialogShow = false;
            this.$nextTick(() => {
                this.resetItem()
            });
        },
        editItem(item) {
            this.$inertia.get(this.route('routes.edit',item))
        },
        gotoRoute(url){
            console.log(url);
            if(url!==''){
                this.$inertia.get(route(url))
            }
        },
        gotoSort(item){
            this.$inertia.get(route('routes.sort', item))
        },
        async getRoutes() {
            try {
                this.loadingData = true
                const response = await axios.get(route('routes.index'))
                this.items  = response.data.routes
                this.loadingData = false
            }
            catch (error) {
                console.log(error);
            }
        },
    },
    mounted() {
        this.getRoutes()
    }
}
</script>

<style scoped>

</style>
