<template>
    <v-dialog v-model="dialog" width="900" persistent >
        <v-card class="pa-2">
            <v-card-title class="text-h6 secondary--text font-weight-bold ">
                <v-icon large color="primary" class="pr-2">
                    mdi-motorbike
                </v-icon>
                <span class="primary--text pr-3">
                    {{item.correlative}}
                </span>
                Ruta para mañana
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12">
                        <p>
                            Estos son los préstamos y el orden en que les aparecerán a los cobradores mañana.
                        </p>
                        <small>
                            <strong>Nota:</strong>
                            Recuerda que puedes ordenar la ruta para optimizar los tiempos de cobro y gasolina.
                        </small>
                    </v-col>
                    <v-col cols="12" v-if="loadingData">
                        <v-row class="pb-5" no-gutters>
                            <v-col
                                cols="12"
                                class="p-0 m-0 pt-5"
                                align="center"
                                justify="center"
                            >
                                <v-progress-circular
                                    indeterminate
                                    size="60"
                                    color="primary"
                                ></v-progress-circular>
                            </v-col>
                            <v-col
                                cols="12"
                                class="p-0 grey--text text--darken-3"
                                align="center"
                                justify="center"
                            >
                                <h4 class="secondary--text">¡Un momento por favor !</h4>
                                <p class="font-weight-medium">
                                    Estamos obteniendo la informacion.
                                </p>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" v-else>
                        <div
                            v-if="items.length>0"
                            class="white overflow-y-auto overflow-x-hidden"
                            :class="$vuetify.breakpoint.xs? 'loans_container-mobile' : 'loans_container'"
                        >
                            <div class="">
                                <v-card outlined v-if="showMessage" class="pa-5 text-center">
                                    <h3 class="font-weight-bold">
                                        Recuerda que mañana es domingo, esta ruta es para el lunes.
                                    </h3>
                                </v-card>
                                <v-card
                                    class="my-2"
                                    outlined
                                    v-for="(item, i) in items" :key="item.id"
                                >
                                    <v-card-text class="py-md-1">
                                        <v-expansion-panels
                                            flat
                                            class="mt-0"
                                        >
                                            <v-expansion-panel>
                                                <v-expansion-panel-header class="pa-0">
                                                    <template v-slot:default="{ open }">
                                                        <v-row class="pa-0 ma-0">
                                                            <v-col cols="6" md="1" order="1" order-sm="1">
                                                                <v-avatar
                                                                    color="secondary"
                                                                    size="30"
                                                                >
                                                                    <strong class="white--text">
                                                                        {{ i+1 }}
                                                                    </strong>
                                                                </v-avatar>
                                                            </v-col>
                                                            <v-col cols="12" md="2" order="3" order-sm="2">
                                                                <h4 class="font-weight-bold primary--text pt-2">
                                                                    {{item.correlative}}
                                                                </h4>
                                                            </v-col>
                                                            <v-col cols="12" md="6" order="4" order-sm="3">
                                                                <v-row no-gutters>
                                                                    <v-col cols="12" md="2">
                                                                        <h4 class="pt-2">
                                                                            Cliente:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="10">
                                                                        <p class="pt-2">
                                                                            {{item.customer_name}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                            <v-col cols="6" md="2" order="2" order-sm="4">
                                                                <v-chip
                                                                    small
                                                                    class="float-right"
                                                                    color="primary"
                                                                >
                                                                    <strong>{{item.type}}</strong>
                                                                </v-chip>
                                                            </v-col>
                                                        </v-row>
                                                    </template>
                                                </v-expansion-panel-header>
                                                <v-expansion-panel-content>
                                                    <v-row
                                                        class=""
                                                        no-gutters
                                                    >
                                                        <v-col cols="12">
                                                            <v-divider></v-divider>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters class="pt-5">
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Telefonos
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.phoneOne}}
                                                                        {{item.phoneTwo? ", "+item.phoneTwo : ""}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters>
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Direccion:
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.address}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters>
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Direccion referencia:
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.referenceAddress}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                    </v-row>
                                                </v-expansion-panel-content>
                                            </v-expansion-panel>
                                        </v-expansion-panels>
                                    </v-card-text>
                                </v-card>
                            </div>
                        </div>
                        <v-row v-else class="pb-5" no-gutters>
                            <v-col
                                cols="12"
                                class="p-0 m-0 pt-5"
                                align="center"
                                justify="center"
                            >
                                <v-icon style="font-size: 3em">
                                    mdi-folder-information-outline
                                </v-icon>
                            </v-col>
                            <v-col
                                cols="12"
                                class="p-0 grey--text text--darken-3"
                                align="center"
                                justify="center"
                            >
                                <h4 class="secondary--text">¡No hay prestamos por visitar !</h4>
                            </v-col>
                            <v-col cols="12" class="pt-5">
                                <p class="font-weight-medium">
                                    <strong>No te preocupes</strong>, puede ser por las siguientes situaciones:
                                </p>
                                <ul>
                                    <li>
                                        No hay cuotas a cobrar por ser domingo.
                                    </li>
                                    <li>
                                        Se pagaron las cuotas extraordinariamente.
                                    </li>
                                    <li>
                                        No hay ningún prestamo con una cuota con fecha estimada para mañana.
                                    </li>
                                </ul>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn elevation="0" color="primary" outlined @click="gotoSort" >
                    <v-icon left>
                        mdi-swap-vertical
                    </v-icon>
                    ordenar
                </v-btn>
                <v-btn elevation="0" color="primary"  @click="close">
                    aceptar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import {formatCurrencyGT} from "../../../utils/formats";
import moment from "moment";
import {EventBus} from "../../../EventBus";

export default {
    name: "RouteCollectTomorrow",
    props:{
        item: Object,
        open: Boolean,
    },
    data() {
        return {
            dialog: this.open,
            items: [],
            today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            showMessage : false,
            loadingData: false,
        };
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        open(val) {
            this.dialog = val;
        },
    },
    methods:{
        gotoSort(){
            this.$inertia.get(route('routes.sort', this.item))
        },
        formatCurrencyGT(value){
            return formatCurrencyGT(value);
        },
        close() {
            this.$emit("close");
        },
        async getLoans(){
            this.loadingData = true;
            const response = await axios.get(route('routes.collectTomorrow', this.item.id))
            this.items = response.data.loans;
            if(moment(this.today).add(1, 'd').day() === 0){
                this.showMessage = true;
            }
            this.loadingData = false;
        }
    },
    mounted() {
        this.getLoans();
    }
}
</script>

<style scoped>
.loans_container {
    min-height: 390px;
    max-height: 390px;
}
.loans_container-mobile {
    min-height: 600px;
    max-height: 600px;
}
</style>
