<template>
    <div>
        <div
            v-if="items.length>0"
            class="white overflow-y-auto overflow-x-hidden"
            :class="$vuetify.breakpoint.xs? 'loans_container-mobile' : 'loans_container'"
        >
            <div class="px-md-15">
                <v-card
                    class="my-2"
                    outlined
                    v-for="(item, i) in items" :key="item.id"
                >
                    <v-card-text class="py-md-1">
                        <v-expansion-panels
                            flat
                            class="mt-0"
                        >
                            <v-expansion-panel>
                                <v-expansion-panel-header class="pa-0">
                                    <template v-slot:default="{ open }">
                                        <v-row class="pa-0 ma-0">
                                            <v-col cols="6" md="1" order="1" order-sm="1">
                                                <v-avatar
                                                    color="secondary"
                                                    size="30"
                                                >
                                                    <strong class="white--text">
                                                        {{ i+1 }}
                                                    </strong>
                                                </v-avatar>
                                            </v-col>
                                            <v-col cols="12" md="2" order="3" order-sm="2">
                                                <h4 class="font-weight-bold primary--text pt-2">
                                                    {{item.correlative}}
                                                </h4>
                                            </v-col>
                                            <v-col cols="12" md="6" order="4" order-sm="3">
                                                <v-row no-gutters>
                                                    <v-col cols="12" md="2">
                                                        <h4 class="pt-2">
                                                            Cliente:
                                                        </h4>
                                                    </v-col>
                                                    <v-col cols="12" md="10">
                                                        <p class="pt-2">
                                                            {{item.customer_name}}
                                                        </p>
                                                    </v-col>
                                                </v-row>
                                            </v-col>
                                            <v-col cols="6" md="2" order="2" order-sm="4">
                                                <v-chip
                                                    small
                                                    class="float-right"
                                                    color="primary"
                                                >
                                                    <strong>{{item.type}}</strong>
                                                </v-chip>
                                            </v-col>
                                            <v-col cols="12" md="1" order="5" order-sm="5">
                                                <v-btn
                                                    :icon="$vuetify.breakpoint.smAndUp"
                                                    :block="!$vuetify.breakpoint.smAndUp"
                                                    elevation="0"
                                                    color="secondary"
                                                    class="handle" :class="$vuetify.breakpoint.mdAndUp?'float-right':''"
                                                    @click.native="preventOpen($event)"
                                                    @click="selectLoan(item)"
                                                >
                                                    <v-icon> mdi-arrow-right </v-icon>
                                                </v-btn>
                                            </v-col>
                                        </v-row>
                                    </template>
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-row
                                        class=""
                                        no-gutters
                                    >
                                        <v-col cols="12">
                                            <v-divider></v-divider>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-row no-gutters class="pt-5">
                                                <v-col cols="12" md="3">
                                                    <h4 class="">
                                                        Telefonos
                                                    </h4>
                                                </v-col>
                                                <v-col cols="12" md="9">
                                                    <p class="">
                                                        {{item.phoneOne}}
                                                        {{item.phoneTwo? ", "+item.phoneTwo : ""}}
                                                    </p>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-row no-gutters>
                                                <v-col cols="12" md="3">
                                                    <h4 class="">
                                                        Direccion:
                                                    </h4>
                                                </v-col>
                                                <v-col cols="12" md="9">
                                                    <p class="">
                                                        {{item.address}}
                                                    </p>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-row no-gutters>
                                                <v-col cols="12" md="3">
                                                    <h4 class="">
                                                        Direccion referencia:
                                                    </h4>
                                                </v-col>
                                                <v-col cols="12" md="9">
                                                    <p class="">
                                                        {{item.referenceAddress}}
                                                    </p>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-card-text>
                </v-card>
            </div>
        </div>
        <v-row v-else class="pb-15" no-gutters>
            <v-col
                cols="12"
                class="p-0 m-0 pt-15"
                align="center"
                justify="center"
            >
                <v-icon style="font-size: 3em">
                    mdi-folder-information-outline
                </v-icon>
            </v-col>
            <v-col
                cols="12"
                class="p-0 grey--text text--darken-3"
                align="center"
                justify="center"
            >
                <h4 class="secondary--text">¡No hay prestamos por visitar !</h4>
                <small class="font-weight-medium">Es probable que ya los visitaste o que no existan prestamos en ruta para hoy.</small>
                <v-btn
                    @click="goToMyRoutes"
                    elevation="0"
                    color="primary"
                    class="mt-5"
                >
                    volver a mis rutas
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    name: "RouteCollectPayments",
    props:{
        items: Array,
    },
    methods:{
        goToMyRoutes(){
            this.$inertia.get(route('routes.routeCobrador'))
        },
        preventOpen: function (e) {
            e.cancelBubble = true;
        },
        selectLoan(item){
            this.$emit("handle-selection",item);
        },

    }
}
</script>

<style scoped>
.loans_container {
    min-height: 390px;
    max-height: 390px;
}
.loans_container-mobile {
    min-height: 600px;
    max-height: 600px;
}
</style>
