<template>
    <div>
        <v-row class="px-0">
            <v-col cols="12" class="py-5 px-10">
                <small>
                    Cobra todas las cuotas que el cliente quiera pagar, <strong>si no pagará</strong> da en el boton "continuar" para marcarlo como visitado.
                </small>
            </v-col>
            <v-col cols="12">
                <v-expansion-panels
                    flat
                    popout
                    v-model="panel"
                >
                    <v-expansion-panel :key="0" active-class="bg-color">
                        <v-expansion-panel-header class="">
                            <h3>
                                <span class="support--text">Datos del prestamo</span>
                            </h3>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row
                                class=""
                                no-gutters
                            >
                                <v-col cols="12">
                                    <h4 class="font-weight-bold primary--text pt-2">
                                        {{loand.correlative}}
                                    </h4>
                                </v-col>
                                <v-col cols="12">
                                    <v-row no-gutters class="pt-5">
                                        <v-col cols="12" md="3">
                                            <h4 class="">
                                                Cliente
                                            </h4>
                                        </v-col>
                                        <v-col cols="12" md="9">
                                            <p class="">
                                                {{loand.customer_name}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="12">
                                    <v-row no-gutters class="pt-5">
                                        <v-col cols="12" md="3">
                                            <h4 class="">
                                                Numero de cuotas
                                            </h4>
                                        </v-col>
                                        <v-col cols="12" md="9">
                                            <p class="">
                                                {{loand.dues}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="12">
                                    <v-row no-gutters class="pt-5">
                                        <v-col cols="12" md="3">
                                            <h4 class="">
                                                Telefonos
                                            </h4>
                                        </v-col>
                                        <v-col cols="12" md="9">
                                            <p class="">
                                                {{loand.phoneOne}}
                                                {{loand.phoneTwo? ", "+loand.phoneTwo : ""}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="12">
                                    <v-row no-gutters>
                                        <v-col cols="12" md="3">
                                            <h4 class="">
                                                Direccion:
                                            </h4>
                                        </v-col>
                                        <v-col cols="12" md="9">
                                            <p class="">
                                                {{loand.address}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="12">
                                    <v-row no-gutters>
                                        <v-col cols="12" md="3">
                                            <h4 class="">
                                                Direccion referencia:
                                            </h4>
                                        </v-col>
                                        <v-col cols="12" md="9">
                                            <p class="">
                                                {{loand.referenceAddress}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col cols="12" align="center" class="secondary pa-3 white--text rounded">
                                    <v-row no-gutters>
                                        <v-col cols="12">
                                            <h4 class="">
                                                Saldo pendiente
                                            </h4>
                                            <v-divider class="white my-3"></v-divider>
                                        </v-col>
                                        <v-col cols="12">
                                            <p class="font-weight-bold">
                                                {{formatCurrencyGT(saldo)}}
                                            </p>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel :key="1" active-class="bg-color">
                        <v-expansion-panel-header>
                            <h3>
                                <span class="support--text">Cuotas a cobrar</span>
                            </h3>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row
                                class=""
                                no-gutters
                            >
                                <v-col cols="12"
                                       v-if="Object.keys(payments_for_today).length>0 || payments_for_today.length>0"
                                >
                                    <v-card
                                        @click="payItem(item)"
                                        :disabled="!item.available_to_pay"
                                        class="my-2"
                                        flat
                                        v-for="item in payments_for_today" :key="item.id"
                                    >
                                        <v-row class="px-3 py-5" no-gutters>
                                            <v-col cols="6" md="1" order="1" order-sm="1">
                                                <small class="font-weight-bold support--text text--lighten-3">
                                                    {{item.estimated_payment_date}}
                                                </small>
                                            </v-col>
                                            <v-col
                                                cols="12" align="center" order="3" order-sm="3"
                                            >
                                                <p :class="calculateLateDaysColor(item.estimated_payment_date)"
                                                   class="pt-4"
                                                >
                                                    {{ calculateLateDays(item.estimated_payment_date)}}
                                                </p>
                                            </v-col>
                                            <v-col cols="12" md="6" order="4" order-sm="2">
                                                <h2 class="support--text">
                                                    {{formatCurrencyGT(item.total_payment)}}
                                                </h2>
                                            </v-col>
                                            <v-col cols="6" md="2" order="2" order-sm="4">
                                                <v-chip
                                                    small
                                                    class="float-right"
                                                    :color="item.state ==='PENDIENTE' ? 'primary' : 'secondary'"
                                                >
                                                    <strong>{{item.state}}</strong>
                                                </v-chip>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-col>
                                <v-col cols="12" v-else>
                                    <v-row  class="pb-15" no-gutters>
                                        <v-col
                                            cols="12"
                                            class="p-0 m-0 pt-15"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-icon style="font-size: 3em">
                                                mdi-folder-information-outline
                                            </v-icon>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            class="p-0 grey--text text--darken-3"
                                            align="center"
                                            justify="center"
                                        >
                                            <h4 class="secondary--text">¡No hay cuotas por cobrar !</h4>
                                            <small class="font-weight-medium">Se han pagado las coutas agendadas en la ruta de hoy.</small>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel :key="2" active-class="bg-color">
                        <v-expansion-panel-header >
                            <h3>
                                <span class="support--text">Cuotas Extras</span>
                            </h3>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row
                                class=""
                                no-gutters
                            >
                                <v-col cols="12"
                                       v-if="Object.keys(payments_extraordinary).length>0 || payments_extraordinary.length>0"
                                >
                                    <v-card
                                        @click="payItem(item)"
                                        :disabled="!item.available_to_pay"
                                        class="my-2"
                                        flat
                                        v-for="item in payments_extraordinary" :key="item.id"
                                    >
                                        <v-row class="px-3 py-5" no-gutters>
                                            <v-col cols="6" md="1" order="1" order-sm="1">
                                                <small class="font-weight-bold support--text text--lighten-3">
                                                    {{item.estimated_payment_date}}
                                                </small>
                                            </v-col>
                                            <v-col
                                                cols="12" align="center" order="3" order-sm="3"
                                                class="pt-4"
                                            >
                                                <p :class="calculateLateDaysColor(item.estimated_payment_date)">
                                                    {{ calculateLateDays(item.estimated_payment_date)}}
                                                </p>
                                            </v-col>
                                            <v-col cols="12" md="6" order="4" order-sm="2">
                                                <h2 class="">
                                                    {{formatCurrencyGT(item.total_payment)}}
                                                </h2>
                                            </v-col>
                                            <v-col cols="6" md="2" order="2" order-sm="4">
                                                <v-chip
                                                    small
                                                    class="float-right"
                                                    :color="item.state =='PENDIENTE' ? 'primary' : 'secondary'"
                                                >
                                                    <strong>{{item.state}}</strong>
                                                </v-chip>
                                            </v-col>
                                        </v-row>
                                    </v-card>
                                </v-col>
                                <v-col cols="12" v-else>
                                    <v-row  class="pb-15" no-gutters>
                                        <v-col
                                            cols="12"
                                            class="p-0 m-0 pt-15"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-icon style="font-size: 3em">
                                                mdi-folder-information-outline
                                            </v-icon>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            class="p-0 grey--text text--darken-3"
                                            align="center"
                                            justify="center"
                                        >
                                            <h4 class="secondary--text">¡No hay cuotas por cobrar !</h4>
                                            <small class="font-weight-medium">Se han completado las cuotas del prestamo.</small>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
            <v-col cols="12">
                <v-btn
                    @click="back"
                    :disabled="noBack"
                    color="support"
                    class="float-left"
                    text
                >
                    volver
                </v-btn>
                <v-btn
                    @click="next"
                    color="primary"
                    elevation="0"
                    class="float-right"
                >
                    continuar
                </v-btn>
            </v-col>
        </v-row>
        <pay-individual-payment
            v-if="openPay"
            :open="openPay"
            :payment="tempPayment"
            :loand="loand"
            @close="closePayItem"
            @refresh="getPaymentsOfLoand"
            @show-correlative="showCorrelative"
        />
        <payment-correlative
            v-if="openCorrelative"
            :open="openCorrelative"
            :payment-data="payment_data"
            @close="closePaymentCorrelative"
        />
    </div>
</template>

<script>
import {formatCurrencyGT} from "../../../utils/formats";
import moment from "moment";
import PayIndividualPayment from "../../Payments/PayIndividualPayment";
import PaymentCorrelative from "../../Payments/PaymentCorrelative";
export default {
    name: "RouteCollectPayments",
    props:{
        loand: Object,
    },
    components:{
        PayIndividualPayment,
        PaymentCorrelative,
    },
    data: () => ({
        panel: 0,
        payments_for_today : [],
        payments_extraordinary : [],
        today: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
        openPay: false,
        openCorrelative:false,
        payment_data : {},
        tempPayment: {},
        noBack:false,
    }),
    computed:{
        saldo(){
            let saldo = 0;
            this.payments_for_today.forEach((payment) =>{
                  let respuesta = this.calculateLateDays(payment.estimated_payment_date)
                  saldo += payment.total_payment;
                  if(respuesta.includes("atraso")){
                      saldo += this.loand.late_fee? this.loand.late_fee : 0;
                  }
            });

            this.payments_extraordinary.forEach((payment) =>{
                saldo += payment.total_payment;
            });
              return saldo;
        }
    },
    methods:{
        back() {
            this.$emit('back');
        },
        next() {
            this.$emit('next');
        },
        payItem(item){
            this.tempPayment = Object.assign({}, { ...item});
            this.openPay = true;
        },
        closePayItem(){
            this.openPay = false;
            this.tempPayment = Object.assign({}, {});
        },
        calculateLateDays(estimated_payment_date){
            var a = moment(this.today);
            var b = moment(this.formatDateReverse(estimated_payment_date));
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "dia actual"
            }
            if(diff <0){
                return "extraordinario"
            }
            if(diff >0){
                return `atraso ${diff} dia(s)`
            }
        },
        calculateLateDaysColor(estimated_payment_date){
            var a = moment(this.today);
            var b = moment(this.formatDateReverse(estimated_payment_date));
            var diff = a.diff(b, 'days')

            if(diff===0){
                return "green--text"
            }
            if(diff <0){
                return "blue--text"
            }
            if(diff >0){
                return "red--text"
            }
        },
        formatDateReverse (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${year}-${month}-${day}`
        },
        formatCurrencyGT(value){
          return formatCurrencyGT(value);
        },
        preventOpen: function (e) {
            e.cancelBubble = true;
        },
        selectLoan(item){
            this.$emit("handle-selection",item);
        },
        async getPaymentsOfLoand(item){
            const response = await axios.get(route('payments.paymentOfLoandPending',this.loand.id));
            this.payments_for_today = response.data.payments_for_today;
            this.payments_extraordinary = response.data.payments_extraordinary;
            this.tempItem = Object.assign({}, { ...item});
            this.noBack = false;
        },
        showCorrelative(data){
            this.openCorrelative = true;
            this.payment_data = data;
        },
        closePaymentCorrelative(){
            this.openCorrelative = false;
            this.noBack = true;
        }
    },
    watch:{
        loand(value){
            if(value){
                this.getPaymentsOfLoand();
            }
        }
    },
    mounted() {
        this.getPaymentsOfLoand();
    }

}
</script>

<style scoped>
.bg-color{
    background-color: #f2f4fe !important;
    /*background-color: #3349b6 !important;*/
}
</style>
