<template>
    <div>
        <v-card flat>
            <v-row no-gutters>
                <v-col cols="12">
                    <div class="white overflow-y-auto overflow-x-hidden "
                         :class="$vuetify.breakpoint.xs? 'loans_container-mobile' : 'loans_container'"
                    >
                        <div class="px-md-15">
                            <draggable v-model="items" group="loans" @start="drag=true" @end="drag=false" handle=".handle">
                                <v-card
                                    class="my-2"
                                    outlined
                                    v-for="(item, i) in items" :key="item.order"
                                >
                                    <v-card-text class="py-md-1">
                                        <v-expansion-panels
                                            flat
                                            class="mt-0"
                                        >
                                            <v-expansion-panel>
                                                <v-expansion-panel-header class="pa-0">
                                                    <template v-slot:default="{ open }">
                                                        <v-row class="pa-0 ma-0">
                                                            <v-col cols="6" md="1" order="1" order-sm="1">
                                                                <v-avatar
                                                                    color="secondary"
                                                                    size="30"
                                                                >
                                                                    <strong class="white--text">
                                                                        {{ i+1 }}
                                                                    </strong>
                                                                </v-avatar>
                                                            </v-col>
                                                            <v-col cols="12" md="2" order="3" order-sm="2">
                                                                <h4 class="font-weight-bold primary--text pt-2">
                                                                    {{item.correlative}}
                                                                </h4>
                                                            </v-col>
                                                            <v-col cols="12" md="6" order="4" order-sm="3">
                                                                <v-row no-gutters>
                                                                    <v-col cols="12" md="2">
                                                                        <h4 class="pt-2">
                                                                            Cliente:
                                                                        </h4>
                                                                    </v-col>
                                                                    <v-col cols="12" md="10">
                                                                        <p class="pt-2">
                                                                            {{item.customer_name}}
                                                                        </p>
                                                                    </v-col>
                                                                </v-row>
                                                            </v-col>
                                                            <v-col cols="6" md="2" order="2" order-sm="4">
                                                                <v-chip
                                                                    small
                                                                    class="float-right"
                                                                    color="primary"
                                                                >
                                                                    <strong>{{item.type}}</strong>
                                                                </v-chip>
                                                            </v-col>
                                                            <v-col cols="12" md="1" order="5" order-sm="5">
                                                                <v-btn
                                                                    :icon="$vuetify.breakpoint.smAndUp"
                                                                    :block="!$vuetify.breakpoint.smAndUp"
                                                                    elevation="0"
                                                                    :outlined="!$vuetify.breakpoint.smAndUp"
                                                                    color="support lighten-3"
                                                                    class="handle" :class="$vuetify.breakpoint.mdAndUp?'float-right':''"
                                                                    @click.native="preventOpen($event)"
                                                                >
                                                                    <v-icon> mdi-drag-variant </v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </template>
                                                </v-expansion-panel-header>
                                                <v-expansion-panel-content>
                                                    <v-row
                                                        class=""
                                                        no-gutters
                                                    >
                                                        <v-col cols="12">
                                                            <v-divider></v-divider>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters class="pt-5">
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Telefonos
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.phoneOne}}
                                                                        {{item.phoneTwo? ", "+item.phoneTwo : ""}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters>
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Direccion:
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.address}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                        <v-col cols="12">
                                                            <v-row no-gutters>
                                                                <v-col cols="12" md="3">
                                                                    <h4 class="">
                                                                        Direccion referencia:
                                                                    </h4>
                                                                </v-col>
                                                                <v-col cols="12" md="9">
                                                                    <p class="">
                                                                        {{item.referenceAddress}}
                                                                    </p>
                                                                </v-col>
                                                            </v-row>
                                                        </v-col>
                                                    </v-row>
                                                </v-expansion-panel-content>
                                            </v-expansion-panel>
                                        </v-expansion-panels>
                                    </v-card-text>
                                </v-card>
                            </draggable>
                        </div>
                    </div>
                </v-col>
            </v-row>
            <v-card-actions class="px-md-15 pb-5 pt-10 pt-md-0">
                <v-row>
                    <v-col cols="12" md="4" order="3" order-sm="1">
                        <v-btn
                            :block="$vuetify.breakpoint.xs"
                            @click="gotoBack"
                            color="grey darken-2"
                            text
                            :disabled="loadingSave"
                        >
                            volver
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="4" order="1" order-sm="2">
                        <v-btn
                            :block="$vuetify.breakpoint.xs"
                            @click="undoSort"
                            color="primary"
                            outlined
                            :disabled="loadingSave"
                        >
                            <v-icon left>
                                mdi-undo-variant
                            </v-icon>
                            restablecer orden
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="4" order="2" order-sm="3" align="right">
                        <v-btn
                            :block="$vuetify.breakpoint.xs"
                            @click="sort"
                            color="primary"
                            :loading="loadingSave"
                            elevation="0"
                        >
                            guardar orden
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
        <v-dialog v-model="dialogConfirmUndoSort" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Restablecer orden
                </v-card-title>
                <v-card-text>
                    Se perderan todos los cambios de posicion que has hecho
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogConfirmUndoSort=false" :disabled="loadingUndoSort"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="undoSortConfirm" :loading="loadingUndoSort">
                        Si, restablecer
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogConfirm" width="450" persistent>
            <v-card class="pa-2">
                <v-card-title class="text-h6 secondary--text font-weight-bold ">
                    <v-icon large color="primary" class="pr-2"> mdi-alert-circle-outline</v-icon>
                    Guardar orden
                </v-card-title>
                <v-card-text>
                    Este será el nuevo orden para esta ruta.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey darken-2"  text @click="dialogConfirm=false" :disabled="loadingSave"> volver </v-btn>
                    <v-btn color="primary"  outlined @click="save" :loading="loadingSave">
                        Si, guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>

</template>
<script>
import draggable from 'vuedraggable';
import {EventBus} from "../../../EventBus";
export default {
    name: "RSort",
    props: {
        loans: Array,
        routeParam: Object,
    },
    components:{
        draggable,
    },
    data: () => ({
        loadingSave:false,
        items : [],
        loandPanel: false,
        dialogConfirmUndoSort: false,
        dialogConfirm: false,
        loadingUndoSort: false,
    }),
    methods:{
        gotoBack(){
            this.$inertia.get(route('routes.view'))
        },
        preventOpen: function (e) {
            e.cancelBubble = true;
        },
        setItems(){
            this.items = this.loans.slice();
        },
        undoSort(){
            this.dialogConfirmUndoSort  = true;
        },
        undoSortConfirm(){
            this.loadingUndoSort = true;
            setTimeout(() => {
                this.setItems();
                this.loadingUndoSort = false;
                this.dialogConfirmUndoSort = false;
            }, 1000);
        },
        sort(){
            this.dialogConfirm  = true;
        },
        save(){
            this.loadingSave = true;
            let newSort = this.items.map((item,index) => {
                return {
                    id : item.id,
                    correlative: item.correlative,
                    order : index+1,
                    oldOrder: item.order,
                }
            });
            let data = {
                arraySort: newSort
            };
            this.$inertia.post(this.route('routes.storeSort',{
                    route:this.routeParam.id,
                }), data,{
                    onSuccess: () => {
                        this.loadingSave = false;
                        this.dialogConfirm = false;
                    },
                    onError: (errors) => {
                        console.log(errors);
                        this.loadingSave = false;
                        this.close();
                        EventBus.$emit("snackbar", {
                            text: "ha ocurrido un error al momento de guardar el orden, comuniquese con el administrador del sistema.",
                            type: "error",
                        });
                    },
                }
            );
        }
    },
    mounted() {
        this.setItems()
    }
}
</script>

<style scoped>
    .handle {
        float: left;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .loans_container {
        min-height: 350px;
        max-height: 350px;
    }
    .loans_container-mobile {
        min-height: 600px;
        max-height: 600px;
    }
</style>
