<template>
    <v-dialog v-model="dialog" max-width="480" scrollable>
        <v-card class="pa-2">
            <v-card-title class="text-h6 primary--text">
                {{ item.correlative }}
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" md="4">
                        <span class="font-weight-bold">
                            Nombre:
                        </span>
                    </v-col>
                    <v-col cols="12" md="8">
                        <span class="">
                            {{ item.name }}
                        </span>
                    </v-col>
                    <v-col cols="12" md="4">
                        <span class="font-weight-bold">
                            Departamento:
                        </span>
                    </v-col>
                    <v-col cols="12" md="8">
                        <span class="">
                            {{ item.departamentoName }}
                        </span>
                    </v-col>
                    <v-col cols="12" md="4">
                        <span class="font-weight-bold">
                             Municipio:
                        </span>
                    </v-col>
                    <v-col cols="12" md="8">
                        <span class="">
                           {{item.municipioName}}
                        </span>
                    </v-col>
                    <v-col cols="12" md="4">
                        <span class="font-weight-bold">
                             Sectores:
                        </span>
                    </v-col>
                    <v-col cols="12" md="12">
                        <v-chip-group
                            active-class="support--text"
                            mandatory
                            column
                        >
                            <v-chip
                                small
                                v-for="sector in item.sectoresName"
                                :key="sector"
                            >
                                {{ sector }}
                            </v-chip>
                        </v-chip-group>
                    </v-col>
                    <v-col cols="12">
                        <span class="font-weight-bold">
                             Clientes existentes en ruta
                        </span>
                    </v-col>
                    <v-col cols="12">
                        listado
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    @click="closeShow"
                    color="support"
                    text
                >
                    Aceptar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "ShowRoute",
    props: {
        item: Object,
        dialogShow: Boolean,
    },
    data: () => ({
        dialog: false,
    }),
    methods: {
        closeShow() {
            this.$emit("close-show");
        },
    },
    watch: {
        dialog(value) {
            this.$emit("dialog-show", value);
        },
        dialogShow(val) {
            this.dialog = val;
        },
    },
}
</script>

<style scoped>

</style>
